<%= form_for(@recompensa_obtenida) do |f| %>
  <% if @recompensa_obtenida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recompensa_obtenida.errors.count, "error") %> prohibited this recompensa_obtenida from being saved:</h2>

      <ul>
      <% @recompensa_obtenida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :usuarios_id %><br />
    <%= f.number_field :usuarios_id %>
  </div>
  <div class="field">
    <%= f.label :rewards_id %><br />
    <%= f.number_field :rewards_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
