<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Recompensas obtenidas</h3>
          </div>
          <div class="col text-right">
            <!-- a href="#!" class="btn btn-sm btn-primary">See all</a -->
          </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th>Usuario</th>
              <th>Recompensa</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
          <% @recompensa_obtenidas.each do |recompensa_obtenida| %>
          <% usuario=Usuario.find_by_id(recompensa_obtenida.usuarios_id) %>
            <tr>
              <% if usuario!=nil %>
              <th scope="row"><%= usuario.nombre %> <%= usuario.apellido %></th>
              <% else %>
              <th scope="row">---</th>
              <% end %>
              <% 
              reward=Reward.find_by_id(recompensa_obtenida.rewards_id)
              if reward!=nil %>
              <td><%= reward.titulo %></td>  
              <% else %>
              <td>---</td>  
              <% end %>
              
              
              <td><%= link_to 'Recompensa cobrada', recompensa_obtenida, method: :delete, data: { confirm: '¿Seguro que deseas marcar la recompensa como cobrada?' } %></td>
            </tr>
          <% end %>
          </thead>
          </table>

<br />

<% link_to 'New Recompensa obtenida', new_recompensa_obtenida_path %>
