<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @recompensa_obtenida.id %>
</p>

<p>
  <b>Usuarios:</b>
  <%= @recompensa_obtenida.usuarios_id %>
</p>

<p>
  <b>Rewards:</b>
  <%= @recompensa_obtenida.rewards_id %>
</p>


<%= link_to 'Edit', edit_recompensa_obtenida_path(@recompensa_obtenida) %> |
<%= link_to 'Back', recompensa_obtenidas_path %>
