<%= form_for(@entrenamiento) do |f| %>
  <% if @entrenamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrenamiento.errors.count, "error") %> prohibited this entrenamiento from being saved:</h2>

      <ul>
      <% @entrenamiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wod_id %><br />
    <%= f.number_field :wod_id %>
  </div>
  <div class="field">
    <%= f.label :ejercicio_id %><br />
    <%= f.number_field :ejercicio_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :establecimiento_id %><br />
    <%= f.number_field :establecimiento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
