<h1>Listing entrenamientos</h1>

<table>
  <tr>
    <th>Wod</th>
    <th>Ejercicio</th>
    <th>Start time</th>
    <th>End time</th>
    <th>User</th>
    <th>Establecimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrenamientos.each do |entrenamiento| %>
  <tr>
    <td><%= entrenamiento.wod_id %></td>
    <td><%= entrenamiento.ejercicio_id %></td>
    <td><%= entrenamiento.start_time %></td>
    <td><%= entrenamiento.end_time %></td>
    <td><%= entrenamiento.user_id %></td>
    <td><%= entrenamiento.establecimiento_id %></td>
    <td><%= link_to 'Show', entrenamiento %></td>
    <td><%= link_to 'Edit', edit_entrenamiento_path(entrenamiento) %></td>
    <td><%= link_to 'Destroy', entrenamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrenamiento', new_entrenamiento_path %>
