<p id="notice"><%= notice %></p>

<p>
  <b>Wod:</b>
  <%= @entrenamiento.wod_id %>
</p>

<p>
  <b>Ejercicio:</b>
  <%= @entrenamiento.ejercicio_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @entrenamiento.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @entrenamiento.end_time %>
</p>

<p>
  <b>User:</b>
  <%= @entrenamiento.user_id %>
</p>

<p>
  <b>Establecimiento:</b>
  <%= @entrenamiento.establecimiento_id %>
</p>


<%= link_to 'Edit', edit_entrenamiento_path(@entrenamiento) %> |
<%= link_to 'Back', entrenamientos_path %>
