<% if @ejercicios.length==0 %>
  
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>Atención!</strong> Antes de crear un WOD, debes crear ejercicios.
  </div>
<% end %>
        
<%= simple_form_for @wod_root,:html => {:multipart => true} do |f| %>
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Definir WOD</h3>
        </div>
        <div class="col text-right">
          <div class="actions">
            <% if @ejercicios.length>0 %>
              <div class="actions">
              <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <input type="hidden" name="workoutl" id="workoutl"/>
      <% if @wod_root.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wod_root.errors.count, "error") %> prohibited this wod_root from being saved:</h2>

          <ul>
          <% @wod_root.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      
      <div class="form-group">
        <%= f.input :name, required:true,label:"Nombre de WOD",input_html: { class:' form-control',placeholder:'Ej. Warrior WOD' } %>
      </div>
      <div class="form-group">
        <%= f.input :description,as: :text,label:"Descripción",input_html: { class:'form-control',rows:"3",placeholder:'Ej. Este WOD ejercita muslos y cadera' } %>
      </div>
      <div class="form-group">
        <%= f.input :time, required:true,label:"CAP time",input_html: { class:' form-control',placeholder:'ej. 20' } %>
      </div>
      <div class="form-group">
        <label for="ejercicios_lista">Lista de ejercicios</label>
        <select id="ejercicios_lista" multiple="multiple" class="form-control wod-list">
          <% @ejercicios.each do |singleWorkout| %>
            <option value="<%= singleWorkout.id %>" data-workout="<%= singleWorkout.id %>" <% if WodItem.where(:workout_id=>singleWorkout.id,:wod_id=>@wod_root.id).last!=nil %> selected="true" <% end %>><%= singleWorkout.name %></option>
          <% end -%>
        </select>
      </div>
      <% if @wod_root.portada!=nil and @wod_root!="" %>
        <img src="/images/<%= @wod_root.portada %>"  class="img-thumbnail">
      <% end %>
      <%= f.input :portada,:as=>:file, label: 'Seleccione una imagen de portada a subir (opcional)' , input_html: {class:'form-control',accept: ('*.*'),'data-show-preview'=>false } %>
      <div class="checkbox">
        <%= f.input :globalavailable, as: :boolean,label:"Set disponible para cualquier usuario dentro y fuera de tu box" %>
      </div>
    </div>
  </div>


  

<% end %>
