<h1>Listing wod_roots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Time</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wod_roots.each do |wod_root| %>
  <tr>
    <td><%= wod_root.name %></td>
    <td><%= wod_root.description %></td>
    <td><%= wod_root.time %></td>
    <td><%= wod_root.date %></td>
    <td><%= link_to 'Show', wod_root %></td>
    <td><%= link_to 'Edit', edit_wod_root_path(wod_root) %></td>
    <td><%= link_to 'Destroy', wod_root, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wod root', new_wod_root_path %>
