<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1"><% if @wod_root.globalavailable == 1 %> Este es un WOD que se comparte globalmente con la comunidad de SPORTFIT <% end %></h6>
            <h2 class="mb-0">Vista de WOD</h2>
          </div>
          <div class="col text-right">
            <%= link_to 'Regresar', wod_roots_path, :class => 'btn btn-sm btn-primary' %>
          </div>
        </div>
    </div>


    <div class="card-body">
      <p id="notice"><%= notice %></p>

      <%= simple_form_for @wod_root do |f| %>
      <input type="hidden" name="workoutl" id="workoutl"/>
        

        
        <div class="form-group">
          <%= f.input :name, disabled: (@wod_root.networkid != session[:cuser].networkid or session[:cuser].tipo != isAdmin()), required:true,label:"Nombre de WOD",input_html: { class:' form-control',placeholder:'Ej. Warrior WOD' } %>
        </div>
        <div class="form-group">
          <%= f.input :description, disabled: (@wod_root.networkid != session[:cuser].networkid or session[:cuser].tipo != isAdmin()),as: :text,label:"Descripción",input_html: { class:'form-control',rows:"3",placeholder:'Ej. Este WOD ejercita muslos y cadera' } %>
        </div>
        <div class="form-group">
          <%= f.input :time,disabled: (@wod_root.networkid != session[:cuser].networkid or session[:cuser].tipo != isAdmin()), required:true,label:"Tiempo ideal",input_html: { class:' form-control',placeholder:'ej. 20' } %>
        </div>
        <div class="form-group">
          <label for="example-getting-started">Lista de ejercicios</label>
          <select id="example-getting-started" multiple="multiple" class="form-control wod-list"  <% if @wod_root.networkid != session[:cuser].networkid or session[:cuser].tipo != isAdmin()%> disabled <% end %>>
          <% @ejercicios.each do |singleWorkout| %>
            <option value="<%= singleWorkout.name %>" data-workout="<%= singleWorkout.id %>" <% if WodItem.where(:workout_id=>singleWorkout.id).last!=nil %> selected="true" <% end %>><%= singleWorkout.name %></option>
          <% end -%>
      </select>
        </div>
        <% if @wod_root.portada!=nil and @wod_root!="" %>
        <img src="/images/<%= @wod_root.portada %>"  class="img-thumbnail">
        <% end %>
        <div class="checkbox">
          
          <%= f.input :globalavailable, disabled:(@wod_root.networkid != session[:cuser].networkid or session[:cuser].tipo != isAdmin()), as: :boolean,label:"Set disponible para cualquier usuario dentro y fuera de tu box" %>
        </div>
        

      <% end %>
    </div>
  </div>



