<%= simple_form_for @nutrition, html: { multipart: true } do |f| %>
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Agenda para <%= Usuario.find_by_id(@nutrition.user_id).nombre %> <%= Usuario.find_by_id(@nutrition.user_id).apellido %></h3>
        </div>
        <div class="col text-right">
          <%= f.submit "Guardar y asignarme ticket", class: 'btn btn-sm btn-primary' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <% if @nutrition.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@nutrition.errors.count, "error") %> prohibited this nutrition from being saved:</h2>
          <ul>
            <% @nutrition.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.input :appointment, required: true, label: "Fecha y Hora", as: :string, input_html: { class: 'form-control flatpickr-datetime', value: @nutrition.appointment&.strftime('%Y-%m-%d %H:%M') } %>
      </div>
      <div class="form-group">
        <%= f.input :online, as: :boolean, label: "Puede ser en linea", input_html: { class: '' } %>
      </div>
      <div class="form-group">
        <%= f.input :description, required: true, as: :text, label: "Comentarios iniciales", input_html: { class: 'form-control', rows: "3" } %>
      </div>
      <div class="form-group">
        <%= f.input :comments, required: true, as: :text, label: "Respuesta a comentarios", input_html: { class: 'form-control', rows: "3" } %>
      </div>
      <div class="form-group">
        <%= f.input :feedback, as: :text, label: "Indicaciones de nutriologo", input_html: { class: 'form-control', rows: "3" } %>
      </div>
      <div class="alert alert-warning">
        <strong>Valores alimenticios recomendados</strong> Incluye aqui los valores estimados según tu analisis que recomiendas al usuario que consuma diariamente
      </div>
      <div class="form-group">
        <%= f.input :grasa, label: "Grasa (gramos)", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :azucar, label: "Azucares (gramos)", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :calorias, label: "Calorias (gramos)", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :proteina, label: "Proteina (gramos)", input_html: { class: 'form-control' } %>
      </div>
      <div class="alert alert-danger">
        <strong>Atención!</strong> Responder a esta solicitud de nutriologo indica que te comprometes a reunirte o agendar una reunion en linea con el usuario y se asignara este ticket en tu cuenta, cuando completes el campo de "Indicaciones del nutriologo" este ticket quedará marcado como cerrado y no lo podrás editar.
      </div>
    </div>
  </div>
<% end %>

<!-- Updated JavaScript with time selection -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    flatpickr('.flatpickr-datetime', {
      enableTime: true, // Enable time selection
      dateFormat: 'Y-m-d H:i', // Format: YYYY-MM-DD HH:MM (24-hour)
      time_24hr: true, // Use 24-hour format
      minuteIncrement: 5, // Increment minutes by 5
      defaultHour: 9, // Default to 9 AM (optional)
      defaultMinute: 0, // Default to 0 minutes (optional)
      locale: {
        firstDayOfWeek: 1 // Monday as first day (optional)
      }
    });
  });
</script>