<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Peticiones de nutriologo</h3>
          </div>
          <div class="col text-right">
          <!-- <a href="#!" class="btn btn-sm btn-primary">
             <%= link_to 'New Nutrition', new_nutrition_path %></a> -->
          </div>
        </div>
    </div>

    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Comentarios de usuario</th>
            <th scope="col">Respuesta a comentario</th>
            <th scope="col">Feedback</th>
            
            <th scope="col">Status</th>
            <th scope="col">Expiración de dieta</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @nutritions.each do |nutrition| %>
            <tr>
              <th scope="row"><%= nutrition.appointment.strftime('%d-%m-%Y') %></td>
              <td><%= nutrition.description %></td>
              <td><%= nutrition.comments %></td>
              <td><%= nutrition.feedback %></td>
              <% if nutrition.status.to_i==0 %>
              <td><span class="label label-danger">Sin nutriologo</span></td>
              <% elsif nutrition.status.to_i==1 %>
              <td><span class="label label-info">Ticket asignado</span></td>
              <% elsif nutrition.status.to_i==2 %>
              <td><span class="label label-warning">Ticket cerrado</span></td>
              <% end %>
              <% if nutrition.expire_on != nil %>
                <td><%= nutrition.expire_on.strftime('%d-%m-%Y') %></td>
              <% else %>
                <td> Aún sin fecha </td>
              <%end%>
              
              <% if nutrition.status.to_i<2 %>
              <td><%= link_to 'Editar', edit_nutrition_path(nutrition) %></td>
              <% end %>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br />

