<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @nutrition.user_id %>
</p>

<p>
  <b>Appointment:</b>
  <%= @nutrition.appointment %>
</p>

<p>
  <b>Description:</b>
  <%= @nutrition.description %>
</p>

<p>
  <b>Feedback:</b>
  <%= @nutrition.feedback %>
</p>

<p>
  <b>Comments:</b>
  <%= @nutrition.comments %>
</p>

<p>
  <b>Nutritionist:</b>
  <%= @nutrition.nutritionist_id %>
</p>

<p>
  <b>Status:</b>
  <%= @nutrition.status %>
</p>

<p>
  <b>Expire on:</b>
  <%= @nutrition.expire_on %>
</p>


<%= link_to 'Edit', edit_nutrition_path(@nutrition) %> |
<%= link_to 'Back', nutritions_path %>
