<%= form_for(@box_schedule) do |f| %>
  <% if @box_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_schedule.errors.count, "error") %> prohibited this box_schedule from being saved:</h2>

      <ul>
      <% @box_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weekday %><br />
    <%= f.text_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :timetable %><br />
    <%= f.text_field :timetable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
