<h1>Listing box_schedules</h1>

<table>
  <tr>
    <th>Weekday</th>
    <th>Timetable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @box_schedules.each do |box_schedule| %>
  <tr>
    <td><%= box_schedule.weekday %></td>
    <td><%= box_schedule.timetable %></td>
    <td><%= link_to 'Show', box_schedule %></td>
    <td><%= link_to 'Edit', edit_box_schedule_path(box_schedule) %></td>
    <td><%= link_to 'Destroy', box_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box schedule', new_box_schedule_path %>
