<p id="notice"><%= notice %></p>

<p>
  <b>Weekday:</b>
  <%= @box_schedule.weekday %>
</p>

<p>
  <b>Timetable:</b>
  <%= @box_schedule.timetable %>
</p>


<%= link_to 'Edit', edit_box_schedule_path(@box_schedule) %> |
<%= link_to 'Back', box_schedules_path %>
