<%= simple_form_for @establecimiento, :html => {:multipart => true} do |f|%>
  <div class="card">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Datos de establecimiento</h3>
          <% if @establecimiento.id != nil %>
            <span class="badge badge-pill badge-primary">(CLAVE para usuarios: <%= @establecimiento.uniq %> )</span>
          <% end %>
        </div>
        <div class="col text-right">
          <% if session[:cuser].tipo == 1 || session[:cuser].tipo == 2 || session[:cuser].tipo == 4 %>
            <button type="submit" class="btn btn-success">Guardar</button>
            <% if @establecimiento.id != nil %>
              <%= link_to 'Borrar', @establecimiento, method: :delete, data: { confirm: 'Se borrará el establecimiento actual, ¿Desea continuar?' }, :class => "btn btn-warning" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <% if @establecimiento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@establecimiento.errors.count, "error") %> prohibited this establecimiento from being saved:</h2>
          <ul>
            <% @establecimiento.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group last">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
            <% if @establecimiento.foto != nil && @establecimiento.foto != "" %>
              <img src="/images/<%= @establecimiento.foto %>" alt="Establecimiento" style="max-width: 350px; max-height: 200px;"/>
            <% else %>
              <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt=""/>
            <% end %>                       
          </div>
          <br>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
          <div>
            <br> 
            <%= f.input :foto, :as => :file, label: 'Fotografía', input_html: { accept: 'image/*', 'data-show-preview' => false, 'data-max-file-size' => 1024, 'data-resize-if-size-more-than' => 1024, 'data-msg-no-files-selected' => 'Imagen excede el tamaño', 'data-msg-validation-error' => 'Archivo excede el tamaño', 'data-msg-placeholder' => 'Selecciona una imagen' } %>
          </div>
        </div>
      </div>
      
      <%= f.input :nombre, required: true, label: "Nombre", input_html: { class: 'col-md-12 form-control' } %>
      <%= f.input :calle, required: true, label: "Calle", input_html: { class: 'col-md-12 form-control' } %>
      <%= f.input :numero, required: true, label: "Número", input_html: { class: 'col-md-12 form-control' } %> 
      <%= f.input :colonia, required: true, label: "Colonia", input_html: { class: 'col-md-12 form-control' } %> 
      <%= f.input :servicios, required: true, label: "Servicios", input_html: { class: 'col-md-12 form-control' } %> 
      <%= f.input :telefono, required: true, label: "Teléfono", input_html: { class: 'col-md-12 form-control' } %>
      <%= f.input :email, :as => :email, required: true, label: "E-mail", input_html: { class: 'col-md-12 form-control' } %>
      <%= render "shared/scheduleComponent" %>
      <%= f.input :descripcion, required: true, label: "Descripción", input_html: { class: 'col-md-12 form-control' } %>
      
      <!-- Reemplazo del campo de coordenadas por un mapa -->
      <div class="form-group">
        <label>Ubicación</label>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <%= f.hidden_field :coordenadas, id: 'coordenadas' %>
        <small class="form-text text-muted">Arrastra el marcador para seleccionar la ubicación del establecimiento.</small>
      </div>

      <% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() %>
        <div class="input boolean optional establecimiento_openpayprueba">
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="establecimiento_openpayprueba" name="establecimiento[openpayprueba]" type="checkbox" <% if @establecimiento.openpayprueba != nil && @establecimiento.openpayprueba != 0 %>checked checked="checked"<% end %>>
            <label class="custom-control-label" for="establecimiento_openpayprueba">
              Usar openpay en modo prueba (DESACTIVE para cobrar con tarjetas reales).
            </label>
          </div>
        </div>
      <% end %>
      <%= f.input :openpayid, label: "Openpay id", input_html: { class: 'col-md-12 form-control' } %> 
      <%= f.input :openpaypub, label: "Openpay public key", input_html: { class: 'col-md-12 form-control' } %> 
      <%= f.input :openpaypri, label: "Openpay private key", input_html: { class: 'col-md-12 form-control' } %> 
      <% if session[:cuser].tipo == 1 %>
        <%= f.input :beacon, required: false, label: "iBeacon UUID", input_html: { class: 'col-md-12 form-control' } %> 
        <%= f.input :major, required: false, label: "Major", input_html: { class: 'col-md-12 form-control' } %> 
        <%= f.input :minor, required: false, label: "Minor", input_html: { class: 'col-md-12 form-control' } %> 
      <% end %>
    </div>
    <div class="actions"></div>
  </div>

  <!-- Script para inicializar el mapa -->
  <script>
    function initEstMap() {
      // Coordenadas iniciales (por ejemplo, centro de México)
      let initialLatLng = { lat: 19.4326, lng: -99.1332 };
      
      // Si ya hay coordenadas guardadas, usarlas
      <% if @establecimiento.coordenadas.present? %>
        const coords = "<%= @establecimiento.coordenadas %>".split(",");
        initialLatLng = { lat: parseFloat(coords[0]), lng: parseFloat(coords[1]) };
      <% end %>

      // Inicializar el mapa
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: initialLatLng,
      });

      // Marcador draggable
      const marker = new google.maps.Marker({
        position: initialLatLng,
        map: map,
        draggable: true,
      });

      // Actualizar el campo oculto cuando se mueve el marcador
      google.maps.event.addListener(marker, 'dragend', function() {
        const position = marker.getPosition();
        document.getElementById('coordenadas').value = `${position.lat()},${position.lng()}`;
      });

      // También actualizar al hacer clic en el mapa
      map.addListener('click', function(e) {
        marker.setPosition(e.latLng);
        document.getElementById('coordenadas').value = `${e.latLng.lat()},${e.latLng.lng()}`;
      });
    }

    // Cargar el mapa cuando la página esté lista
    document.addEventListener('DOMContentLoaded', function() {
      initEstMap();
    });
  </script>
<% end %>