<div class="row">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Lista de establecimientos</h3>
          </div>
          <div class="col text-right">
            <% if Access.where(:user_id=>session[:cuser].id,:addestablecimiento=>1).length>0 or session[:cuser].tipo==1 or session[:cuser].tipo==2%>
                <a href="/establecimientos/new" class="btn btn-sm btn-primary">Nuevo establecimiento</a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                        Calle / Numero
                </th>
                <th scope="col">
                    Colonia
                </th>
                <th scope="col">
                        Servicios
                </th>
                <th scope="col">
                        Horario
                </th>
                <th scope="col">
                        
                </th>
            </tr>
          </thead>
          <tbody>
            <% @establecimientos.each do |establecimiento| %>
            <tr>
                <th scope="row">
                    <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="/images/<%= establecimiento.foto %>">
                        </a>
                        <div class="media-body">
                            <span class="mb-0 text-sm"><a href="/establecimientos/<%= establecimiento.id %>/edit" class="primary-link"><%= establecimiento.nombre %></a></span>
                        </div>
                    </div>
                </th>
                <td>
                        <%= establecimiento.calle %> <%= establecimiento.numero %>
                </td>
                <td>
                        <%= establecimiento.colonia %>
                </td>
                <td>
                        <%= establecimiento.servicios %>
                </td>
                <td>
                    <span class="bold theme-font"><%= establecimiento.horario %></span>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <%= link_to 'Editar', edit_establecimiento_path(establecimiento), { :class=>"dropdown-item" } %>
                      </div>
                    </div>
                </td>
            </tr>
            <% end %>    
          </tbody>
        </table>
      </div>
    </div>
  </div>