<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @establecimiento.id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @establecimiento.nombre %>
</p>

<p>
  <b>Calle:</b>
  <%= @establecimiento.calle %>
</p>

<p>
  <b>Numero:</b>
  <%= @establecimiento.numero %>
</p>

<p>
  <b>Colonia:</b>
  <%= @establecimiento.colonia %>
</p>

<p>
  <b>Servicios:</b>
  <%= @establecimiento.servicios %>
</p>

<p>
  <b>Horario:</b>
  <%= @establecimiento.horario %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @establecimiento.descripcion %>
</p>


<%= link_to 'Edit', edit_establecimiento_path(@establecimiento) %> |
<%= link_to 'Back', establecimientos_path %>
