<div class="page-container">
  <!-- BEGIN PAGE HEAD -->
  <div class="page-head">
    <div class="container">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1>Invoice <small>invoice sample</small></h1>
      </div>
      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->
      <div class="page-toolbar">
        <!-- BEGIN THEME PANEL -->
        <div class="btn-group btn-theme-panel">
          <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-settings"></i>
          </a>
          <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>THEME COLORS</h3>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="theme-colors">
                      <li class="theme-color theme-color-default" data-theme="default">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Default</span>
                      </li>
                      <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Blue Hoki</span>
                      </li>
                      <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Blue Steel</span>
                      </li>
                      <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Orange</span>
                      </li>
                      <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Yellow Crusta</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="theme-colors">
                      <li class="theme-color theme-color-green-haze" data-theme="green-haze">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Green Haze</span>
                      </li>
                      <li class="theme-color theme-color-red-sunglo" data-theme="red-sunglo">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Red Sunglo</span>
                      </li>
                      <li class="theme-color theme-color-red-intense" data-theme="red-intense">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Red Intense</span>
                      </li>
                      <li class="theme-color theme-color-purple-plum" data-theme="purple-plum">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Purple Plum</span>
                      </li>
                      <li class="theme-color theme-color-purple-studio" data-theme="purple-studio">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Purple Studio</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                <h3>LAYOUT</h3>
                <ul class="theme-settings">
                  <li>
                     Layout
                    <select class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="left">
                      <option value="boxed" selected="selected">Boxed</option>
                      <option value="fluid">Fluid</option>
                    </select>
                  </li>
                  <li>
                     Top Menu Style
                    <select class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                  </li>
                  <li>
                     Top Menu Mode
                    <select class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                      <option value="fixed">Fixed</option>
                      <option value="not-fixed" selected="selected">Not Fixed</option>
                    </select>
                  </li>
                  <li>
                     Mega Menu Style
                    <select class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                  </li>
                  <li>
                     Mega Menu Mode
                    <select class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body" data-placement="left">
                      <option value="fixed" selected="selected">Fixed</option>
                      <option value="not-fixed">Not Fixed</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END THEME PANEL -->
      </div>
      <!-- END PAGE TOOLBAR -->
    </div>
  </div>
  <!-- END PAGE HEAD -->
  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="container">
      <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
               Widget settings form goes here
            </div>
            <div class="modal-footer">
              <button type="button" class="btn blue">Save changes</button>
              <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE BREADCRUMB -->
      <ul class="page-breadcrumb breadcrumb">
        <li>
          <a href="#">Home</a><i class="fa fa-circle"></i>
        </li>
        <li>
          <a href="extra_invoice.html">Pages</a>
          <i class="fa fa-circle"></i>
        </li>
        <li class="active">
           Invoice
        </li>
      </ul>
      <!-- END PAGE BREADCRUMB -->
      <!-- BEGIN PAGE CONTENT INNER -->
      <div class="portlet light">
        <div class="portlet-body">
          <div class="invoice">
            <div class="row invoice-logo">
              <div class="col-xs-6 invoice-logo-space">
                <img src="../../assets/admin/pages/media/invoice/walmart.png" class="img-responsive" alt=""/>
              </div>
              <div class="col-xs-6">
                <p>
                   #5652256 / 28 Feb 2013 <span class="muted">
                  Consectetuer adipiscing elit </span>
                </p>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-4">
                <h3>Client:</h3>
                <ul class="list-unstyled">
                  <li>
                     John Doe
                  </li>
                  <li>
                     Mr Nilson Otto
                  </li>
                  <li>
                     FoodMaster Ltd
                  </li>
                  <li>
                     Madrid
                  </li>
                  <li>
                     Spain
                  </li>
                  <li>
                     1982 OOP
                  </li>
                </ul>
              </div>
              <div class="col-xs-4">
                <h3>About:</h3>
                <ul class="list-unstyled">
                  <li>
                     Drem psum dolor sit amet
                  </li>
                  <li>
                     Laoreet dolore magna
                  </li>
                  <li>
                     Consectetuer adipiscing elit
                  </li>
                  <li>
                     Magna aliquam tincidunt erat volutpat
                  </li>
                  <li>
                     Olor sit amet adipiscing eli
                  </li>
                  <li>
                     Laoreet dolore magna
                  </li>
                </ul>
              </div>
              <div class="col-xs-4 invoice-payment">
                <h3>Payment Details:</h3>
                <ul class="list-unstyled">
                  <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                  </li>
                  <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                  </li>
                  <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                  </li>
                  <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                  </li>
                  <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                  </li>
                  <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>
                     #
                  </th>
                  <th>
                     Item
                  </th>
                  <th class="hidden-480">
                     Description
                  </th>
                  <th class="hidden-480">
                     Quantity
                  </th>
                  <th class="hidden-480">
                     Unit Cost
                  </th>
                  <th>
                     Total
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                     1
                  </td>
                  <td>
                     Hardware
                  </td>
                  <td class="hidden-480">
                     Server hardware purchase
                  </td>
                  <td class="hidden-480">
                     32
                  </td>
                  <td class="hidden-480">
                     $75
                  </td>
                  <td>
                     $2152
                  </td>
                </tr>
                <tr>
                  <td>
                     2
                  </td>
                  <td>
                     Furniture
                  </td>
                  <td class="hidden-480">
                     Office furniture purchase
                  </td>
                  <td class="hidden-480">
                     15
                  </td>
                  <td class="hidden-480">
                     $169
                  </td>
                  <td>
                     $4169
                  </td>
                </tr>
                <tr>
                  <td>
                     3
                  </td>
                  <td>
                     Foods
                  </td>
                  <td class="hidden-480">
                     Company Anual Dinner Catering
                  </td>
                  <td class="hidden-480">
                     69
                  </td>
                  <td class="hidden-480">
                     $49
                  </td>
                  <td>
                     $1260
                  </td>
                </tr>
                <tr>
                  <td>
                     3
                  </td>
                  <td>
                     Software
                  </td>
                  <td class="hidden-480">
                     Payment for Jan 2013
                  </td>
                  <td class="hidden-480">
                     149
                  </td>
                  <td class="hidden-480">
                     $12
                  </td>
                  <td>
                     $866
                  </td>
                </tr>
                </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="well">
                  <address>
                  <strong>Loop, Inc.</strong><br/>
                  795 Park Ave, Suite 120<br/>
                  San Francisco, CA 94107<br/>
                  <abbr title="Phone">P:</abbr> (234) 145-1810 </address>
                  <address>
                  <strong>Full Name</strong><br/>
                  <a href="mailto:#">
                  first.last@email.com </a>
                  </address>
                </div>
              </div>
              <div class="col-xs-8 invoice-block">
                <ul class="list-unstyled amounts">
                  <li>
                    <strong>Sub - Total amount:</strong> $9265
                  </li>
                  <li>
                    <strong>Discount:</strong> 12.9%
                  </li>
                  <li>
                    <strong>VAT:</strong> -----
                  </li>
                  <li>
                    <strong>Grand Total:</strong> $12489
                  </li>
                </ul>
                <br/>
                <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                Print <i class="fa fa-print"></i>
                </a>
                <a class="btn btn-lg green hidden-print margin-bottom-5">
                Submit Your Invoice <i class="fa fa-check"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT INNER -->
    </div>
  </div>
  <!-- END PAGE CONTENT -->
</div>