<div class="row mt-5">
  <div class="col-xl-6 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">
              <a data-toggle="collapse" href="#paymentOnlineCollapse" role="button" aria-expanded="false" aria-controls="paymentOnlineCollapse">
                Pago por internet
                <i class="fas fa-chevron-down ml-2"></i>
              </a>
              <small class="text-muted ml-2">Click para abrir</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="card-body collapse" id="paymentOnlineCollapse">
        <form action="/pagos/makeCardPayment" id="payment-form" class="form-horizontal" method="POST">
          <input type="hidden" name="token_id" id="token_id"/>
          <input type="text" hidden name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
          <div class="form-body">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Número de socio<span class="required"> * </span></label>
                  <div style="display:inline-flex;">
                    <input type="number" name="numsocio" data-required="1" class="form-control" id="sosnum" value="<% if params[:socio].present? %><%= params[:socio] %><% else %><%= session[:cuser].numsocio.to_i %><% end %>" required <% if ![1, 2, 4].include?(session[:cuser].tipo) %>disabled<% end %> onkeydown="if(event.key === 'Enter') { event.preventDefault(); searchPerson(); }"/>
                    <% if [1, 2, 4].include?(session[:cuser].tipo) %>
                      <button type="button" class="btn btn-outline-default" onclick="javascript:searchPerson();">Buscar</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% if [1, 2, 4].include?(session[:cuser].tipo) %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Oprima buscar número de socio" readonly id="nasocio">
              </div>
            <% end %>
            <div class="form-group">
              <label class="control-label">Paquete<span class="required"> * </span></label>
              <div>
                <select class="form-control w-100" name="paquete" <% if ![1, 2, 4].include?(session[:cuser].tipo) %>disabled<% end %> id="spaquet" style="width: 100% !important;max-width: none;">
                  <option value="0">Ninguno</option>
                  <% @paquetes.each do |singlePaquete| %>
                    <% if singlePaquete.inscripcion != 1 %>
                      <option value="<%= singlePaquete.id %>" <% if session[:cuser].paquete == singlePaquete.id %>selected<% end %>><%= singlePaquete.nombre %> (<%= singlePaquete.meses %> meses) $<%= singlePaquete.precio %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Inscripción<span class="required"> * </span></label>
              <div>
                <select class="form-control w-100" name="inscripcion" <% if ![1, 2, 4].include?(session[:cuser].tipo) %>disabled<% end %> id="sinscripcion" style="width: 100% !important;max-width: none;">
                  <option value="0"></option>
                  <% @paquetes.each do |singlePaquete| %>
                    <% if singlePaquete.inscripcion == 1 %>
                      <option value="<%= singlePaquete.id %>" <% if session[:cuser].paquete == singlePaquete.id %>selected<% end %>><%= singlePaquete.nombre %> $<%= singlePaquete.precio %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <% if [1, 2].include?(session[:cuser].tipo) %>
              <div class="form-group">
                <label class="control-label">Pago parcial (Dejar vacío si seleccionó el plan) $ <span class="required"> * </span></label>
                <div>
                  <input type="number" name="amount" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Descuento (indique la cantidad a descontar) $ <span class="required"> * </span></label>
                <div>
                  <input type="number" name="descuento" data-required="1" class="form-control"/>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <label class="control-label">Nombre Tarjetahabiente <span class="required"> * </span></label>
              <div>
                <input type="text" name="name" data-openpay-card="holder_name" data-required="1" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Número de tarjeta <span class="required"> * </span></label>
              <div>
                <input name="creditcard" type="text" class="form-control" data-openpay-card="card_number"/>
                <span class="help-block">e.g: 5566000022221114</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Mes <span class="required"> * </span></label>
                  <div>
                    <input name="month" type="text" class="form-control" data-openpay-card="expiration_month"/>
                    <span class="help-block">e.g: 05</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Año <span class="required"> * </span></label>
                  <div>
                    <input name="year" type="text" class="form-control" data-openpay-card="expiration_year"/>
                    <span class="help-block">e.g: 14</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">CVC <span class="required"> * </span></label>
                  <div>
                    <input name="digits" type="text" class="form-control" data-openpay-card="cvv2"/>
                  </div>
                </div>
              </div>
            </div>
            <% if [1, 2].include?(session[:cuser].tipo) %>
              <div class="form-group">
                <label class="control-label">Meses pagados<span class="required"> * </span></label>
                <div>
                  <select class="form-control w-100" name="meses">
                    <option value="0">Paquete parcial</option>
                    <option value="1">1 mes</option>
                    <option value="2">2 meses</option>
                    <option value="3">3 meses</option>
                    <option value="4">4 meses</option>
                    <option value="5">5 meses</option>
                    <option value="6">6 meses</option>
                    <option value="7">7 meses</option>
                    <option value="8">8 meses</option>
                    <option value="9">9 meses</option>
                    <option value="10">10 meses</option>
                    <option value="11">11 meses</option>
                    <option value="12">12 meses</option>
                  </select>
                </div>
              </div>
            <% end %>
            <img src="https://www.openpay.mx/img/home/cards_color.png"> <br>Transacciones realizadas por <img src="/openpay.png">
          </div>
          <button type="submit" id="pay-button" class="btn btn-success">Efectuar pago</button>
        </form>
      </div>
    </div>
  </div>

  <% if [1, 2, 4].include?(session[:cuser].tipo) %>
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                <a data-toggle="collapse" href="#paymentCashCollapse" role="button" aria-expanded="false" aria-controls="paymentCashCollapse">
                  Pago en efectivo y terminal
                  <i class="fas fa-chevron-down ml-2"></i>
                </a>
                <small class="text-muted ml-2">Click para abrir</small>
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body collapse" id="paymentCashCollapse">
          <form action="/pagos" id="form_sample_1" class="form-horizontal" method="POST">
            <input type="text" hidden name="authenticity_token" value="<%= form_authenticity_token.to_s %>" />
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Número de socio <span class="required"> * </span></label>
                  <div style="display:inline-flex;">
                    <input type="number" name="numsocio" data-required="1" class="form-control" id="sosnum2" value="<% if params[:socio].present? %><%= params[:socio] %><% else %><%= session[:cuser].numsocio %><% end %>" required onkeydown="if(event.key === 'Enter') { event.preventDefault(); searchPerson2(); }"/>
                    <% if [1, 2, 4].include?(session[:cuser].tipo) %>
                      <button type="button" class="btn btn-outline-default" onclick="javascript:searchPerson2();">Buscar</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Oprima buscar número de socio" readonly id="nasocio2">
            </div>
            <div class="form-group">
              <label class="control-label">Paquete<span class="required"> * </span></label>
              <div>
                <select class="form-control w-100" required name="paquete" <% if ![1, 2, 4].include?(session[:cuser].tipo) %>disabled<% end %> id="spaquet2" style="width: 100% !important;max-width: none;">
                  <option value="0">Ninguno</option>
                  <% @paquetes.each do |singlePaquete| %>
                    <% if singlePaquete.inscripcion != 1 %>
                      <option value="<%= singlePaquete.id %>" <% if session[:cuser].paquete == singlePaquete.id %>selected<% end %>><%= singlePaquete.nombre %> (<%= singlePaquete.meses %> meses) $<%= singlePaquete.precio %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Inscripción<span class="required"> * </span></label>
              <div>
                <select class="form-control w-100" name="inscripcion" <% if session[:cuser].tipo > 2 %>disabled<% end %> id="sinscripcion2" style="width: 100% !important;max-width: none;">
                  <option value="0"></option>
                  <% @paquetes.each do |singlePaquete| %>
                    <% if singlePaquete.inscripcion == 1 %>
                      <option value="<%= singlePaquete.id %>" <% if session[:cuser].paquete == singlePaquete.id %>selected<% end %>><%= singlePaquete.nombre %> $<%= singlePaquete.precio %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Pago parcial (Dejar vacío si seleccionó el plan) $ <span class="required"> * </span></label>
              <div>
                <input type="number" name="monto" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Descuento (indique la cantidad a descontar) $ <span class="required"> * </span></label>
              <div>
                <input type="number" name="descuento" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Tipo de pago $ <span class="required"> * </span></label>
              <div>
                <select class="form-control w-100" name="pago_type" required>
                  <option value="1">Pago por terminal</option>
                  <option value="2">Pago en efectivo</option>
                </select>
              </div>
            </div>
            <% if [1, 2].include?(session[:cuser].tipo) %>
              <div class="form-group">
                <label class="control-label">Meses pagados<span class="required"> * </span></label>
                <div>
                  <select class="form-control w-100" name="meses" required>
                    <option value="0">Paquete parcial</option>
                    <option value="1">1 mes</option>
                    <option value="2">2 meses</option>
                    <option value="3">3 meses</option>
                    <option value="4">4 meses</option>
                    <option value="5">5 meses</option>
                    <option value="6">6 meses</option>
                    <option value="7">7 meses</option>
                    <option value="8">8 meses</option>
                    <option value="9">9 meses</option>
                    <option value="10">10 meses</option>
                    <option value="11">11 meses</option>
                    <option value="12">12 meses</option>
                  </select>
                </div>
              </div>
            <% end %>
            <button type="submit" class="btn btn-success">Efectuar pago</button>
          </form>
          <br><br><br>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row mt-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Resumen de pagos</h3>
          </div>
          <div class="col text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
          </div>
        </div>
        <!-- Filter Form -->
        <div class="row mt-3">
          <div class="col">
            <%= form_with url: pagos_path, method: :get, local: true, class: "form-inline" do %>
              <div class="form-group mr-3">
                <%= label_tag :name, "Nombre:", class: "mr-2" %>
                <%= text_field_tag :name, params[:name], placeholder: "Nombre o apellido", class: "form-control" %>
              </div>
              <div class="form-group mr-3">
                <%= label_tag :start_date, "Fecha inicio:", class: "mr-2" %>
                <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
              </div>
              <div class="form-group mr-3">
                <%= label_tag :end_date, "Fecha fin:", class: "mr-2" %>
                <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
              </div>
              <%= submit_tag "Filtrar", class: "btn btn-primary" %>
              <%= link_to "Limpiar", pagos_path, class: "btn btn-secondary ml-2" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre / Apellido</th>
              <th scope="col">Número de socio</th>
              <th scope="col">Monto</th>
              <th scope="col">Último pago</th>
              <th scope="col">Próximo pago</th>
              <th scope="col">Status</th>
              <th scope="col">Tickets</th>
            </tr>
          </thead>
          <tbody>
            <% if @pagos.empty? %>
              <tr>
                <td colspan="7" class="text-center">No hay pagos que coincidan con los filtros</td>
              </tr>
            <% else %>
              <% @pagos.each do |pago| %>
                <tr class="odd gradeX">
                  <th scope="row">
                    <% user = Usuario.find_by(id: pago.usuarios_id) %>
                    <%= user ? "#{user.nombre} #{user.apellido}" : "Usuario no encontrado" %>
                  </th>
                  <td><%= user&.numsocio || "N/A" %></td>
                  <td>
                    <% if pago.cantidad.to_f == pago.cantidad_original.to_f %>
                      $<%= pago.cantidad %>
                    <% else %>
                      $<%= pago.cantidad %> de $<%= pago.cantidad_original %>
                    <% end %>
                    <% if pago.descuento.to_f > 0 %>
                      <span class="badge badge-info">descuento $<%= pago.descuento %></span>
                    <% end %>
                  </td>
                  <td><%= pago.created_at.strftime('%d-%m-%Y') %></td>
                  <td><%= pago.vence.strftime('%d-%m-%Y') %></td>
                  <td>
                    <% if DateTime.now > pago.vence && pago.pausa == 0 %>
                      <span class="label label-sm label-danger">Membresia inactivo</span>
                    <% elsif DateTime.now > pago.vence && pago.pausa == 1 %>
                      <span class="label label-sm label-danger">Suscripción en pausa</span>
                    <% else %>
                      <span class="label label-sm label-success">Membresia activo</span>
                    <% end %>
                  </td>
                  <td><a href="/pagos/<%= pago.id %>">Ver ticket</a></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">
          <%= will_paginate @pagos, page_links: true, inner_window: 1, outer_window: 1 %>
        </nav>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('#paymentOnlineCollapse').on('show.bs.collapse', function() {
      $(this).prev('.card-header').find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    }).on('hide.bs.collapse', function() {
      $(this).prev('.card-header').find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    });

    $('#paymentCashCollapse').on('show.bs.collapse', function() {
      $(this).prev('.card-header').find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    }).on('hide.bs.collapse', function() {
      $(this).prev('.card-header').find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    });
  });
</script>