<div class="page-container">
  <!-- BEGIN PAGE HEAD -->
  <div class="page-head">
    <div class="container">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1>Recibo de pago <small>Recibo</small></h1>
      </div>
      <!-- END PAGE TITLE -->
      <!-- BEGIN PAGE TOOLBAR -->
      <div class="page-toolbar">
        <!-- BEGIN THEME PANEL -->
        <div class="btn-group btn-theme-panel">
         
          <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>THEME COLORS</h3>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="theme-colors">
                      <li class="theme-color theme-color-default" data-theme="default">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Default</span>
                      </li>
                      <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Blue Hoki</span>
                      </li>
                      <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Blue Steel</span>
                      </li>
                      <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Orange</span>
                      </li>
                      <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Yellow Crusta</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="theme-colors">
                      <li class="theme-color theme-color-green-haze" data-theme="green-haze">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Green Haze</span>
                      </li>
                      <li class="theme-color theme-color-red-sunglo" data-theme="red-sunglo">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Red Sunglo</span>
                      </li>
                      <li class="theme-color theme-color-red-intense" data-theme="red-intense">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Red Intense</span>
                      </li>
                      <li class="theme-color theme-color-purple-plum" data-theme="purple-plum">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Purple Plum</span>
                      </li>
                      <li class="theme-color theme-color-purple-studio" data-theme="purple-studio">
                        <span class="theme-color-view"></span>
                        <span class="theme-color-name">Purple Studio</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                <h3>LAYOUT</h3>
                <ul class="theme-settings">
                  <li>
                     Layout
                    <select class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="left">
                      <option value="boxed" selected="selected">Boxed</option>
                      <option value="fluid">Fluid</option>
                    </select>
                  </li>
                  <li>
                     Top Menu Style
                    <select class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                  </li>
                  <li>
                     Top Menu Mode
                    <select class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                      <option value="fixed">Fixed</option>
                      <option value="not-fixed" selected="selected">Not Fixed</option>
                    </select>
                  </li>
                  <li>
                     Mega Menu Style
                    <select class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body" data-placement="left">
                      <option value="dark" selected="selected">Dark</option>
                      <option value="light">Light</option>
                    </select>
                  </li>
                  <li>
                     Mega Menu Mode
                    <select class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body" data-placement="left">
                      <option value="fixed" selected="selected">Fixed</option>
                      <option value="not-fixed">Not Fixed</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END THEME PANEL -->
      </div>
      <!-- END PAGE TOOLBAR -->
    </div>
  </div>
  <!-- END PAGE HEAD -->
  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="container">
      <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
               Widget settings form goes here
            </div>
            <div class="modal-footer">
              <button type="button" class="btn blue">Save changes</button>
              <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
      <!-- BEGIN PAGE BREADCRUMB -->
     
      <!-- END PAGE BREADCRUMB -->
      <!-- BEGIN PAGE CONTENT INNER -->
      <div class="portlet light">
        <div class="portlet-body">
          <div class="invoice">
            <div class="row invoice-logo">
              <div class="col-xs-6 invoice-logo-space">
                
              </div>
              <div class="col-xs-6">
                <p>
                   #<%= @pago.id %> / <%= @pago.created_at.strftime('%Y-%m-%d') %> <span class="muted">
                  <% if Usuario.where(:id=>@pago.usuarios_id).last.paquete!=nil %>
                  <%= Paquete.where(:id=>Usuario.where(:id=>@pago.usuarios_id).last.paquete).last.nombre %>
                  <% end %> </span>
                </p>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-4">
                <h3>Cliente:</h3>
                <ul class="list-unstyled">
                  <li>
                     <%= Usuario.where(:id=>@pago.usuarios_id).last.nombre %> <%= Usuario.where(:id=>@pago.usuarios_id).last.apellido %>
                  </li>
                  <li>
                     Nacimiento <%= Usuario.where(:id=>@pago.usuarios_id).last.nacimiento.strftime('%Y-%m-%d') %>
                  </li>
                  <li>
                     Miembro desde <%= Usuario.where(:id=>@pago.usuarios_id).last.created_at.strftime('%Y-%m-%d') %>
                  </li>
                  <li>
                     <%= Usuario.where(:id=>@pago.usuarios_id).last.contactoEmpresa %>
                  </li>
                  
                  <li>
                     <%= Usuario.where(:id=>@pago.usuarios_id).last.ciudad %>
                  </li>
                  <li>
                     México
                  </li>
                  
                </ul>
              </div>
              <div class="col-xs-4">
                <!-- <h3>About:</h3>
                <ul class="list-unstyled">
                  <li>
                     Drem psum dolor sit amet
                  </li>
                  <li>
                     Laoreet dolore magna
                  </li>
                  <li>
                     Consectetuer adipiscing elit
                  </li>
                  <li>
                     Magna aliquam tincidunt erat volutpat
                  </li>
                  <li>
                     Olor sit amet adipiscing eli
                  </li>
                  <li>
                     Laoreet dolore magna
                  </li>
                </ul> -->
              </div>
              <div class="col-xs-4 invoice-payment">
                <!-- <h3>Detalles del pago:</h3>
                <ul class="list-unstyled">
                  <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                  </li>
                  <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                  </li>
                  <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                  </li>
                  <li>
                    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
                  </li>
                  <li>
                    <strong>Account Name:</strong> FoodMaster Ltd
                  </li>
                  <li>
                    <strong>SWIFT code:</strong> 45454DEMO545DEMO
                  </li>
                </ul> -->
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>
                     #
                  </th>
                  <th>
                     Nombre
                  </th>
                  <th class="hidden-480">
                     Descripción
                  </th>
                  <!-- <th class="hidden-480">
                     Cantidad
                  </th> -->
                  <th class="hidden-480">
                     Total
                  </th>
                  
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                     1
                  </td>
                  <td>
                  <% if @pago.paquete!=nil %>
                     <%= Paquete.where(:id=>@pago.paquete).last.nombre %>
                  <% else %>
                  Pago sin paquete
                  <% end %>
                  </td>
                  <td class="hidden-480">
                  <% if @pago.paquete!=nil %>
                    Paquete de <%= Paquete.where(:id=>@pago.paquete).last.meses %> meses con horario de <%= Paquete.where(:id=>@pago.paquete).last.horario %> a <%= Paquete.where(:id=>@pago.paquete).last.horarioto %> horas.
                  <% else %>
                  Este comprobante de pago avala un pago de tiempo que vence <%= @pago.vence.strftime('%Y-%m-%d') %>
                  <% end %>
                     
                  </td>
                  <!-- <td class="hidden-480">
                     32
                  </td> -->
                  <td class="hidden-480">
                  <% if @pago.cantidad.to_f == @pago.cantidad_original.to_f %>
                  $<%= @pago.cantidad %>
              <% else %>
                  $<%= @pago.cantidad %> de $<%= @pago.cantidad_original %> 
              <% end %>
              <% if @pago.descuento.to_f > 0 %>
              <span class="badge badge-info">descuento $<%= @pago.descuento %></span>
              <% end %>
                  </td>
                  
                </tr>


                <% if Pago.where(:gateway=>@pago.id.to_s).last !=nil %>
                <tr>
                  <td>
                     1
                  </td>
                  <td>
                  
                     <%= Paquete.find_by_id(Pago.where(:gateway=>@pago.id.to_s).last.paquete).nombre %>
                 
                  </td>
                  <td class="hidden-480">
                  
                  Este comprobante de pago avala un pago de inscripción
                  
                     
                  </td>
                  <!-- <td class="hidden-480">
                     32
                  </td> -->
                  <td class="hidden-480">
                     
                     <% if @pago.cantidad.to_f == @pago.cantidad_original.to_f %>
                                            $<%= @pago.cantidad %>
                                        <% else %>
                                            $<%= @pago.cantidad %> de $<%= @pago.cantidad_original %> 
                                        <% end %>
                                        <% if @pago.descuento.to_f > 0 %>
                                        <span class="badge badge-info">descuento $<%= @pago.descuento %></span>
                                        <% end %>
                  </td>
                  
                </tr>

                <% end %>
                
                </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="well">
                  <address>
                  
                  <strong><%= @establecimiento.nombre %></strong><br/>
                  <%= @establecimiento.calle %> #<%= @establecimiento.numero %><br/>
                  <%= @establecimiento.colonia %><br/>
                  <%= @establecimiento.descripcion %><br/>
          <abbr title="Phone"><%= @establecimiento.telefono %><br/><br/>

                  
                  
                  
                  <address>
                  <strong>Contacto</strong><br/>
                  <a href="mailto:#">
                  Email: <%= @establecimiento.email %> </a>
                  </address>
                </div>
              </div>
              <div class="col-xs-8 invoice-block">
                <ul class="list-unstyled amounts">
                  <!-- <li>
                    <strong>Sub - Total amount:</strong> $9265
                  </li>
                  <li>
                    <strong>Discount:</strong> 12.9%
                  </li>
                  <li>
                    <strong>VAT:</strong> -----
                  </li> -->
                  <!-- <li>
                    <strong>Gran Total:</strong> $12489
                  </li> -->
                </ul>
                <br/>
                <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                Imprimir completo <i class="fa fa-print"></i>
                </a>
                <a href="/tickets/<%= @pago.id %>" class="btn btn-lg green hidden-print margin-bottom-5">
                Imprimir como ticket <i class="fa fa-check"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT INNER -->
    </div>
  </div>
  <!-- END PAGE CONTENT -->
</div>