<h1>Listing comentarios</h1>

<table>
  <tr>
    <th>Establecimiento</th>
    <th>Wod item</th>
    <th>Wod root</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.establecimiento_id %></td>
    <td><%= comentario.wod_item_id %></td>
    <td><%= comentario.wod_root_id %></td>
    <td><%= comentario.usuario_id %></td>
    <td><%= link_to 'Show', comentario %></td>
    <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentario', new_comentario_path %>
