<p id="notice"><%= notice %></p>

<p>
  <b>Establecimiento:</b>
  <%= @comentario.establecimiento_id %>
</p>

<p>
  <b>Wod item:</b>
  <%= @comentario.wod_item_id %>
</p>

<p>
  <b>Wod root:</b>
  <%= @comentario.wod_root_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @comentario.usuario_id %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
