.select-days {
  height: 100px;
}

.container-schedule {
  padding-left: 50px;
}

.bg-danger {
  background-color: #f2dede;
  padding: 15px;
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-size: 18px;
}
#icon{
  margin-top: 0px;
  font-size: 24px;
  line-height: 24px;
}
.icon-wrapper {
  margin-left: -70px;
  width: 70px;
  height: 120px;
  z-index: 9999;
  float: left;
  position: relative;
  background-color: white;
}
.icon-inside{
  margin-top:6px;
  margin-left: 8px;
}
.rounded {
  position: absolute;
  left: 29px;
  top: 9px;
  z-index: 1000;
  border-radius: 50% !important;
  width: 41px;
  height: 41px;
  background-color: #4cbd6d;
  color: #f5f5f5;
  cursor: pointer;
  float: left;
  margin-right: 20px;
}

.fa-plus {
  transform: rotate(0deg);
  transition: transform 200ms ease;
}

.spin {
  transform: rotate(45deg);
}

.from-to {
  transform: translate(-1900px, 0px);
  transition: transform 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.days {
  overflow: hidden;
  z-index: 0;
  transform: translate(-1900px, 0px);
  transition: transform 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.days div {
  float: left;
  background-color: #DADFE1;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 17px 8px;
  cursor: pointer;
}
.days .selected, .days .ui-selected {
  background-color: #4cbd6d;
}

table {
  overflow: hidden;
  transform: translate(-1900px, 0px);
  transition: transform 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  margin-bottom: 0px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  font-family: 'open sans';
  text-align: center;
  padding: 15px 0px;
}

.transparent {
  font-size: 12px;
  padding: 8px 2px;
}

.transition {
  transform: translate(15px, 0px);
}

.transition-hours {
  transform: translate(15px, 0px);
}

.from-to {
  margin-left: 25px;
  margin-top: 18px;
  font-size: 16px;
  float: left;
}

.fa-plus, .fa-check, .fa-pencil, .fa-pencil-alt {
  font-size: 25px;
}

.fa-plus {
  padding: 10px;
}

.fa-check {
  padding: 8px;
}

.fa-pencil, .fa-pencil-alt {
  padding: 8px 10px;
}

.table-schedule {
  font-family: 'Open sans';
  width: 380px;
  border-collapse: seperate;
  border-spacing: 0px;
}

tbody {
  cursor: pointer;
}

.table-schedule > thead > tr > th, .table-schedule > tbody > tr > th, .table-schedule > tfoot > tr > th, .table-schedule > thead > tr > td, .table-schedule > tbody > tr > td, .table-schedule > tfoot > tr > td {
  text-align: center;
  border-top: 0px;
  padding: 5px 2px;
  margin: 0 4px;
}

td:hover, .ui-selecting {
  background-color: #8fd6a4;
  color: #f5f5f5;
  border-radius: 50%;
}

.container-schedule {
  margin-top: 50px;
  width: 100%;
}

.selected, .ui-selected {
  background-color: #4cbd6d;
  border-radius: 50%;
  color: #f5f5f5;
}

.disabled {
  cursor: auto !important;
  color: darkgray;
  background-color: #e8ebec !important;
}

.hidden{
  display:none;
}