<%= simple_form_for(@device) do |f| %>
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Dispositivo</h3>
        </div>
        <div class="col-4 text-right">
          
          <%= f.submit "Guardar", class:"btn btn-success" %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
        <h6 class="heading-small text-muted mb-4">Detalles</h6>
        <% if @device.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

          <ul>
          <% @device.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          </div>
        <% end %>
        <div class="pl-lg-4">
        <div class="row">
            <div class="col-lg-6">

              <div class="custom-control custom-radio mb-3">
                <input name="device[pluggedas]" class="custom-control-input" id="customRadio5" type="radio" <% if @device.pluggedas == 1 or @device.pluggedas == nil %>checked=""<% end %> value="1">
                <label class="custom-control-label" for="customRadio5">Conectado mediante USB</label>
              </div>
              <div class="custom-control custom-radio mb-3">
                <input name="device[pluggedas]" class="custom-control-input" id="customRadio6"  type="radio" value="2" <% if @device.pluggedas == 2 %>checked=""<% end %>>
                <label class="custom-control-label" for="customRadio6">Conectado por WiFi</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group focused">
              <%= f.input :token, label: "Token de suitch.network (solo para Wifi)", input_html: { class:'form-control form-control-alternative',placeholder:"Token" } %>
              </div>
              <div class="form-group focused">
              <%= f.input :secret, label: "Secret de suitch.network (solo para wifi)", input_html: { class:'form-control form-control-alternative',placeholder:"Secret" } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group focused">
              
                <%= f.input :uid, required:true, :readonly => true , label:"Número de serie del dispositivo", input_html: { class:'form-control form-control-alternative',placeholder:"UID" } %>
                <i class="ni ni-button-power" style="top: -30px;
                position: relative;
                left: 92%;" data-original-title="Obtener número de serie del último dispositivo" id="connectBtn"></i>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= f.input :name, required:true, label: "Nombre o alias", input_html: { class:'form-control form-control-alternative',placeholder:"Nombre de dispositivo" } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group focused">
              <%= f.input :action,required:true,label:"Dispositivo",:collection => DeviceType.all,:label_method => :nombre, :value_method => :id,input_html: { class:'col-md-12 form-control' }%>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group focused">
              <%= f.input :post_action,:collection => Device.where(:networkid=>session[:cuser].networkid),:label_method => :name, :value_method => :id, label: "Evento posterior", input_html: { class:'form-control form-control-alternative',placeholder:"Evento posterior" } %>
              </div>
            </div>
          </div>
          
        </div>
        <hr class="my-4">
        
        <h6 class="heading-small text-muted mb-4">Descripción</h6>
        <div class="pl-lg-4">
          <div class="form-group focused">
            <%= f.input :description,as: :text, required:true, label: "Descripción", input_html: { rows:3, class:'form-control form-control-alternative',placeholder:"Descripción" } %>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
<% if (session[:cuser].tipo == isAdmin() or session[:cuser].tipo == isReceptionist() or session[:cuser].tipo == isManager()) and request.original_url.index('devices')!=nil  %>
<script type="text/javascript"> 
$("input[name='device[pluggedas]']").change(function(){
    $("input[name='device[uid]']").val('');
});
$("input[name='device[token]']").change(function(){
if(Number($("input[name='device[pluggedas]']:checked").val()) == 2 ){
    $("input[name='device[uid]']").val($("input[name='device[token]']").val());
}
});

var port = null;
let connectButton = document.querySelector('#connectBtn');
connectButton.addEventListener('click', function() {
  if(port == null && port == undefined) {
    serial.requestPort().then(selectedPort => {
      console.log("step_1");
      port = selectedPort;
      connect();
      console.log("step_2");
      setTimeout(function(){
        console.log("step_3");
        let textEncoder = new TextEncoder();
        port.send(textEncoder.encode("info-")).catch(error => {
          console.log('Send error: ' + error);
        });
      },1500)
      
    }).catch(error => {
      console.log("step_4");
      console.log('Connection error: ' + error);
    });
}
  if(port != null && port != undefined) {
    console.log("step_5");
    let textEncoder = new TextEncoder();
    port.send(textEncoder.encode("info-")).catch(error => {
        console.log('Send error: ' + error);
    });
  }
});
function connect() {
      port.connect().then(() => {
        console.log("step_6");
        console.log(port);
        port.onReceive = data => {
          console.log("step_7");
          let textDecoder = new TextDecoder();
          console.log(textDecoder.decode(data));
          var readDetails=textDecoder.decode(data).replace(/'/gi, '"');
          if(readDetails!=""){
            try{
              readDetails=JSON.parse(readDetails);
              $("input[name='device[uid]']").val(readDetails.productId);
            }
            catch(error){
              console.log(error);
            }
          } 
        }
        port.onReceiveError = error => {
          console.log('Receive error: ' + error)
          
        };
        let textEncoder = new TextEncoder();
        port.send(textEncoder.encode("info-")).catch(error => {
          console.log('Send error: ' + error);
        });
      }, error => {
        console.log('Connection error: ' + error)
       
      });
    };
<% end %>
</script>