<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">Registro de dispositivos</h3>
            </div>
            <div class="col text-right">
                <%= link_to 'Nuevo dispositivo', new_device_path, :class=>"btn btn-sm btn-primary" %>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr class="uppercase">
                    <th scope="col">
                            ID
                    </th>
                    <th scope="col" >
                            Nombre
                    </th>
                    <th scope="col">
                            Descripción
                    </th>
                    <th scope="col">
                            Dispositivo
                    </th>
                    <th scope="col">
                            Evento posterior
                    </th>
                    <th scope="col">
                    
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <% @devices.each do |device| %>

                    <tr>
                        
                        <th>
                            <a href="/devices/<%= device.id %>/edit" class="primary-link"><%= device.uid %></a>
                        </td>
                        <td>
                                <%= device.name %>
                        </td>
                        <td>
                                <%= device.description %>
                        </td>
                        <td>
                                <%= DeviceType.find_by_id(device.action.to_i).nombre %>
                        </td>
                        <td>
                            <% if device.post_action !=nil and Device.find_by_id(device.post_action.to_i) != nil%>
                                    <%= Device.find_by_id(device.post_action.to_i).name %>
                            <% end %>
                        </td>
                        
                        
                            <td><%= link_to 'Borrar', device, method: :delete, data: { confirm: 'Vas a eliminar este dispositivo, ¿Deseas continuar?' } %></td>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

  