<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @device.uid %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Action:</b>
  <%= @device.action %>
</p>

<p>
  <b>Post action:</b>
  <%= @device.post_action %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
