

<%= simple_form_for @correo, :html => {:multipart => true,:onsubmit=>"valor();"} do |f|%>
<input type="text" name="correo[contenido]" id="htmltt" hidden />
<div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">Enviar correo a usuarios</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                
                                <a href="javascript:;" class="remove">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <%= f.input :titulo, required:true,label:"Titulo",input_html: { class:'col-md-12 form-control' } %>
                             <% # f.input :contenido, as: :text,required:true,label:"Contenido (puede contener html)",input_html: { class:'form-control',rows:"6"} %>
<div class="form-group">
<div name="summernote" id="summernote_1">
                      </div>

                    <label>Selecciona el tipo de envio</label>
                    <div class="radio-list">
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="usuarios_todos" checked> Enviar a todos</label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="usuarios_activos"> Enviar a usuarios activos </label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="usuarios_inactivos"> Enviar a usuarios no activos </label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios4" value="hombres_activos"> Enviar a hombres activos </label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios5" value="hombres_inactivos"> Enviar a hombres inactivos </label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios6" value="mujeres_activos"> Enviar a mujeres activas </label>
                      <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios7" value="mujeres_inactivos"> Enviar a mujeres no activas </label>
                    </div>
                  </div>
</br>
<button type="submit" class="btn green">Enviar</button>
                            </div>
                        </div>
                    </div>
                    <% end %>