<h1>Listing correos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Contenido</th>
    <th>Creadopor</th>
    <th>Usuarioscomo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @correos.each do |correo| %>
  <tr>
    <td><%= correo.id %></td>
    <td><%= correo.titulo %></td>
    <td><%= correo.contenido %></td>
    <td><%= correo.creadopor %></td>
    <td><%= correo.usuarioscomo %></td>
    <td><%= link_to 'Show', correo %></td>
    <td><%= link_to 'Edit', edit_correo_path(correo) %></td>
    <td><%= link_to 'Destroy', correo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Correo', new_correo_path %>
