<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @correo.id %>
</p>

<p>
  <b>Titulo:</b>
  <%= @correo.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @correo.contenido %>
</p>

<p>
  <b>Creadopor:</b>
  <%= @correo.creadopor %>
</p>

<p>
  <b>Usuarioscomo:</b>
  <%= @correo.usuarioscomo %>
</p>


<%= link_to 'Edit', edit_correo_path(@correo) %> |
<%= link_to 'Back', correos_path %>
