<%= form_for(@tipo_cuentum) do |f| %>
  <% if @tipo_cuentum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_cuentum.errors.count, "error") %> prohibited this tipo_cuentum from being saved:</h2>

      <ul>
      <% @tipo_cuentum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
