<h1>Listing tipo_cuenta</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_cuenta.each do |tipo_cuentum| %>
  <tr>
    <td><%= tipo_cuentum.id %></td>
    <td><%= tipo_cuentum.titulo %></td>
    <td><%= link_to 'Show', tipo_cuentum %></td>
    <td><%= link_to 'Edit', edit_tipo_cuentum_path(tipo_cuentum) %></td>
    <td><%= link_to 'Destroy', tipo_cuentum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo cuentum', new_tipo_cuentum_path %>
