<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @tipo_cuentum.id %>
</p>

<p>
  <b>Titulo:</b>
  <%= @tipo_cuentum.titulo %>
</p>


<%= link_to 'Edit', edit_tipo_cuentum_path(@tipo_cuentum) %> |
<%= link_to 'Back', tipo_cuenta_path %>
