<%= simple_form_for(@reward) do |f| %>
  <div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Se va a enviar un email al usuario cuando haya obtenido una recompensa.</h6>
            <h3 class="mb-0">Crear recompensa</h3>
          </div>
          <div class="col text-right">

            <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
                            
          </div>
        </div>
    </div>
    <div class="card-body">
      <% if @reward.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

          <ul>
          <% @reward.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :titulo, required:true,label:"Nombre",input_html: { class:'col-md-12 form-control' } %>
      <%= f.input :descripcion, required:true,label:"Descripción",input_html: { class:'col-md-12 form-control' } %>
      <%= f.input :asistencia, required:true,label:"Asistencia requerida (días continuos de asistencia)",input_html: { class:'col-md-12 form-control' } %>
      <%= f.input :numpagos, required:true,label:"Número de pagos requeridos (total de pagos realizados para obtener recompensa)",input_html: { class:'col-md-12 form-control' } %>

    </div>
  </div>
<% end %>