<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Registro de Recompensas</h3>
                </div>
                <div class="col text-right">
                    <a href="/rewards/new" class="btn btn-sm btn-primary">Nueva recompensa</a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr class="uppercase">
                        <th scope="col">Nombre de recompensa</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Asistencias requeridas</th>
                        <th scope="col">Pagos requeridos</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @rewards.each do |reward| %>
                        <tr>
                            <th>
                                <a href="/rewards/<%= reward.id %>/edit" class="primary-link"><%= reward.titulo %></a>
                            </th>
                            <td><%= reward.descripcion %></td>
                            <td><%= reward.asistencia %></td>
                            <td><%= reward.numpagos %></td>
                            <td><%= link_to 'Borrar', reward, method: :delete, data: { confirm: 'Vas a eliminar esta recompensa, ¿Deseas continuar?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">Historial de recompensas</h3>
                    </div>
                    <div class="col text-right">
                        <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                    </div>
                </div>
                <!-- Filter Form -->
                <div class="row mt-3 align-items-end">
                    <div class="col">
                        <%= form_with url: rewards_path, method: :get, local: true, class: "row g-2" do %>
                            <div class="col-md-3">
                                <%= label_tag :nombre, "Nombre", class: "form-label mb-1" %>
                                <%= text_field_tag "search[nombre]", params.dig(:search, :nombre), class: "form-control form-control-sm" %>
                            </div>
                            <div class="col-md-3">
                                <%= label_tag :apellido, "Apellido", class: "form-label mb-1" %>
                                <%= text_field_tag "search[apellido]", params.dig(:search, :apellido), class: "form-control form-control-sm" %>
                            </div>
                            <div class="col-md-3">
                                <%= label_tag :recompensa, "Recompensa", class: "form-label mb-1" %>
                                <%= text_field_tag "search[recompensa]", params.dig(:search, :recompensa), class: "form-control form-control-sm" %>
                            </div>
                            <div class="col-md-3 d-flex align-items-end">
                                <%= submit_tag "Buscar", class: "btn btn-primary btn-sm me-2" %>
                                <%= link_to "Limpiar", rewards_path, class: "btn btn-secondary btn-sm" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre / Apellido</th>
                            <th scope="col">Número de socio</th>
                            <th scope="col">Recompensa</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @won_rewards.empty? %>
                            <tr>
                                <td colspan="4" class="text-center">No hay recompensas aún ganadas</td>
                            </tr>
                        <% else %>
                            <% @won_rewards.each do |reward| %>
                                <tr>
                                    <td><%= Usuario.find_by_id(reward.usuarios_id).nombre %> <%= Usuario.find_by_id(reward.usuarios_id).apellido %></td>
                                    <td><%= Usuario.find_by_id(reward.usuarios_id).numsocio %></td>
                                    <td><%= Reward.find_by_id(reward.rewards_id).titulo %></td>
                                    <td><%= reward.created_at.strftime('%d/%m/%Y') %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                <nav aria-label="...">
                    <%= will_paginate @won_rewards, page_links: true, inner_window: 1, outer_window: 1 %>
                </nav>
            </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>