<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @reward.id %>
</p>

<p>
  <b>Asistencia:</b>
  <%= @reward.asistencia %>
</p>

<p>
  <b>Numpagos:</b>
  <%= @reward.numpagos %>
</p>

<p>
  <b>Peso:</b>
  <%= @reward.peso %>
</p>


<%= link_to 'Edit', edit_reward_path(@reward) %> |
<%= link_to 'Back', rewards_path %>
