
<%= simple_form_for @paquete, :html => {:multipart => true} do |f|%>
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0"><i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Edición de paquete</span></h3>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= f.input :nombre, required:true,label:"Nombre",input_html: { class:'col-md-12 form-control' } %>
            <%= f.input :precio,required:true,label:"Precio",input_html: { class:'form-control'} %>
            <br>
            <!-- <%= f.input :inscripcion, as: :boolean, label:"Es precio de inscripción",input_html: { class:'custom-control-input' } %> -->


            <div class="input boolean optional paquete_inscripcion">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="paquete_inscripcion" name="paquete[inscripcion]" type="checkbox" <% if @paquete.inscripcion != nil and @paquete.inscripcion != 0 %>checked checked="checked"<%end%>>
                    <label class="custom-control-label" for="paquete_inscripcion">
                        Es precio de inscripción
                    </label>
                </div>
            </div>


            <br>
            <%= f.input :meses, required:true,label:"Meses",input_html: { class:'col-md-12 form-control' } %>
            <%= f.input :horario, required:true,:collection =>BoxSchedule.where("networkid='#{session[:cuser].networkid}'").index_by(&:timetable).keys.uniq,label:"Horario de ",input_html: { class:'col-md-12 form-control' } %>
            <%= f.input :horarioto, required:true,:collection =>BoxSchedule.where("networkid='#{session[:cuser].networkid}'").index_by(&:timetable).keys.uniq,label:"Horario hasta ",input_html: { class:'col-md-12 form-control' } %>
            <div class="form-group">
                <label>Acceso a complejos deportivos</label>
                <div class="checkbox-list">
                    <% establecimientos=session[:cuser].tipo==1 ? Establecimiento.all : Establecimiento.where(:networkid=>session[:cuser].networkid)%>
                    <% establecimientos.each do |singleEstablecimiento| %>
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="establecimiento-<%= singleEstablecimiento.id %>" name="establecimiento-<%= singleEstablecimiento.id %>" type="checkbox" <% if Entrada.where(:paquete=>@paquete.id,:establecimientos_id=>singleEstablecimiento.id).length>0 %>checked<%end%>>
                            <label class="custom-control-label" for="establecimiento-<%= singleEstablecimiento.id %>"><%= singleEstablecimiento.nombre %></label>
                        </div>
                    <% end %>
                </div>
            </div>
            </br>
            </br>
            
        </div>
    </div>
<% end %>