<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0"><i class="fa fa-cogs font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Paquetes</span></h3>
          </div>
          <div class="col text-right">
            <a href="/paquetes/new"  class="btn btn-sm btn-primary">Nuevo paquete</a>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr >
                    <th scope="col">
                            Nombre
                    </th>
                    <th scope="col">
                            Precio
                    </th>
                    <th scope="col">
                            Horario De
                    </th>
                    <th scope="col">
                            Horario hasta
                    </th>
                    <th scope="col">
                            Meses activo
                    </th>
                    <th scope="col">
                            Complejos
                    </th>
                    <th scope="col">
                            Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @paquetes.each do |paquete| %>
                    <tr>
                        <td>
                            <a href="/paquetes/<%= paquete.id %>/edit" class="primary-link"><%= paquete.nombre %></a>
                        </td>
                        <td>
                                $<%= paquete.precio %>
                        </td>
                            <td>
                                <%= paquete.horario %>
                        </td>
                            <td>
                                <%= paquete.horarioto %>
                        </td>
                        <td>
                                <%= paquete.meses %>
                        </td>
                            <td>
                                <%= Establecimiento.where(:id=>Entrada.where(:paquete=>paquete.id,:usuarios_id=>nil).index_by(&:establecimientos_id).keys).index_by(&:nombre).keys.join(",") %>
                        </td>
                        
                        
                            <td><%= link_to 'Borrar', paquete, method: :delete, data: { confirm: 'Se va a borrar el paquete ¿Desea continuar?' } %></td>
                        
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>
