<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @paquete.id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @paquete.nombre %>
</p>

<p>
  <b>Precio:</b>
  <%= @paquete.precio %>
</p>

<p>
  <b>Meses:</b>
  <%= @paquete.meses %>
</p>


<%= link_to 'Edit', edit_paquete_path(@paquete) %> |
<%= link_to 'Back', paquetes_path %>
