<h1>Listing likes</h1>

<table>
  <tr>
    <th>Establecimiento</th>
    <th>Wod item</th>
    <th>Wod root</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @likes.each do |like| %>
  <tr>
    <td><%= like.establecimiento_id %></td>
    <td><%= like.wod_item_id %></td>
    <td><%= like.wod_root_id %></td>
    <td><%= like.usuario_id %></td>
    <td><%= link_to 'Show', like %></td>
    <td><%= link_to 'Edit', edit_like_path(like) %></td>
    <td><%= link_to 'Destroy', like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Like', new_like_path %>
