<p id="notice"><%= notice %></p>

<p>
  <b>Establecimiento:</b>
  <%= @like.establecimiento_id %>
</p>

<p>
  <b>Wod item:</b>
  <%= @like.wod_item_id %>
</p>

<p>
  <b>Wod root:</b>
  <%= @like.wod_root_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @like.usuario_id %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
