
<%= simple_form_for @ejercicio,:html => {:multipart => true} do |f| %>
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Ejercicio</h3>
        </div>
        <div class="col text-right">
          <div class="actions">
            <button type="submit" class="btn btn-success">Guardar</button>
            <% if @ejercicio.id != nil %>
              <%= link_to 'Borrar', @ejercicio, method: :delete, data: { confirm: 'Se borrará el ejercicio actual, ¿Desea continuar?' }, :class=> 'btn btn-warning' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   
    <div class="card-body">
      <% if @ejercicio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ejercicio.errors.count, "error") %> prohibited this ejercicio from being saved:</h2>

          <ul>
            <% @ejercicio.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
          <%= f.input :name, required:true,label:"Nombre de ejercicio",input_html: { class:' form-control',placeholder:'Ej. Extra Stretch' } %>
      </div>
      <div class="form-group">
        <video id="myVideo_demo" width="100%" height="100%" controls="controls"> 
          <source src="/train/<%= @ejercicio.clip %>" type="video/mp4"> 
        </video> 
      </div>
      <div class="form-group">
        <%= f.input :clip,:as=>:file, label: 'Seleccione un video-clip a subir' , input_html: {class:'form-control',accept: ('*.*'), 'data-show-preview'=>false, 'data-max-file-size'=>51200, 'data-msg-no-files-selected'=>'Video excede el tamaño','data-msg-validation-error'=>'Archivo excede el tamaño', 'data-msg-placeholder'=>'Selecciona un video max 50mg' } %>
        <p class="help-block">Asegurese que es formato mp4</p>
      </div>
      <div class="form-group">    
        <%= f.input :pesorx,label:"Peso RX (libras)",input_html: { class:'form-control',placeholder:'Ej. 10 ' } %>
      </div>
      <div class="form-group">
        <%= f.input :pesoescalado,label:"Peso escalado (libras)",input_html: { class:'form-control',placeholder:'Ej. 7' } %>
      </div>
      <div class="form-group">
          <%= f.input :description,as: :text,label:"Descripción",input_html: { class:'form-control',rows:"3",placeholder:'Ej. Ejercicio repetido 3 veces' } %>
      </div>
      <div class="checkbox">    
        <%= f.input :globalavailable, as: :boolean,label:"Ejercicio disponible para cualquier usuario dentro y fuera de tu box" %>
      </div>
    </div>
  </div>
<% end %>