
<div class="row mt-5">
  <div class="col-xl-6 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Listado de ejercicios</h3>
          </div>
          <div class="col text-right">
          <%= link_to 'Nuevo ejercicio', new_ejercicio_path,class:"btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @ejercicios.each do |ejercicio| %>
              <tr>
                <th scope="row"><%= ejercicio.name %></th>
                <td><%= ejercicio.description %></td>
                <td>
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <% if ejercicio.networkid.to_i==session[:cuser].networkid.to_i or session[:cuser].tipo==1 %>
                        <%= link_to 'Editar', edit_ejercicio_path(ejercicio), { :class=>"dropdown-item" } %>
                        <%= link_to 'Borrar', ejercicio, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"dropdown-item"  %>
                      <% end %>
                    </div>
                  </div> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Listado de WODs</h3>
          </div>
          <div class="col text-right">
          <%= link_to 'Nuevo WOD', new_wod_root_path,class:"btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Disponibilidad</th>
            <th></th>
          </tr>

          <% @wod_roots.each do |wod| %>
            <tr>
              <td><%= wod.name %></td>
              <td><%= wod.description %></td>
              <td><% if wod.globalavailable == 1 %><span class="badge badge-pill badge-success">Compartido con otros gym/box</span><% else %><span class="badge badge-pill badge-info">Solo para usuarios de paga</span><% end %></td>
              <td>
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <% if (wod.networkid.to_i == session[:cuser].networkid.to_i  and (session[:cuser].tipo == isManager() or session[:cuser].tipo == isReceptionist())  )or session[:cuser].tipo==isAdmin() %>
                      <%= link_to 'Editar', edit_wod_root_path(wod), { :class=>"dropdown-item" } %>
                      <%= link_to 'Borrar', wod, method: :delete, data: { confirm: '¿Estás seguro de borrar este WOD?' }, :class=>"dropdown-item"  %>
                    <% end %>
                      <%= link_to 'Ver WOD', wod_root_path(wod), { :class=>"dropdown-item" } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<br/>


