<p id="notice"><%= notice %></p>


  <% if @ejercicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejercicio.errors.count, "error") %> prohibited this ejercicio from being saved:</h2>

      <ul>
      <% @ejercicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    
<label for="exampleInputEmail1">Nombre de ejercicio</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<%= @ejercicio.name %>">
    
  </div>
  <div class="form-group">
    <video id="myVideo_demo" width="100%" height="100%" controls="controls"> 
      <source src="/train/<%= @ejercicio.clip %>" type="video/mp4"> 
    </video> 
  </div>
  <div class="form-group">

  
    
    
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Descripción</label>
    <textarea class="form-control" rows="3" id="exampleInputEmail2"><%= @ejercicio.description %></textarea>
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  




<%= link_to 'Edit', edit_ejercicio_path(@ejercicio) %> |
<%= link_to 'Back', ejercicios_path %>


