<div class="modal fade" id="basic-modal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<% ultimoUsuario=Entrada.where('usuarios_id IS NOT NULL').last.usuarios_id
		usuarioActual=Usuario.where(:id=>Entrada.all.last.usuarios_id).last %>
			<% if ultimoUsuario!=nil and usuarioActual!=nil %>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><%= usuarioActual.nombre %> <%= usuarioActual.apellido %></h4>
			</div>
			<div class="modal-body">
			
				 
									<div class="thumbnail">
										<img src="/images/<%= usuarioActual.last.foto %>" alt="" style=" height: 200px;">
										<div class="caption">
										<% if Pago.where("vence >= ?", DateTime.now).where(:usuarios_id=>Entrada.all.last.usuarios_id).length>0 %>
											<h3><span class="label label-success">
								Membresia activa </span></h3>
								<% else %>
								<h3><span class="label label-danger">
								Membresia inactiva </span></h3>
								<% end %>

											<!-- <p>
												 Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
											</p> -->
											<p>
												
											</p>
										</div>
									</div>
			
								

			</div>
			<% end %>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
				<!-- <button type="button" class="btn blue">Cerrar</button> -->
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>