<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <div class=" dropdown-header noti-title">
        <h6 class="text-overflow m-0">Welcome!</h6>
    </div>
    <a href="/usuarios/<%= session[:cuser].id %>/edit" class="dropdown-item">
        <i class="ni ni-single-02"></i>
        <span>Mi perfil</span>
    </a>
    <% if session[:cuser].tipo<4 %>
        <a href="/asistencia" class="dropdown-item">
            <i class="ni ni-bullet-list-67"></i>
            <span>Asistencia</span>
        </a>
        <a href="/eventos" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Eventos</span>
        </a>
    <% end %>
    <% if session[:cuser].tipo<3 %>
        <a href="/recompensa_obtenidas" class="dropdown-item">
        <i class="ni ni-trophy"></i>
            <span>Recompensas</span>
        </a>
    <% end %>
    <div class="dropdown-divider"></div>
    <a href="/entradas/salir" class="dropdown-item">
        <i class="ni ni-user-run"></i>
        <span>Salir</span>
    </a>
</div>