<div class="dropdown dropdown-extended dropdown-dark dropdown-tasks" id="header_task_bar" onclick="window.location.href='/entradas'">
	<a href="/entradas" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<i class="fa fa-ticket"></i>
	
	
	</a>
	<ul class="dropdown-menu extended tasks">
		<li class="external">
			<h3>Oprime aquí para <strong>activar sensor de NFC/RFID</strong> </h3>
			<a href="/entradas"></a>
		</li>
		
	</ul>
</div>