<div class="dropdown dropdown-extended dropdown-dark dropdown-tasks" id="header_task_bar" onclick="javascript:openDoor();">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<i class="icon-arrow-right"></i>
	
	
	</a>
	<ul class="dropdown-menu extended tasks">
		<li class="external">
			<h3>Oprime aquí para <strong>abrir la puerta</strong> </h3>
			<a href="#"></a>
		</li>
		
	</ul>
</div>