<footer class="footer py-3" style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2025 <a href="https://www.sportfit.app" class="font-weight-bold ml-1" target="_blank">SPORTFIT</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.sportfit.app" class="nav-link" target="_blank">SPORTFIT</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>

