
  
<script type="text/javascript">
  var days=<%= @scheduleTable.to_json.html_safe %>;
  var selectedDays=<%= @selectedScheduleTable.to_json.html_safe %>;
</script>
<input type="hidden" name="fulltimetable" id="fulltimetable"/>
<br>
  <br>
  Horarios

  <div class="container-schedule">
  <% 
  activateMore = false
  previousDay = false
  for singleGroup in 0..6 %>
  <% if @groupedBy[singleGroup]==nil 
    @groupedBy[singleGroup]=[]
    end
    if previousDay == true and @groupedBy[singleGroup].length==0
      activateMore = true
    end
    previousDay = @groupedBy[singleGroup].length>0
    %>
  <div class="select-days <% if singleGroup!=0 and @groupedBy[singleGroup].length==0 and activateMore == false %> hidden <% end %>" id="mschedule-<%= singleGroup %>" style="height:50px">
  <% activateMore = false %>
    <div class="icon-wrapper ">
      <div ><i class="fa <% if @groupedBy[singleGroup].length>0 %> fa-pencil-alt <% else %>fa-plus<% end %> rounded "></i></div>
    </div>
    <div class="from-to hidden"></div>
    <div class="days">
      <div data-day-select="mon" <% if @groupedBy[singleGroup].index("mon")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("mon") and @groupedBy[singleGroup].index("mon")==nil%> style="display: none;" <% end %>>Mon</div>
      <div data-day-select="tue" <% if @groupedBy[singleGroup].index("tue")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("tue") and @groupedBy[singleGroup].index("tue")==nil%> style="display: none;" <% end %>>Tue</div>
      <div data-day-select="wed" <% if @groupedBy[singleGroup].index("wed")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("wed") and @groupedBy[singleGroup].index("wed")==nil%> style="display: none;" <% end %>>Wed</div>
      <div data-day-select="thu" <% if @groupedBy[singleGroup].index("thu")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("thu") and @groupedBy[singleGroup].index("thu")==nil%> style="display: none;" <% end %>>Thu</div>
      <div data-day-select="fri" <% if @groupedBy[singleGroup].index("fri")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("fri") and @groupedBy[singleGroup].index("fri")==nil%> style="display: none;" <% end %>>Fri</div>
      <div data-day-select="sat" <% if @groupedBy[singleGroup].index("sat")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("sat") and @groupedBy[singleGroup].index("sat")==nil%> style="display: none;" <% end %>>Sat</div>
      <div data-day-select="sun" <% if @groupedBy[singleGroup].index("sun")!=nil %>class="selected"<% end %> <% if @selectedScheduleTable.index("sun") and @groupedBy[singleGroup].index("sun")==nil%> style="display: none;" <% end %>>Sun</div>
    </div>
        <table class="table-schedule">
          <tbody>
            <tr>
            
            <% for hourCounter in 1..12 %>
              <% if hourCounter <5 %>
                <% if @groupedBy[singleGroup].length>0 %>
                <% puts "----->|"+@scheduleTable[@groupedBy[singleGroup][0]].inspect %>
                  <td data-day="mon" class="ui-widget-content <% if @scheduleTable[@groupedBy[singleGroup][0]].index(hourCounter.to_s)!=nil %>selected <% end %>" ><%= hourCounter %></td>
                <% else %>
                  <td data-day="mon" class="ui-widget-content" ><%= hourCounter %></td>
                <% end %>
              <% else %>
                <% if @groupedBy[singleGroup].length>0 %>
                  <td data-day="mon" <% if @scheduleTable[@groupedBy[singleGroup][0]].index(hourCounter.to_s)!=nil %>class="selected"<% end %> ><%= hourCounter %></td>
                <% else %>
                  <td data-day="mon" ><%= hourCounter %></td>
                <% end %>
              <% end %>
              
            <% end %>
            </tr>
            <tr>
            <% for hourCounter in 13..24 %>
            <% if @groupedBy[singleGroup].length>0 %>
                <td data-day="mon" <% if @scheduleTable[@groupedBy[singleGroup][0]].index(hourCounter.to_s)!=nil %>class="selected"<% end %> ><%= hourCounter %></td>
            <% else %>
            <td data-day="mon"><%= hourCounter %></td>
            <% end %>
            <% end %>
              
            </tr>
          </tbody>
        </table>
  </div>
  <% end %>
    
  
  
  
  
  
  
  
  
  
      
  <form class="hour-form">
  </form>
</div>


<br>
<br>
<br>
<br>
<br>