
<ul class="navbar-nav">
<% if session[:cuser].tipo!=1 and session[:cuser].tipo!=2%>
	<li class="nav-item ">
	<a class="nav-link" href="/pagos">
		<i class="ni ni-tv-2 text-primary"></i> Pagos
	</a>
	</li>
<% end %>
<% if session[:cuser].tipo==1 or session[:cuser].tipo==2 %>
	<li class="nav-item">
		<a class="nav-link" href="/dashboards">
			<i class="ni ni-atom text-blue"></i> Inicio
		</a>
	</li>
<% end %>
<% if session[:cuser].tipo <= 4   %>
	<li class="nav-item">
		<a class="nav-link" href="/usuarios">
			<i class="ni ni-badge text-blue"></i> Usuarios
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/establecimientos">
			<i class="ni ni-shop text-blue"></i> Establecimientos
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/ejercicios">
			<i class="ni ni-user-run text-blue"></i> Ejercicios/WOD
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/notificaciones">
			<i class="ni ni-tag text-blue"></i> Notificaciones
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/pagos">
			<i class="ni ni-credit-card text-blue"></i> Pagos
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/paquetes">
			<i class="ni ni-money-coins text-blue"></i> Planes y suscripciones
		</a>
	</li>
		
<% end %>
<% if session[:cuser].tipo==1 or session[:cuser].tipo==2 %>
	<li class="nav-item">
		<a class="nav-link" href="/rewards">
		<i class="ni ni-trophy text-blue"></i>Recompensas</a>
	</li>
<% end %>
<% if session[:cuser].tipo==1 or session[:cuser].tipo==5 %>
	<li class="nav-item">
		<a class="nav-link" href="/nutritions">
		<i class="ni ni-money-coins text-blue"></i>Nutricion</a>
	</li>
<% end %>

<% if session[:cuser].tipo==1 or session[:cuser].tipo==2%>
	<li class="nav-item">
	<a class="nav-link" href="/corte_cajas">
	<i class="ni ni-paper-diploma text-blue"></i>Corte de caja</a>
	</li>

<% end %>
</ul>
<!-- Divider -->
<hr class="my-3">
<!-- Heading -->
<h6 class="navbar-heading text-muted">Mi establecimiento</h6>

<!-- Navigation -->
<ul class="navbar-nav mb-md-3">
	<li class="nav-item">
		<% if session[:cuser].tipo== isAdmin() or session[:cuser].tipo== isReceptionist() or session[:cuser].tipo== isManager() %>
		<div style="display: inline-flex;" >
			<a class="nav-link" href="/devices">
				<i class="ni ni-ui-04"></i> Dispositivos
			</a>
		
			<div class="dropdown dropup">
			
				<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
					<% Device.where(:networkid=>session[:cuser].networkid,:action=>2).each do |singleDevice | %>
					<a class="dropdown-item" href="javascript:activateIot('<%= singleDevice.uid %>')">Activar <%= singleDevice.name %></a>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</li>
	<li class="nav-item">
		<% if session[:cuser].tipo== isAdmin() or session[:cuser].tipo== isReceptionist() or session[:cuser].tipo== isManager() %>
		<div style="display: inline-flex;" >
			<a class="nav-link" href="#">
			
				<i class="ni ni-active-40"></i> Entrada con huella
			</a>
			<div class="dropdown dropup">
			
				<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
				<% Establecimiento.where(:networkid=>session[:cuser].networkid).each do |singleEstablecimiento | %>
					<a class="dropdown-item" href="/entradas/biometric/<%= singleEstablecimiento.uniq %>"><%= singleEstablecimiento.nombre %></a>
				<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</li>
	<li class="nav-item">
		<% if session[:cuser].tipo== isAdmin() or session[:cuser].tipo== isReceptionist() or session[:cuser].tipo== isManager() %>
		<div style="display: inline-flex;" >
			<a class="nav-link" href="#">
			
				<i class="ni ni-badge"></i> Entrada con tarjeta
			</a>
			<div class="dropdown dropup">
			
				<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
				<% Establecimiento.where(:networkid=>session[:cuser].networkid).each do |singleEstablecimiento | %>
					<a class="dropdown-item" href="/entradas/contactless/<%= singleEstablecimiento.uniq %>"><%= singleEstablecimiento.nombre %></a>
				<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</li>
	<li class="nav-item">
		<% if session[:cuser].tipo== isAdmin() or session[:cuser].tipo== isReceptionist() or session[:cuser].tipo== isManager() %>
		<div style="display: inline-flex;" >
			<a class="nav-link" href="#">
				<i class="ni ni-key-25"></i> Entrada sin tarjeta
			</a>
			<div class="dropdown dropup">
			
				<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
				<% Establecimiento.where(:networkid=>session[:cuser].networkid).each do |singleEstablecimiento | %>
					<a class="dropdown-item" href="/entradas/keypad/<%= singleEstablecimiento.uniq %>"><%= singleEstablecimiento.nombre %></a>
				<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</li>
</ul>
<br>
<br>
