<li class="dropdown dropdown-extended dropdown-dark dropdown-tasks" id="header_task_bar">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<i class="icon-calendar"></i>
	<% pagosRealizados=Pago.where(:usuarios_id=>session[:cuser].id) %>
	<span class="badge badge-default"><%= pagosRealizados.length %></span>
	</a>
	<ul class="dropdown-menu extended tasks">
		<li class="external">
			<h3>Tienes <strong><%= pagosRealizados.length %> pagos</strong> realizados</h3>
			<a href="#"></a>
		</li>
		<li>
			<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
			<% pagosRealizados.each do |singlePago| %>
				<li>
					<a href="#">
					<% if singlePago.vence>= DateTime.now %>
					<span class="time label label-sm label-success">Activo</span>
					<% else %>
					<span class="time label label-sm label-danger">Vencido</span>
					<% end %>
					<span class="task">
					<span class="desc">Pagado el <%= singlePago.created_at %> </span>
					
					</span>
					
					</a>
				</li>
			<% end %>
			</ul>
		</li>
	</ul>
</li>