<%= simple_form_for @evento,:html => {:multipart => true} do |f| %>
  <div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Resumen de pagos</h3>
          </div>
          <div class="col text-right">
            <%= f.submit "Guardar cambios", :class=> 'btn btn-success' %>
          </div>
        </div>
    </div>


    <div class="card-body">
      <% if @evento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

          <ul>
            <% @evento.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        
        <%= f.input :name,label:"Nombre de evento",input_html: { class:'form-control',placeholder:'Ej. Machaca Crossfest ' } %>
      </div>

      <div class="form-group">
        
        <%= f.input :description,label:"Descripcion",input_html: { class:'form-control',placeholder:'Ej. Traer su cambio de ropa ' } %>
      </div>
      <div class="form-group">
        
        <%= f.input :public,label:"Puede verlo publico en general",as: :boolean,input_html: { class:'form-control' } %>
      </div>
      <div class="form-group">
        <% if @evento.imagen!=nil %>
        <img src="/images/<%= @evento.imagen %>">
        <% end %>
        <%= f.input :imagen,:as=>:file, label: 'Imagen' , input_html: {class:'form-control',accept: ('*.jpg'), 'data-show-preview'=>false } %>
        <p class="help-block">Asegurese que es formato JPG</p>
      </div>
      <div class="form-group">  
        <%= f.input :fecha,label:"Fecha",input_html: { class:'form-control' } %>
      </div>

    </div
  </div>
<% end %>
