<div class="card shadow">
  <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Lista de eventos</h3>
        </div>
        <div class="col text-right">
          <%= link_to 'Nuevo Evento', new_evento_path, :class=>'btn btn-sm btn-primary' %>
        </div>
      </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @eventos.each do |evento| %>
          <tr>
            <th scope="row"><%= evento.name %></th>
            <td><%= evento.description %></td>
            <td><%= evento.fecha.strftime('%d-%m-%Y') %></td>
            <td>
              <div class="dropdown">
                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    
                    <%= link_to 'Editar', edit_evento_path(evento), :class=>"dropdown-item" %>
                    <%= link_to 'Borrar', evento, method: :delete, data: { confirm: '¿Deseas borrar el evento?' }, :class=>"dropdown-item" %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
      
<br />


