<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @evento.name %>
</p>

<p>
  <b>Description:</b>
  <%= @evento.description %>
</p>

<p>
  <b>Fecha:</b>
  <%= @evento.fecha %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
