<html>
  <head>
    
    <title>Receipt</title>
  </head>

  <style type="text/css">

    BODY, TD
    {
      background-color: #ffffff;
      color: #000000;
      font-family: Arial;
      font-size: 8pt;
    }

  </style>
  <body>

    <table border="0">
      <tr>
        <td>

          <table border="0" width="100%">
            <tr> 
               
            </tr>
            <tr>
              <td align="center"><nobr><date> <time></nobr></td>
            </tr>
            <tr>
              <td align="center"><nobr><%= @establecimiento.nombre %> <salesperson></nobr></td>
            </tr>
            <tr>
              <td align="center"><nobr>ticket n. <%= @ticket.id %><receiptnumber></nobr></td>
            </tr>
            <tr>
              <td align="center"><nobr><eventname></nobr></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>

          <table border="2" width="100%">
            <tr>
			  <td align="left"><nobr>Nombre:</nobr></td>
              <td align="right"><nobr><%= Usuario.where(:id=>@ticket.usuarios_id).last.nombre %> <%= Usuario.where(:id=>@ticket.usuarios_id).last.apellido %><nickname><nobr></td>
			</tr>
              <td align="left"><nobr>Cantidad:</nobr></td>
              <td align="right"><nobr><%= @ticket.cantidad_original %><tablename><nobr></td>
            </tr>
            <tr>
              <td align="left"><nobr>Descuento:</nobr></td>
              <td align="right"><nobr><%= @ticket.descuento %><seatnumber><nobr></td>
            </tr>
            <tr>
              <td align="left"><nobr>Fecha de pago:</nobr></td>
              <td align="right"><nobr><%= @ticket.created_at.strftime('%d-%m-%Y') %><seatnumber><nobr></td>
            </tr>
            <tr>
              <td align="left"><nobr>Siguiente pago:</nobr></td>
              <td align="right"><nobr><%= @ticket.vence.strftime('%d-%m-%Y') %><seatnumber><nobr></td>
            </tr>
            <tr>
              <td align="left"><nobr>Paquete:</nobr></td>
              <% if @ticket.paquete!=nil and @ticket.paquete!="" %>
              <td align="right"><nobr><%= Paquete.where(:id=>@ticket.paquete).last.nombre %><id><nobr></td>
              <% else %>
              <td align="right"><nobr>Pago complementario<id><nobr></td>
              <% end %>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td align="left"><nobr>Total</nobr></td>
              <td align="right"><nobr><%= @ticket.cantidad %><total><nobr></td>
            </tr>
          </table>

        </td>
      </tr>
    </table>

  </body>
</html>
