<%= simple_form_for(@access) do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.input :user_id, required:true,label:"Usuario",:collection => @usuarios,:label_method => :email, :value_method => :id,input_html: { class:'col-md-12 form-control' }%>
  </div>
  <div class="field">
  <%= f.input :establecimiento_id, required:true,label:"Establecimiento",:collection => @establecimientos,:label_method => :nombre, :value_method => :id,input_html: { class:'col-md-12 form-control' }%>
    

  </div>
  <div class="field">
    <%= f.label :level_access %><br />
    <%= f.number_field :level_access %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
