<h1>Editar permisos de usuario</h1>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Establecimiento</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accesses.each do |access| %>
  <tr>
    <td><%= access.user_id %></td>
    <td><span class="badge badge-success"><%= Establecimiento.find_by_id(access.establecimiento_id).nombre %></span></td>
    
    <td><%= link_to 'Show', access %></td>
    <td><%= link_to 'Edit', edit_access_path(access) %></td>
    <td><%= link_to 'Destroy', access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo permiso', new_access_path %>
