<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @access.user_id %>
</p>

<p>
  <b>Establecimiento:</b>
  <%= @access.establecimiento_id %>
</p>

<p>
  <b>Level access:</b>
  <%= @access.level_access %>
</p>


<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
