<%= form_for(@diccionario) do |f| %>
  <% if @diccionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diccionario.errors.count, "error") %> prohibited this diccionario from being saved:</h2>

      <ul>
      <% @diccionario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :termino %><br />
    <%= f.text_field :termino %>
  </div>
  <div class="field">
    <%= f.label :definicion %><br />
    <%= f.text_field :definicion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
