<h1>Listing diccionarios</h1>

<table>
  <tr>
    <th>Termino</th>
    <th>Definicion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diccionarios.each do |diccionario| %>
  <tr>
    <td><%= diccionario.termino %></td>
    <td><%= diccionario.definicion %></td>
    <td><%= link_to 'Show', diccionario %></td>
    <td><%= link_to 'Edit', edit_diccionario_path(diccionario) %></td>
    <td><%= link_to 'Destroy', diccionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diccionario', new_diccionario_path %>
