<p id="notice"><%= notice %></p>

<p>
  <b>Termino:</b>
  <%= @diccionario.termino %>
</p>

<p>
  <b>Definicion:</b>
  <%= @diccionario.definicion %>
</p>


<%= link_to 'Edit', edit_diccionario_path(@diccionario) %> |
<%= link_to 'Back', diccionarios_path %>
