<%= form_for(@entrada) do |f| %>
  <% if @entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrada.errors.count, "error") %> prohibited this entrada from being saved:</h2>

      <ul>
      <% @entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :establecimientos_id %><br />
    <%= f.number_field :establecimientos_id %>
  </div>
  <div class="field">
    <%= f.label :usuarios_id %><br />
    <%= f.number_field :usuarios_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
