<div class="page-container">
  <!-- BEGIN PAGE HEAD -->
  <div class="page-head">
    <div class="card" style="left:40%; margin-top: 15%;width:350px">
        <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 60px 0;">
            <div class="card__circle">
                <!-- div class="folder">
                    
                    <div class="folder__page3"></div>
                    <div class="folder__page2"></div>
                    <div class="folder__page1"></div>
                    
                </div -->
                <img src="/assets/img/fingerprint.png" style="width:135px";/>
                </div>
                <div class="card-information">
                    <div class="card-information__title">Lector dactilar</div>
                    <div class="card-information__text">Usa tu huella digital para ingresar</div>
                    <button class="btn btn-icon btn-2 btn-primary" type="button" id="turnoff-btn" style="display:none">
                    <span class="btn-inner--icon"><i class="far fa-circle"></i></span>
                    
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" id="connectBtn" style="display:none;">Vincular lector</button>
                  <button class="btn btn-icon btn-2 btn-primary" type="button" id="turnon-btn" style="display:none">

                    <span class="btn-inner--icon"><i class="fas fa-circle"></i></span>
                    
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var port;
(function() {
  'use strict';

  

  
  let textEncoder = new TextEncoder();
  document.addEventListener('DOMContentLoaded', event => {
    let connectButton = document.querySelector('#connectBtn');

    

    function connect() {
      port.connect().then(() => {
        console.log(port);
        port.onReceive = data => {
          $("#connectBtn").hide();
          let textDecoder = new TextDecoder();
          console.log(textDecoder.decode(data));
          var cardDetails=textDecoder.decode(data).replace(/'/gi, '"');
          if(cardDetails!=""){
            signInByCard(JSON.parse(cardDetails));
          }
          
        }
        port.onReceiveError = error => {
          console.log('Receive error: ' + error)
          $("#connectBtn").show();
        };
      }, error => {
        console.log('Connection error: ' + error)
        $("#connectBtn").show();
      });
    };
    document.getElementById('turnon-btn').addEventListener('click', function() {
        if (port !== undefined) {
            port.send(textEncoder.encode("H")).catch(error => {
            console.log('Send error: ' + error);
            });
        }
        var cardDetails='{"deviceId":"3211"}';
        signInByCard(JSON.parse(cardDetails).deviceId);
    });
    document.getElementById('turnoff-btn').addEventListener('click', function() {
        if (port !== undefined) {
            port.send(textEncoder.encode("L")).catch(error => {
            console.log('Send error: ' + error);
            });
        }
    });
    connectButton.addEventListener('click', function() {
      if (port) {
        port.disconnect();
        connectButton.textContent = 'Vincular lector';
        port = null;
      } else {
        serial.requestPort().then(selectedPort => {
          port = selectedPort;
          connect();
          $("#connectBtn").hide();
        }).catch(error => {
          console.log('Connection error: ' + error);
        });
      }
    });

    serial.getPorts().then(ports => {
      if (ports.length == 0) {
        console.log('No devices found.');
        $("#connectBtn").show();
      } else {
        port = ports[0];
        connect();
      }
    });
  });
})();
function signInByCard(sosn){
  $.post( "/entradas/logWithCard", { device:sosn,authenticity_token:'<%= form_authenticity_token.to_s %>' }, function(result){
    console.log(result);
  }).done(function( data ) {
      console.log(data);
  });
}
</script>