
<style>
img{border:0;}
.device {
  position: relative;
  border-radius: 16px;
  margin: 0 auto;
  display: inline-block;
  transform: scale(1);
}
.device .device-bezel {
  border-radius: inherit;
  padding: 36px 10px 24px 10px;
  overflow: hidden;
  background: linear-gradient(240deg, #8da4c3 0%, #4f8285 30%, #070f0a 35%, #0a0606 100%);
  position: relative;
  box-sizing: content-box;
}
.device .device-viewport {
  contain: strict;
  width: 100%;
  height: 622.2222222222px;
  background: white;
  border-radius: inherit;
  transform: scale(1);
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.container {
  background: transparent;
  height: 100%;
}

.content {
  background: white;
}
.content img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.body-content {
  padding: 16px;
}
.body-content h3 {
  margin-bottom: 16px;
}
.body-content p {
  line-height: 1.5em;
  margin-bottom: 8px;
}
.body-content button {
  width: 100%;
  height: 48px;
  border-radius: 1000px;
  border: none;
  outline: none;
  margin-top: 24px;
  cursor: pointer;
}

.pin-info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.pin-display {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.keypad {
  padding: 16px;
  background: white;
}

.keypad--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keypad--button {
  font-family: "Montserrat", sans-serif;
  height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-out;
}
.keypad--button:active {
  background: #EAEAEA;
}

.confirmation-dots {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.confirmation-dots.error {
  animation-name: shake;
  animation-duration: 300ms;
}
.confirmation-dots svg {
  height: 24px;
  max-height: 24px;
  width: 139px;
}
.confirmation-dots .pin-circle {
  transition: all 100ms ease-out;
  fill: white;
  stroke-width: 2px;
  stroke: black;
  outline-offset: -2px;
  outline-width: 2px;
}
.confirmation-dots .pin-circle.entered {
  fill: black;
}
.confirmation-dots .pin-circle.success {
  fill: green;
  stroke: green;
}
.confirmation-dots .pin-circle.error {
  fill: red;
  stroke: red;
}

.circle-lock--container {
  height: 72px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.circle-lock {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 1000px;
  position: relative;
  top: -40px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle-lock .lock-icon {
  color: #333;
}

.page-title {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-weight: 700;
}

.pin-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

</style>


<div class="page-container">
  <!-- BEGIN PAGE HEAD -->
  <div class="page-head">
    <div class="container">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1><img src="/images/logo_1.png" class="img-responsive" alt=""/> Bienvenido,ingresa tu número de socio <small> también puedes usar tu tarjeta de membresía</small></h1>
      </div>
      <!-- END PAGE TITLE -->
      <!-- END PAGE TOOLBAR -->
      
    </div>
    
          
        <!-- START DEVICE -->
        <div class="device card" style="left:33%; margin-top: 7%;">
        <div >
            <div class="device-viewport">
            <!-- Begin custom content -->
            <div class="content">
                <img id="currentUserPhoto" style="display: none;"/>
                <div class="body-content">
                <h1 id="welcomeName"></h1>
                <h3 id="adeudoNotice"></h3>
                <p></p>
                <button id="reset-button"></button>
                </div>
            </div>
            <div class="container">
                <div class="pin-info">
                <!-- h1 class="page-title">Ingresa número de socio</h1 -->
                <div class="card-information__title">Ingresa número de socio</div>
                
                </div>
                <div class="pin-display">
                <div class="circle-lock--container">
                    <div class="circle-lock">
                    <i class="material-icons lock-icon">lock</i>
                    </div>
                </div>
                <div class="confirmation-dots">
                    <svg>
                    <g>
                        <circle class="pin-circle" cx="10" cy="10" r="8"></circle>
                        <circle class="pin-circle" cx="50" cy="10" r="8"></circle>
                        <circle class="pin-circle" cx="90" cy="10" r="8"></circle>
                        <circle class="pin-circle" cx="130" cy="10" r="8"></circle>
                    </g>
                    </svg>
                </div>
                <div class="keypad">
                    <div class="keypad--row">
                    <div class="keypad--button" data-value="1">1</div>
                    <div class="keypad--button" data-value="2">2</div>
                    <div class="keypad--button" data-value="3">3</div>
                    </div>
                    <div class="keypad--row">
                    <div class="keypad--button" data-value="4">4</div>
                    <div class="keypad--button" data-value="5">5</div>
                    <div class="keypad--button" data-value="6">6</div>
                    </div>
                    <div class="keypad--row">
                    <div class="keypad--button" data-value="7">7</div>
                    <div class="keypad--button" data-value="8">8</div>
                    <div class="keypad--button" data-value="9">9</div>
                    </div>
                    <div class="keypad--row">
                    <div class="keypad--button keyboard--button__back-arrow"><i class="material-icons">arrow_back</i></div>
                    <div class="keypad--button" data-value="0">0</div>
                    <div class="keypad--button keyboard--button__x">x</div>
                    </div>
                </div>
                </div>
            </div>
            <!-- end custom content -->
            </div>
        </div>
        </div>
        <!-- END DEVICE -->
    </div>
    
  </div>
  <!-- END PAGE HEAD -->
  <!-- BEGIN PAGE CONTENT -->
  
  <!-- END PAGE CONTENT -->
</div>
<script>
(function () {
  const correctPin = "0000";
  let disableInput = false;
  _pinArray = [];

  function reset() {
    closeLock().then(() => {
      disableInput = false;
      _pinArray = [];
      bindPinToDisplay(_pinArray);
      $("#currentUserPhoto").hide();
      $("#reset-button").hide();
      $("#currentUserPhoto").attr("src","");
      $("#welcomeName").text("");
      $("#adeudoNotice").text("");
    });
  }

  function closeLock() {
    const topSection = document.querySelector(".pin-info");
    const bottomSection = document.querySelector(".pin-display");

    const promises = [
    anime({
      targets: bottomSection,
      translateY: "0%",
      duration: 600,
      easing: "easeOutCubic" }).
    finished,
    anime({
      targets: topSection,
      translateY: "0%",
      duration: 600,
      easing: "easeOutCubic" }).
    finished];


    return Promise.all(promises);
  }
  function openLock() {
    const topSection = document.querySelector(".pin-info");
    const bottomSection = document.querySelector(".pin-display");

    const promises = [
    anime({
      targets: bottomSection,
      translateY: "125%",
      duration: 600,
      easing: "easeInCubic" }).
    finished,
    anime({
      targets: topSection,
      translateY: "-101%",
      duration: 600,
      easing: "easeInCubic" }).
    finished];

    setTimeout(() => {
              reset();
            }, 5000);
    return Promise.all(promises);

  }

  function errorShake() {
    return Promise.resolve();
  }
  function bindPinToDisplay(pinArray, pinStatus) {
    document.querySelectorAll(".pin-circle").forEach((el, index) => {
      if (pinStatus === "success") {
        el.classList.add("success");
      } else if (pinStatus === "error") {
        el.classList.add("error");
      } else if (index > pinArray.length - 1) {
        el.classList.remove("entered");
        el.classList.remove("success");
        el.classList.remove("error");
      } else {
        el.classList.add("entered");
      }
    });

    if (pinStatus === "error") {
      document.querySelector(".confirmation-dots").classList.add("error");
    } else {
      document.querySelector(".confirmation-dots").classList.remove("error");
    }
  }

  function evaluatePin(pinArray) {
    const enteredPin = pinArray.join("");
    if (enteredPin.length === 4) {
      welcomeUser();
      disableInput = true;
      
      console.log("correct PIN");
    } else {
      disableInput = true;
      
    }
  }

  function initKeypad() {
    document.addEventListener("keypress", function (e) {
    var key = e.keyCode || e.charCode;
    if (key >= 48 && key <= 57) {
      const value = key - 48;
      if (_pinArray.length < 4) {
        _pinArray.push(value);
        bindPinToDisplay(_pinArray);
        if (_pinArray.length === 4) {
          evaluatePin(_pinArray);
        }
      }
    }
  });
    document.querySelectorAll(".keypad--button[data-value]").forEach(el => {
      el.addEventListener("click", evt => {
        if (disableInput) {
          return;
        }
        const value = evt.target.attributes["data-value"].value;
        if (_pinArray.length < 4) {
          _pinArray.push(value);
          bindPinToDisplay(_pinArray);
          if (_pinArray.length === 4) {
            evaluatePin(_pinArray);
          }
        }
      });
    });

    document.querySelector(".keyboard--button__back-arrow").addEventListener("click", () => {
      if (disableInput) {
        return;
      }
      _pinArray.pop();
      bindPinToDisplay(_pinArray);
    });

    document.
    querySelector(".keyboard--button__x").
    addEventListener("click", () => {
      if (disableInput) {
        return;
      }
      _pinArray = [];
      bindPinToDisplay(_pinArray);
    });

    document.querySelector('#reset-button').addEventListener('click', () => {
      reset();
    });
  }

  function initLayout() {
    const containerHeight = document.querySelector(".container").offsetHeight;
    const keypadHeight = document.querySelector(".pin-display").offsetHeight;
    document.querySelector(".pin-info").style.height = `${containerHeight -
    keypadHeight +
    1}px`;
  }

  function welcomeUser(){
	$.post( "/entradas/logWithKeyPad", { usuario:_pinArray.join(""),authenticity_token:'<%= form_authenticity_token.to_s %>',uid:'<%= @establecimiento_id %>'})
  			.done(function( data ) {
          console.log(data);
          if(data.type == "error"){
            setTimeout(() => {
              bindPinToDisplay(_pinArray, "error");
              setTimeout(() => {
                _pinArray = [];
                bindPinToDisplay(_pinArray);
                disableInput = false;
              }, 350);
            }, 250);
          } else {
            setTimeout(() => {
            bindPinToDisplay(_pinArray, "success");
            $("#currentUserPhoto").attr("src","/images/"+data.photo);
            $("#currentUserPhoto").show();
            $("#reset-button").show();
            $("#welcomeName").text("Hey! "+data.nombre);
            $("#adeudoNotice").text(data.deuda);
            if(data.log_errors.length == 0 ){
              $("#reset-button").css("background-color", "#00ff5a");
              $("#reset-button").text("¡Bienvenido!");
            } else {
              $("#reset-button").css("background-color", "#ff0000");
              $("#reset-button").text("Hay un problema con tu ingreso");
            }
            setTimeout(() => {
              openLock();
            }, 500);
          }, 250);
          }
  		});
  }

  function init() {
    initKeypad();
    initLayout();
  }

  init();
})();
</script>