<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @entrada.id %>
</p>

<p>
  <b>Establecimientos:</b>
  <%= @entrada.establecimientos_id %>
</p>

<p>
  <b>Usuarios:</b>
  <%= @entrada.usuarios_id %>
</p>


<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
