<%= form_for(@wod_schedule) do |f| %>
  <% if @wod_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wod_schedule.errors.count, "error") %> prohibited this wod_schedule from being saved:</h2>

      <ul>
      <% @wod_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wod_id %><br />
    <%= f.number_field :wod_id %>
  </div>
  <div class="field">
    <%= f.label :weekday %><br />
    <%= f.text_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :hour %><br />
    <%= f.text_field :hour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
