<h1>Listing wod_schedules</h1>

<table>
  <tr>
    <th>Wod</th>
    <th>Weekday</th>
    <th>Hour</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wod_schedules.each do |wod_schedule| %>
  <tr>
    <td><%= wod_schedule.wod_id %></td>
    <td><%= wod_schedule.weekday %></td>
    <td><%= wod_schedule.hour %></td>
    <td><%= link_to 'Show', wod_schedule %></td>
    <td><%= link_to 'Edit', edit_wod_schedule_path(wod_schedule) %></td>
    <td><%= link_to 'Destroy', wod_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wod schedule', new_wod_schedule_path %>
