<p id="notice"><%= notice %></p>

<p>
  <b>Wod:</b>
  <%= @wod_schedule.wod_id %>
</p>

<p>
  <b>Weekday:</b>
  <%= @wod_schedule.weekday %>
</p>

<p>
  <b>Hour:</b>
  <%= @wod_schedule.hour %>
</p>


<%= link_to 'Edit', edit_wod_schedule_path(@wod_schedule) %> |
<%= link_to 'Back', wod_schedules_path %>
