<%= form_for(@corte_caja) do |f| %>
  <% if @corte_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corte_caja.errors.count, "error") %> prohibited this corte_caja from being saved:</h2>

      <ul>
      <% @corte_caja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuarios_id %><br />
    <%= f.number_field :usuarios_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br />
    <%= f.datetime_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br />
    <%= f.datetime_select :fecha_fin %>
  </div>
  <div class="field">
    <%= f.label :autorizo %><br />
    <%= f.number_field :autorizo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
