<div class="card shadow">
    <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Cortes de caja</h3>
          </div>
          <div class="col text-right">
            <!-- a href="#!" class="btn btn-sm btn-primary">See all</a -->
          </div>
        </div>
    </div>
    <div class="card-body">
        <form role="form"  class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Seleccione empleado</label>
                    <div class="col-md-4">
                        <select class="form-control" id="employee">
                            <%
                            # tipo 2 MANAGER
                            # tipo 4 RECEPCIONIST / HOST
                            %>
                            <% 
                            admins = nil
                            if session[:cuser].tipo == isManager() or session[:cuser].tipo == isReceptionist()
                                admins=Usuario.where(:tipo=>[isManager(), isReceptionist()],:networkid=>session[:cuser].networkid) 
                            elsif session[:cuser].tipo == isAdmin()
                                admins=Usuario.where(:tipo=>[isManager(), isReceptionist()]) 
                            end
                            admins.each do |singleAdmin| %>
                            <option value="<%= singleAdmin.id %>"><%= singleAdmin.nombre %> <%= singleAdmin.apellido %></option>
                            <% end %>
                        </select>
                        <!-- /input-group -->
                        <span class="help-block">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Fecha inicio de corte</label>
                    <div class="col-md-4">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input readonly name="datepickeri" id="datepickeri" class="form-control datepicker" placeholder="Seleccione fecha" type="text" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                
                
                
                <div class="form-group">
                    <label class="control-label col-md-3">Fecha fin de corte</label>
                    <div class="col-md-4">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                            </div>
                            <input readonly name="datepickerf" id="datepickerf" class="form-control datepicker" placeholder="Seleccione fecha" type="text" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                        <!-- <a href="#" type="button" class="btn btn-default">Buscar corte</a> -->

                    <a href="javascript:makeCut();"  class="btn btn-circle btn-primary">Buscar corte</a>

                
                <div id="corteDeposito">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Lista de pagos</h3>
                </div>
                <div class="col text-right">
                    <!-- a href="#!" class="btn btn-sm btn-primary">See all</a -->
                </div>
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            
                            <th>
                                    Nombre cliente
                            </th>
                            <th>
                                    Fecha
                            </th>
                            <th>
                                    Monto
                            </th>
                            <th>
                                    Metodo de pago
                            </th>
                        </tr>
                    </thead>
                    <tbody id="cutDetails">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

  