<p id="notice"><%= notice %></p>

<p>
  <b>Usuarios:</b>
  <%= @corte_caja.usuarios_id %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @corte_caja.fecha_inicio %>
</p>

<p>
  <b>Fecha fin:</b>
  <%= @corte_caja.fecha_fin %>
</p>

<p>
  <b>Autorizo:</b>
  <%= @corte_caja.autorizo %>
</p>


<%= link_to 'Edit', edit_corte_caja_path(@corte_caja) %> |
<%= link_to 'Back', corte_cajas_path %>
