<div class="row">
  <div class="col-xl-6 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Resumen de ventas</h3>
          </div>
          <div class="col text-right">
            <a href="#!" class="btn btn-sm btn-primary">See all</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Ventas</th>
              <th scope="col">Descuentos de cliente</th>
              <th scope="col">Recompensas</th>
              <th scope="col">Crecimiento</th>
            </tr>
          </thead>
          <tbody>
            <% fechaBase = DateTime.new(Time.now.strftime("%Y").to_i, Time.now.strftime("%m").to_i, 1)
               baseyear = DateTime.new(Time.now.strftime("%Y").to_i, 1, 1)
               finalyear = DateTime.new(Time.now.strftime("%Y").to_i, 12, 31)
               ventas = Pago.where(networkid: session[:cuser].networkid).where('created_at >= ?', fechaBase).sum(:cantidad).to_i
               descuentos = Pago.where(networkid: session[:cuser].networkid).where('created_at >= ?', fechaBase).sum(:descuento).to_i
               recompensas = RecompensaObtenida.where(networkid: session[:cuser].networkid).where('created_at >= ?', fechaBase - 1.month).where('created_at < ?', fechaBase).count.to_i
               crecimiento = (ventas - Pago.where(networkid: session[:cuser].networkid).where('created_at >= ?', fechaBase - 1.month).where('created_at < ?', fechaBase).sum(:cantidad).to_i) %>
            <% if ventas.zero? && descuentos.zero? && recompensas.zero? && crecimiento.zero? %>
              <tr>
                <td colspan="4" class="text-center">Aún no hay información en esta sección</td>
              </tr>
            <% else %>
              <tr>
                <th scope="row"><%= ventas %></th>
                <td><%= descuentos %> <span class="font-lg font-grey-mint">$</span></td>
                <td><%= recompensas %> <span class="font-lg font-grey-mint"></span></td>
                <td><%= crecimiento %> <span class="font-lg font-grey-mint">$</span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xl-6 mb-5 mb-xl-0">
  <div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Actividad de miembros</h3>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nuevos este mes</th>
            <th scope="col">Pagos este mes</th>
          </tr>
        </thead>
        <tbody>
          <% if @nuevos.zero? && @pagos.zero? %>
            <tr>
              <td colspan="2" class="text-center">Aún no hay información en esta sección</td>
            </tr>
          <% else %>
            <tr>
              <th scope="row"><%= @nuevos %></th>
              <td><%= @pagos %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div class="row mt-5">
  <div class="col-md-8">
    <div class="card bg-default shadow">
      <div class="card-header bg-transparent border-0">
        <h3 class="text-white mb-0">Entradas recientes</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Status</th>
              <th scope="col">Plan</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% ultimasEntradas = Entrada.where(networkid: session[:cuser].networkid).last(6) %>
            <% if ultimasEntradas.empty? %>
              <tr>
                <td colspan="6" class="text-center">Aún no hay información en esta sección</td>
              </tr>
            <% else %>
              <% ultimasEntradas.each do |singleEntrada| %>
                <% thisUser = Usuario.where(id: singleEntrada.usuarios_id).last %>
                <% next if thisUser.nil? %>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="/images/<%= thisUser.foto %>">
                      </a>
                    </div>
                  </th>
                  <td><%= thisUser.nombre %></td>
                  <td><%= thisUser.apellido %></td>
                  <td>
                    <% tpagos = Pago.where('vence >= ?', DateTime.now).where(usuarios_id: thisUser.id).where(pausa: [0, nil]) %>
                    <% if tpagos.empty? %>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> Membresia inactiva
                      </span>
                    <% else %>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-success"></i> Membresia activa
                      </span>
                    <% end %>
                  </td>
                  <td>
                    <% if thisUser.paquete.present? %>
                      <%= Paquete.where(id: thisUser.paquete).last&.nombre || 'Sin paquete' %>
                    <% else %>
                      Sin paquete
                    <% end %>
                  </td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Desempeño</h6>
            <h2 class="mb-0">Asistencias últimos 6 meses</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas id="chart-orders" class="chart-canvas chartjs-render-monitor" width="602" height="700" style="display: block; height: 350px; width: 301px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-8 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Resumen de pagos de hoy</h3>
          </div>
          <div class="col text-right">
            <a href="/pagos" class="btn btn-sm btn-primary">Ver todos</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Cobro</th>
              <th scope="col">Nombre de cliente</th>
              <th scope="col">Monto</th>
              <th scope="col">Método de pago</th>
            </tr>
          </thead>
          <tbody>
            <% if @thiscut["pagos"].empty? %>
              <tr>
                <td colspan="4" class="text-center">Aún no hay pagos para hoy</td>
              </tr>
            <% else %>
              <% @thiscut["pagos"].each do |singleCut| %>
                <tr>
                  <th scope="row"><%= singleCut["por"] %></th>
                  <td><%= singleCut["nombre"] %></td>
                  <td><%= singleCut["monto"] %></td>
                  <td><%= singleCut["metodo"] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>