.card {
  
  background-color: #fff;
  box-shadow: 0 10px 30px 0 #c9cdd0;
  border-radius: 20px;
  width: 510px;
  /* height: 505px; */
  box-sizing: border-box;
  padding: 0 60px;
}
.card__circle {
  background-color: #ebf0f3;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 40px;
}
.folder {
  position: relative;
  width: 120px;
  -webkit-perspective: 500px;
          perspective: 500px;
  right: -200px;
}
.folder__bg {
  background-color: #6476f2;
  border-top-right-radius: 4px;
  width: 120px;
  height: 90px;
  position: relative;
}
.folder__bg:after {
  background-color: #6476f2;
  border-top-left-radius: 4px;
  width: 55px;
  height: 15px;
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
}
.folder__bg:before {
  position: absolute;
  top: -15px;
  left: 45px;
  content: '';
  border-top: 15px solid #ebf0f3;
  border-left: 10px solid #6476f2;
  z-index: 2;
}
.folder__page1 {
  background-color: #fff;
  width: 100px;
  height: 60px;
  z-index: 3;
  position: absolute;
  top: -170px;
  right: 0;
  left: 0;
  margin: auto;
}
.folder__page2 {
  background-color: #d9dfe5;
  width: 95px;
  height: 60px;
  z-index: 2;
  position: absolute;
  top: -170px;
  right: 0;
  left: 0;
  margin: auto;
}
.folder__page3 {
  background-color: #ccd3dc;
  width: 92px;
  height: 50px;
  z-index: 1;
  position: absolute;
  top: -170px;
  right: 0;
  left: 0;
  margin: auto;
}
.folder__front {
  background-color: #6d8cff;
  width: 120px;
  height: 70px;
  position: absolute;
  top: 28px;
  z-index: 4;
}
.card:hover .folder {
  -webkit-animation: show 2s ease-in-out;
          animation: show 2s ease-in-out;
  -webkit-animation-fill-mode: infinite;
          animation-fill-mode: infinite;
  -webkit-animation-iteration-count: alternate;
          animation-iteration-count: alternate;
}
.card:hover .folder__front {
  -webkit-animation: open 0.7s ease-in-out;
          animation: open 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.card:hover .folder__page1 {
  -webkit-animation: page1 0.2s ease-in-out;
          animation: page1 0.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.card:hover .folder__page2 {
  -webkit-animation: page2 0.2s ease-in-out;
          animation: page2 0.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.card:hover .folder__page3 {
  -webkit-animation: page3 0.2s ease-in-out;
          animation: page3 0.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.file {
  width: 100px;
}
.card-information {
  width: 100%;
  text-align: center;
}
.card-information__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #6c778e;
  padding-bottom: 20px;
}
.card-information__text {
  font-size: 18px;
  color: #6c778e;
}
@-webkit-keyframes show {
  0% {
    right: -200px;
  }
  20% {
    right: 0;
  }
  60% {
    right: 0;
  }
  100% {
    right: 200px;
  }
}
@keyframes show {
  0% {
    right: -200px;
  }
  20% {
    right: 0;
  }
  60% {
    right: 0;
  }
  100% {
    right: 200px;
  }
}
@-webkit-keyframes open {
  80% {
    -webkit-transform: rotateX(-38deg) scale(1.05);
            transform: rotateX(-38deg) scale(1.05);
  }
  90% {
    -webkit-transform: rotateX(-36deg) scale(1.05);
            transform: rotateX(-36deg) scale(1.05);
  }
  100% {
    -webkit-transform: rotateX(-34deg) scale(1.05);
            transform: rotateX(-34deg) scale(1.05);
  }
}
@keyframes open {
  80% {
    -webkit-transform: rotateX(-38deg) scale(1.05);
            transform: rotateX(-38deg) scale(1.05);
  }
  90% {
    -webkit-transform: rotateX(-36deg) scale(1.05);
            transform: rotateX(-36deg) scale(1.05);
  }
  100% {
    -webkit-transform: rotateX(-34deg) scale(1.05);
            transform: rotateX(-34deg) scale(1.05);
  }
}
@-webkit-keyframes page1 {
  0% {
    top: -200px;
  }
  100% {
    top: -15px;
  }
}
@keyframes page1 {
  0% {
    top: -200px;
  }
  100% {
    top: -15px;
  }
}
@-webkit-keyframes page2 {
  0% {
    top: -200px;
  }
  100% {
    top: -10px;
  }
}
@keyframes page2 {
  0% {
    top: -200px;
  }
  100% {
    top: -10px;
  }
}
@-webkit-keyframes page3 {
  0% {
    top: -200px;
  }
  100% {
    top: -5px;
  }
}
@keyframes page3 {
  0% {
    top: -200px;
  }
  100% {
    top: -5px;
  }
}
