<%= simple_form_for @usuario, :html => {:multipart => true} do |f| %>
  <% pagoEnPausa = Pago.where(:pausa => 1).where(:usuarios_id => @usuario.id).last
     pagoCorriendo = Pago.where('vence > ?', DateTime.now).where(:usuarios_id => @usuario.id).last
     fechaBase = DateTime.new(Time.now.strftime("%Y").to_i, Time.now.strftime("%m").to_i, 1)
     pagosCorriendo = Pago.where('vence > ?', fechaBase).where(:usuarios_id => @usuario.id).sum(:cantidad_original) %>
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Usuarios</h6>
            <h2 class="mb-0">Datos de usuario <% if @usuario.created_at != nil %>
              ( desde <%= @usuario.created_at.strftime("%Y-%m-%d") %>) Socio <%= @usuario.numsocio %>
            <% end %></h2>
          </div>
          <div class="col text-right">
            <% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() || session[:cuser].tipo == isReceptionist() %>
              <button type="submit" class="btn btn-success">Guardar</button>
              <% if @usuario.id != nil %>
                <%= link_to 'Borrar', @usuario, method: :delete, data: { confirm: 'Se borrará el usuario actual, ¿Desea continuar?' }, :class => "btn btn-warning" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <% if @usuario.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
                <ul>
                  <% @usuario.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() || session[:cuser].tipo == isReceptionist() %>
              <%= f.input :tipo, required: true, label: "Tipo de cuenta", :collection => TipoCuentum.where('id >= ?', session[:cuser].tipo), :label_method => :titulo, :value_method => :id, input_html: { class: 'col-md-12 form-control' } %>
              <%= f.input :gymorigin, label: "Establecimiento de inscripción", :collection => @allowedPlaces, :label_method => :nombre, :value_method => :id, input_html: { class: 'col-md-12 form-control' } %>
            <% end %>
            <%= f.input :numsocio, disabled: @usuario.numsocio != nil, label: "Número de socio (Dejar vacio para crearlo automaticamente)", input_html: { class: 'col-md-12 form-control' } %>
            <% if session[:cuser].tipo != isAdmin() && session[:cuser].tipo != isManager() && session[:cuser].tipo != isReceptionist() %>
              <%= f.input :paquete, required: true, label: "Paquete", :collection => @paquetesDisponibles, :label_method => :nombre, :value_method => :id, input_html: { class: 'col-md-12 form-control' }, :disabled => true %>
            <% else %>
              <%= f.input :paquete, label: "Paquete", :collection => @paquetesDisponibles, :label_method => :nombre, :value_method => :id, input_html: { class: 'col-md-12 form-control' } %>
            <% end %>
            <%= f.input :nombre, required: true, label: "Nombre", input_html: { class: 'col-md-12 form-control' } %>
            <%= f.input :apellido, required: true, label: "Apellido", input_html: { class: 'col-md-12 form-control' } %>
            <%= f.input :sexo, required: true, label: "Sexo", :collection => Sexo.all, :label_method => :mtipo, :value_method => :mtipo, input_html: { class: 'col-md-12 form-control' } %>
            <%= f.input :email, required: true, label: "Email", input_html: { class: 'col-md-12 form-control' } %>
            <% if @usuario.password != nil && @usuario.password != "" %>
              <%= f.input :password, required: true, label: "Contraseña de la cuenta", input_html: { class: 'col-md-12 form-control', value: @usuario.password } %>
            <% else %>
              <%= f.input :password, required: true, label: "Contraseña de la cuenta", input_html: { class: 'col-md-12 form-control' } %>
            <% end %>
            <%= f.input :peso, required: false, label: "Peso (kg)", input_html: { class: 'col-md-12 form-control' } %>
            <%= f.input :altura, required: false, label: "Altura (metros)", input_html: { class: 'col-md-12 form-control' } %>
            <%= f.input :casillero, required: false, label: "Casillero", input_html: { class: 'col-md-12 form-control' } %>

            <div class="input string required usuario_nacimiento">
              <label class="string required" for="usuario_nacimiento">
                <abbr title="required">*</abbr> Fecha de nacimiento
              </label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <% if @usuario.nacimiento != nil %>
                  <input class="form-control datepicker col-md-12" readonly id="usuario_nacimiento" placeholder="Selecciona fecha" name="usuario[nacimiento]" required="required" type="text" value="<%= @usuario.nacimiento.strftime("%d-%m-%Y") %>" data-date="<%= @usuario.nacimiento.strftime("%d-%m-%Y") %>">
                <% else %>
                  <input class="form-control datepicker col-md-12" readonly id="usuario_nacimiento" placeholder="Selecciona fecha" name="usuario[nacimiento]" required="required" type="text" value="<%= Time.now.strftime('%d-%m-%Y') %>" data-date="<%= Time.now.strftime('%d-%m-%Y') %>">
                <% end %>
              </div>
            </div>
            <%= f.input :notas, as: :text, label: "Notas", input_html: { class: 'col-md-12 form-control', rows: "2" } %>
            <%= f.input :nfc, disabled: (session[:cuser].tipo != isAdmin() && session[:cuser].tipo != isManager() && session[:cuser].tipo != isReceptionist()), required: false, label: "Tarjeta NFC", input_html: { class: 'col-md-12 form-control' } %>
                <i class="ni ni-ungroup" style="top: -30px; position: relative; left: 92%;"></i>
                <% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() || session[:cuser].tipo == isReceptionist() %>
                  <%= f.input :biometric, disabled: (session[:cuser].tipo != isAdmin()), required: false, label: "Firma biometrica", input_html: { class: 'col-md-12 form-control' } %>
                  <% if session[:cuser].tipo != isAdmin() %>
                    <%= f.hidden_field :biometric, value: @usuario.biometric %>
                  <% end %>
                  <i class="ni ni-active-40" style="top: -30px; position: relative; left: 92%;" onclick="javascript:enrollUser();"></i>
                  <div class="input integer optional">
                    <button type="button" class="btn btn-primary btn-sm" id="connectBtn">
                      <span class="btn-inner--icon"><i class="ni ni-settings"></i></span>
                      <span class="btn-inner--text">Vincular lector</span>
                    </button>
                  </div>

                  <div class="input integer optional">
                    <button type="button" class="btn btn-primary btn-sm" id="resetBtn">
                      <span class="btn-inner--icon"><i class="ni ni-settings"></i></span>
                      <span class="btn-inner--text">Resetear dispositivo</span>
                    </button>
                  </div>
                <% end %>
            <!-- div class="input-group input-medium date date-picker" data-date="<%=Time.now.strftime('%d-%m-%Y') %>" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
              <% if @usuario.nacimiento!=nil %>
                <%= f.input :nacimiento,as: :string,label:"Fecha de nacimiento ",required: true,input_html: { class: "col-md-12 form-control datepicker", value: @usuario.nacimiento.strftime("%d-%m-%Y")  } %>
              <% else %>
                <%= f.input :nacimiento,as: :string,label:"Fecha de nacimiento ",required: true,input_html: { class: "col-md-12 form-control datepicker"  } %>
              <% end %>
              <button class="btn default form-control" type="button"><i class="icon-calendar"></i></button>
            </div -->
            <div class="actions">
              </br>
              </br>
            </div>
          </div>

          <div class="col-md-6">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light">
              <div class="portlet-title">
                <div class="caption">
                  <!-- <i class="fa fa-cogs font-green-sharp"></i> -->
                  <span class="caption-subject font-blue-sharp bold uppercase">
                    <% if Paquete.where(:id => @usuario.paquete).last != nil %>
                      <% if pagosCorriendo.to_f < Paquete.where(:id => @usuario.paquete).last.precio.to_f %>
                        Deuda del mes <%= Paquete.where(:id => @usuario.paquete).last.precio.to_f - pagosCorriendo.to_f %>
                      <% else %>
                        Usuario con pagos al corriente.
                      <% end %>
                    <% end %>
                  </span>
                  <span class="caption-subject font-green-sharp bold uppercase">
                    <% if pagoCorriendo != nil %>
                      <button type="button" class="btn btn-success" onclick="javascript:pauseUser('<%= @usuario.id %>');"><i class="fa fa-pause"></i> Pausar suscripción</button>
                    <% elsif pagoEnPausa != nil %>
                      <button type="button" class="btn btn-success" onclick="javascript:pauseUser('<%= @usuario.id %>');"><i class="fa fa-play"></i> Reanudar suscripción</button>
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="portlet-body form">
                <div class="form-group last">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 500px; height: 150px; overflow: hidden;">
                      <% if @usuario.foto != nil && @usuario.foto != "" %>
                        <img src="/images/<%= @usuario.foto %>" alt="" id="preview" style="max-width: 500px; max-height: 150px; object-fit: contain;" />
                      <% else %>
                        <img src="https://placehold.co/200x150/EFEFEF/AAAAAA?text=no+image" alt="" id="preview" style="max-width: 500px; max-height: 150px; object-fit: contain;" />
                      <% end %>
                    </div>
                   
                    <div>
                      <a class="btn btn-outline-primary" data-toggle="modal" href="#basic-camera" onclick="javascript:setup();">Crear fotografía</a>
                      <%= f.input :foto, :as => :file, label: 'Fotografía', input_html: { accept: 'image/*', 'data-show-preview' => true, 'data-max-file-size' => 1024, 'data-resize-if-size-more-than' => 1024, 'data-msg-no-files-selected' => 'Imagen excede el tamaño', 'data-msg-validation-error' => 'Archivo excede el tamaño', 'data-msg-placeholder' => 'Selecciona una imagen' } %>
                    </div>
                  </div>
                </div>

                <%= f.input :calle, required: true, label: "Calle", input_html: { class: 'col-md-12 form-control' } %>
                <%= f.input :numero, required: true, label: "Número", input_html: { class: 'col-md-12 form-control' } %>
                <%= f.input :colonia, required: true, label: "Colonia", input_html: { class: 'col-md-12 form-control' } %>
                <%= f.input :telefonocelular, required: true, label: "Teléfono", input_html: { class: 'col-md-12 form-control' } %>
                <%= f.input :contactoEmpresa, required: false, label: "Empresa", input_html: { class: 'col-md-12 form-control' } %>
                <%= f.input :contactoOcupacion, required: false, label: "Ocupación", input_html: { class: 'col-md-12 form-control' } %>
                
                <% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() || session[:cuser].tipo == isReceptionist() %>
                  <div class="form-group">
                    <label>Acceso a complejos deportivos</label>
                    <div class="checkbox-list">
                      <label>
                        <input type="checkbox" name="usuario[isaservice]" <% if @usuario.isaservice != 0 %> checked<% end %>>
                        Este usuario es un servicio de terceros por convenio (hoteles, clubes, etc)
                      </label>
                      <% @allowedPlaces.each do |singleEstablecimiento| %>
                        <% if Paquete.where(:id => @usuario.paquete).last != nil %>
                          <label>
                            <input type="checkbox" name="establecimiento-<%= singleEstablecimiento.id %>" <% if Entrada.where(:establecimientos_id => singleEstablecimiento.id, :paquete => @usuario.paquete).last != nil %> checked<% end %> <% if session[:cuser].tipo != isAdmin() && session[:cuser].tipo != isManager() && session[:cuser].tipo != isReceptionist() %>disabled<% end %>> <%= singleEstablecimiento.nombre %>
                          </label>
                        <% end %>
                      <% end %>
                    </div>
                  </div>

                  <div class="input string required usuario_nacimiento">
                    <label class="string required" for="usuario_finalfecha">
                      Fecha final de acceso
                    </label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <% if @usuario.finalfecha != nil %>
                        <input class="form-control datepicker col-md-12" readonly id="usuario_finalfecha" placeholder="Selecciona fecha" name="usuario[finalfecha]" type="text" value="<%= @usuario.finalfecha.strftime("%d-%m-%Y") %>" data-date="<%= @usuario.finalfecha.strftime("%d-%m-%Y") %>">
                      <% else %>
                        <input class="form-control datepicker col-md-12" readonly id="usuario_finalfecha" placeholder="Selecciona fecha" name="usuario[finalfecha]" type="text">
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <!-- div class="input-group input-medium date date-picker" data-date="<%=Time.now.strftime('%Y-%m-%d') %>" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                  <% if @usuario.finalfecha!=nil %>
                    <%= f.input :finalfecha,as: :string,label:"Fecha final de acceso ",required: false,input_html: { class: "col-md-12 form-control", value: @usuario.finalfecha.strftime("%Y-%m-%d")  } %>
                  <% else %>
                    <%= f.input :finalfecha,as: :string,label:"Fecha final de acceso ",required: false,input_html: { class: "col-md-12 form-control"  } %>
                  <% end %>
                  <button class="btn default form-control" type="button"><i class="icon-calendar"></i></button>
                </div -->

                <div class="actions">
                  </br>
                  </br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="basic-camera" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Capture una imagen</h4>
        </div>
        <div class="modal-body">
          <video id="cameraVideo"></video>
          <div id="canvasHolder"></div>
          <a class="btn btn-outline-primary" onclick="javascript:captureImage();">Crear fotografía</a>
          <input id="imageToForm" type="text" hidden name="imageToForm" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if session[:cuser].tipo == isAdmin() || session[:cuser].tipo == isManager() || session[:cuser].tipo == isReceptionist() %>
  <!-- Existing biometric modal and JS -->
  <div class="modal fade" id="enroll-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:999999;">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 700px!important;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lector biometrico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">
                  <i class="ni ni-bold-right mr-2"></i>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 disabled" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">
                  <i class="ni ni-bold-right mr-2"></i>
                  Paso 1
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 disabled" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">
                  <i class="ni ni-bold-right mr-2"></i>
                  Paso 2
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 disabled" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false">
                  <i class="ni ni-bold-right mr-2"></i>
                  Paso 3
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 disabled" id="tabs-icons-text-5-tab" data-toggle="tab" href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-5" aria-selected="false">
                  <i class="ni ni-bold-right mr-2"></i>
                  Fin
                </a>
              </li>
            </ul>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                  <p class="description">Para capturar la firma biometrica del usuario, se hará en tres pasos, debes estar antento para cuando pasemos entre pasos, en cada paso el usuario debe colocar el dedo nuevamente para confirmar que se ha capturado con eficacia. Pulsa Empezar para continuar.</p>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                  <p class="description">Pide al usuario colocar dedo indice derecho en el lector</p>
                  <img src="/assets/img/finger_scan.png" id="step_1" style="margin-left:45%"/>
                  <img src="/assets/img/finger_ready.png" id="step_1_1" style="display:none;margin-left:45%"/>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                  <p class="description">Pide nuevamente al usuario colocar dedo indice derecho. Esta es la captura 2 de 3</p>
                  <img src="/assets/img/finger_scan.png" id="step_2" style="margin-left:45%"/>
                  <img src="/assets/img/finger_ready.png" id="step_2_1" style="display:none;margin-left:45%"/>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                  <p class="description">nuevamente pide al usuario el dedo indice, esta fue la última captura</p>
                  <img src="/assets/img/finger_scan.png" id="step_3" style="margin-left:45%"/>
                  <img src="/assets/img/finger_ready.png" id="step_3_1" style="display:none;margin-left:45%"/>
                </div>
                <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
                  <p class="description">El registró de la huella digital esta completo, por último, pide al usuario colocar su dedo y verás que esta ventana se cierra y el campo de firma biometrica se completa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="javascript:startEnrollment();" id="enroll-start">Empezar</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var port;
    (function() {
      'use strict';
      let textEncoder = new TextEncoder();
      document.addEventListener('DOMContentLoaded', event => {
        let connectButton = document.querySelector('#connectBtn');
        let resetButton = document.querySelector('#resetBtn');
        function connect() {
          port.connect().then(() => {
            console.log(port);
            port.onReceive = data => {
              $("#connectBtn").hide();
              let textDecoder = new TextDecoder();
              console.log(textDecoder.decode(data));
              var readDetails = textDecoder.decode(data).replace(/'/gi, '"');
              if (readDetails != "" && readDetails.indexOf("step") == -1) {
                try {
                  readDetails = JSON.parse(readDetails);
                  if (readDetails.type == "nfc") {
                    $("#usuario_nfc").val(readDetails.result);
                  } else if (readDetails.type == "bio" && readDetails.result != "failed") {
                    $("#enroll-start").show();
                    $("#tabs-icons-text-1-tab").tab("show");
                    $("#tabs-icons-text-2-tab").addClass('disabled');
                    $("#tabs-icons-text-3-tab").addClass('disabled');
                    $("#tabs-icons-text-4-tab").addClass('disabled');
                    $("#tabs-icons-text-5-tab").addClass('disabled');
                    $("#step_3_1").hide();
                    $("#step_3").show();
                    $("#step_2_1").hide();
                    $("#step_2").show();
                    $("#step_1_1").hide();
                    $("#step_1").show();
                    $("#enroll-user-modal").modal('hide');
                    $("#usuario_biometric").val(readDetails.productId + readDetails.result);
                    $("#usuario_biometric[type='hidden']").val(readDetails.productId + readDetails.result);
                  }
                } catch (error) {
                  console.log(error);
                }
              } else if (readDetails.indexOf("step_1_1") != -1) {
                $("#step_1").hide();
                $("#step_1_1").show();
              } else if (readDetails.indexOf("step_1") != -1) {
                $("#tabs-icons-text-2-tab").removeClass('disabled');
                $("#tabs-icons-text-2-tab").tab("show");
                $("#enroll-start").hide();
              } else if (readDetails.indexOf("step_2_1") != -1) {
                $("#step_2").hide();
                $("#step_2_1").show();
              } else if (readDetails.indexOf("step_2") != -1) {
                $("#tabs-icons-text-3-tab").removeClass('disabled');
                $("#tabs-icons-text-3-tab").tab("show");
              } else if (readDetails.indexOf("step_3_2") != -1) {
                $("#tabs-icons-text-5-tab").removeClass('disabled');
                $("#tabs-icons-text-5-tab").tab("show");
              } else if (readDetails.indexOf("step_3_1") != -1) {
                $("#step_3").hide();
                $("#step_3_1").show();
              } else if (readDetails.indexOf("step_3") != -1) {
                $("#tabs-icons-text-4-tab").removeClass('disabled');
                $("#tabs-icons-text-4-tab").tab("show");
              } else if (readDetails.indexOf("step_failed") != -1) {
                alert("La lectura falló. El usuario debe presionar firmemente su dedo o el dedo usado ya se ha registrado anteriormente. Repite el proceso nuevamente");
                $("#enroll-start").show();
                $("#tabs-icons-text-1-tab").tab("show");
                $("#step_3_1").hide();
                $("#step_3").show();
                $("#step_2_1").hide();
                $("#step_2").show();
                $("#step_1_1").hide();
                $("#step_1").show();
              }
            };
            port.onReceiveError = error => {
              console.log('Receive error: ' + error);
              $("#connectBtn").show();
            };
          }, error => {
            console.log('Connection error: ' + error);
            $("#connectBtn").show();
          });
        }
        resetBtn.addEventListener('click', function() {
          if (port) {
            console.log('Resetting device');
            port.send(textEncoder.encode("deleteall-")).catch(error => {
              console.log('Send error: ' + error);
            });
          }
        });
        connectButton.addEventListener('click', function() {
          if (!port) {
            serial.requestPort().then(selectedPort => {
              port = selectedPort;
              connect();
              $("#connectBtn").hide();
            }).catch(error => {
              console.log('Connection error: ' + error);
            });
          }
        });

        serial.getPorts().then(ports => {
          if (ports.length == 0) {
            console.log('No devices found.');
            $("#connectBtn").show();
          } else {
            port = ports[0];
            connect();
          }
        });
      });
    })();

    function enrollUser() {
      $("#enroll-user-modal").modal('show');
    }

    function startEnrollment() {
      if (port == undefined || port == null) {
        alert("Al parecer no tienes un lector biometrico conectado, revisa tu conexión USB e intenta nuevamente");
        return;
      }
      let textEncoder = new TextEncoder();
      $("#enroll-start").hide();
      port.send(textEncoder.encode("start-")).catch(error => {
        console.log('Send error: ' + error);
      });
      port.send(textEncoder.encode("enroll-")).catch(error => {
        console.log('Send error: ' + error);
      });
    }
  </script>
<% end %>