<% if @establecimientos.length == 0 %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>Atención!</strong> Antes de crear un usuario, debes crear un establecimiento en el menú "Establecimientos"
  </div>
<% end %>

<div class="card bg-gradient-default shadow">
  <div class="card-header bg-transparent border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="text-white mb-0">Usuarios registrados</h3>
      </div>
      <div class="col text-right">
        <% if Access.where(user_id: session[:cuser].id, adduser: 1).length > 0 || [1, 2, 4].include?(session[:cuser].tipo) %>
          <a href="/usuarios/new" class="btn btn-sm btn-primary <%= 'disabled' if @establecimientos.length == 0 %>">Nuevo usuario</a>
        <% end %>
        <% if session[:cuser].tipo == 1 %>
          <a href="/accesses" class="btn btn-sm btn-primary">Permisos de usuario</a>
        <% end %>
      </div>
    </div>
    <!-- Add Search Form Here -->
    <div class="row mt-3">
      <div class="col-md-6">
        <%= form_with url: usuarios_path, method: :get, local: true, class: "form-inline" do %>
          <div class="input-group w-100">
            <%= text_field_tag :query, params[:query], placeholder: "Buscar por nombre, apellido", class: "form-control" %>
            <div class="input-group-append">
              <%= submit_tag "Buscar", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table align-items-center table-dark table-flush">
    <thead class="thead-dark">
      <tr class="uppercase">
        <th>Usuario</th>
        <th>Edad</th>
        <th>Fecha de ingreso</th>
        <th>Próximo pago</th>
        <th>Último pago</th>
        <th>Complejo</th>
      </tr>
    </thead>
    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <th scope="row">
            <div class="media align-items-center">
              <a href="#" class="avatar rounded-circle mr-3">
                <% if usuario.foto.present? %>
                  <img alt="Image placeholder" src="/images/<%= usuario.foto %>">
                <% else %>
                  <img alt="Image placeholder" src="https://placehold.co/150x150/EFEFEF/AAAAAA?text=Sin+foto">
                <% end %>
              </a>
              <div class="media-body">
                <span class="mb-0 text-sm">
                  <%= link_to "#{usuario.nombre} #{usuario.apellido}", edit_usuario_path(usuario), class: "primary-link" %>
                </span>
              </div>
            </div>
          </th>
          <td>
            <% if usuario.nacimiento.present? %>
              <%= age(usuario.nacimiento) %>
            <% end %>
          </td>
          <td>
            <% if usuario.created_at.present? %>
              <%= usuario.created_at.strftime('%Y-%m-%d') %>
            <% end %>
          </td>
          <td>
            <% if (myp = Pago.where(usuarios_id: usuario.id).last).present? %>
              <%= myp.vence.strftime('%Y-%m-%d') %>
            <% end %>
          </td>
          <td>
            <% if myp.present? %>
              <span class="bold theme-font"><%= myp.created_at.strftime('%Y-%m-%d') %></span>
            <% end %>
          </td>
          <td>
            <% if usuario.paquete.present? %>
              <% establecimientos = Entrada.where(paquete: usuario.paquete.to_i, usuarios_id: nil).index_by(&:establecimientos_id).keys %>
              <% nombres = Establecimiento.where(id: establecimientos).pluck(:nombre) %>
              <%= nombres.join(", ") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-footer py-4 bg-transparent">
    <nav aria-label="...">
      <% if @usuarios.total_pages > 1 %>
        <%= will_paginate @usuarios, renderer: @custom_paginate_renderer, inner_window: 1, outer_window: 1 %>
      <% end %>
    </nav>
  </div>
</div>