<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sportfit MX</title>
    
    
    
    
        <link rel="stylesheet" href="/css/style.css">

    
    
    
  </head>

  <body>

    <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="login">

        <h2><span class="fontawesome-lock"></span>Ingresa a tu cuenta</h2>

        <form action="/entradas/logWithUser.json" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token.to_s %>" type="hidden"/>
          <fieldset>

            <p><label for="email">E-mail</label></p>
            <p><input type="email" id="email" placeholder="mail@address.com" name="username"></p>

            <p><label for="password">Contraseña</label></p>
            <p><input type="password" id="password" placeholder="password" name="password"></p>

            <p><input type="submit" value="Ingresar"></p>

          </fieldset>

        </form>

      </div> <!-- end login -->

    </div>

  </body> 
</html>
    
    
    
    
    
  </body>
</html>
