<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @usuario.id %>
</p>

<p>
  <b>Tipo:</b>
  <%= @usuario.tipo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Calle:</b>
  <%= @usuario.calle %>
</p>

<p>
  <b>Numero:</b>
  <%= @usuario.numero %>
</p>

<p>
  <b>Colonia:</b>
  <%= @usuario.colonia %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
