<%= form_for(@asistencium) do |f| %>
  <% if @asistencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asistencium.errors.count, "error") %> prohibited this asistencium from being saved:</h2>

      <ul>
      <% @asistencium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrival_time %><br />
    <%= f.datetime_select :arrival_time %>
  </div>
  <div class="field">
    <%= f.label :leaving_time %><br />
    <%= f.datetime_select :leaving_time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :establecimiento_id %><br />
    <%= f.number_field :establecimiento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
