<div class="card shadow">
  <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Tabla de asistencia</h3>
        </div>
        <div class="col text-right">
          <% if session[:cuser].tipo==1 %>
            <% link_to 'New Asistencium', new_asistencium_path, :class=>'btn btn-sm btn-primary' %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th>Hora de llegada</th>
          <th>Hora de partida</th>
          <th>Usuario</th>
          <th>Establecimiento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @asistencia.each do |asistencium| %>
          <tr>
            <td><%= asistencium.arrival_time %></td>
            <td><%= asistencium.leaving_time %></td>
            <% 
            persona=Usuario.where(:id=>asistencium.user_id).last
            if persona!=nil %>
              <td><%= persona.nombre %> <%= persona.apellido %></td>  
            <% else %>
              <td>Usuario no encontrado</td>  
            <% end %>
            
            <% establecimiento=Establecimiento.find_by_id(asistencium.establecimiento_id)
            if establecimiento!=nil %>
            <td><%= establecimiento.nombre %></td>  
            <% else %>
            <td>Establecimiento no encontrado</td>
            <% end %>
            <% if session[:cuser].tipo==1 %>
            <td>
              <div class="dropdown">
                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <%= link_to 'Show', asistencium, :class=>"dropdown-item" %>
                    <%= link_to 'Edit', edit_asistencium_path(asistencium), :class=>"dropdown-item" %>
                    <%= link_to 'Destroy', asistencium, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"dropdown-item" %>
                </div>
              </div>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />
  </div>
</div>


