<p id="notice"><%= notice %></p>

<p>
  <b>Arrival time:</b>
  <%= @asistencium.arrival_time %>
</p>

<p>
  <b>Leaving time:</b>
  <%= @asistencium.leaving_time %>
</p>

<p>
  <b>User:</b>
  <%= @asistencium.user_id %>
</p>

<p>
  <b>Establecimiento:</b>
  <%= @asistencium.establecimiento_id %>
</p>


<%= link_to 'Edit', edit_asistencium_path(@asistencium) %> |
<%= link_to 'Back', asistencia_path %>
