<h1>Listing trackers</h1>

<table>
  <tr>
    <th>Caracteristica</th>
    <th>Valor</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trackers.each do |tracker| %>
  <tr>
    <td><%= tracker.caracteristica %></td>
    <td><%= tracker.valor %></td>
    <td><%= tracker.usuario_id %></td>
    <td><%= link_to 'Show', tracker %></td>
    <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
    <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tracker', new_tracker_path %>
