<p id="notice"><%= notice %></p>

<p>
  <b>Caracteristica:</b>
  <%= @tracker.caracteristica %>
</p>

<p>
  <b>Valor:</b>
  <%= @tracker.valor %>
</p>

<p>
  <b>Usuario:</b>
  <%= @tracker.usuario_id %>
</p>


<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
