/*

Theme Name: Aslan
Theme URI: http://demo.lunartheme.com/aslan/
Author: lunartheme
Author URI: http://lunartheme.com
Description: Main theme.
Version: 1.0.0

*/
.aslan-youtube .wpb_wrapper {
  cursor: pointer;
  position: relative;
}
.aslan-youtube .wpb_wrapper:before {
  content: '';
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.aslan-youtube .wpb_wrapper:after {
  content: '\f3a9';
  color: #fff;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  z-index: 100;
}
.aslan-youtube .wpb_wrapper:hover:after {
  color: #ff5722;
}
.aslan-youtube .wpb_wrapper.active:before,
.aslan-youtube .wpb_wrapper.active:after {
  display: none;
}
#of_container {
  color: #757575;
}
#of_container * {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#of_container *:before,
#of_container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#of_container a {
  color: #212121;
  text-decoration: none;
}
#of_container a:hover {
  color: #006799;
}
#of_container select {
  font-size: 13px;
}
#of_container input {
  background-color: #fff !important;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  color: #757575;
  font-size: 12px;
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  min-width: 300px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 568px) {
  #of_container input {
    min-width: 260px;
  }
}
#of_container input:focus {
  border-color: #999;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#of_container .hide {
  display: none;
}
#of_container button:active {
  transform: translateY(1.5px);
}
#of_container .k2t-btn,
#of_container button {
  background: transparent;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444444;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  padding: 0 12px;
  height: 32px;
  line-height: 30px;
  text-decoration: none;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#of_container .k2t-btn.notice-dismiss,
#of_container button.notice-dismiss {
  background: transparent;
}
#of_container .k2t-btn.notice-dismiss:hover,
#of_container button.notice-dismiss:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#of_container .k2t-btn:hover,
#of_container button:hover {
  border-color: #999;
  color: #444444;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#of_container .button-primary {
  background: #006799;
  border-color: transparent;
  color: #fff;
}
#of_container .button-primary:hover {
  color: #fff;
  -webkit-box-shadow: 1px 1px 12px rgba(34, 103, 156, 0.5);
  box-shadow: 1px 1px 12px rgba(34, 103, 156, 0.5);
}
#of_container .upload-error {
  float: left;
  color: #666;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0 #FFFFFF;
  margin: 0 10px 0 0;
  padding: 3px 10px;
  background: #FFDFEC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#of_container .of-save-popup {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  display: none;
  font-size: 171%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#of_container .of-save-popup div {
  background-repeat: no-repeat;
  background-position: 20px 50%;
  padding: 30px 30px 30px 60px;
}
#of_container .accept {
  background: #DBF6BE no-repeat 10px center;
  border: solid #9BBF65;
  border-width: 0px 1px 1px 1px;
  color: #060;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#of_container .warning {
  background: #ffeeee no-repeat 10px center;
  border: solid #dfbfbf;
  border-width: 0px 1px 1px 1px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#of_container .update_available {
  background: #FFFEEB no-repeat 10px center;
  border: solid #CCCCCC;
  border-width: 0px 1px 1px 1px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#of_container .of-save-save {
  background-image: url("../images/button_check.png");
}
#of_container .of-save-reset {
  background-image: url("../images/sign_warning.png");
}
#of_container .of-save-fail {
  background-image: url("../images/stop.png");
}
#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
  z-index: 9999;
}
#of_container #of_form {
  clear: both;
  max-width: 940px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
}
#of_container #header {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 1;
}
#of_container #header .logo {
  float: left;
}
@media only screen and (max-width: 568px) {
  #of_container #header .logo {
    width: 100%;
  }
}
#of_container #header .logo img {
  max-height: 50px;
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  #of_container #header .logo img {
    left: 15px;
  }
}
@media only screen and (max-width: 568px) {
  #of_container #header .logo img {
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#of_container #header .logo a h1 {
  color: #fff;
}
#of_container #header .logo a h1:hover {
  color: #fff;
}
#of_container #header #info_bar {
  float: right;
}
@media only screen and (max-width: 568px) {
  #of_container #header #info_bar {
    margin-top: 20px;
    width: 100%;
  }
}
#of_container #header #info_bar > a:first-child {
  display: none;
}
#of_container #header #info_bar > * {
  margin-right: 18px;
}
#of_container #header #info_bar > *:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 568px) {
  #of_container #header #info_bar .supp {
    position: absolute;
    top: 11px;
    right: 0;
    text-align: right;
  }
  #of_container #header #info_bar .docs {
    position: absolute;
    top: 35px;
    right: 0;
    text-align: right;
  }
}
@media only screen and (max-width: 768px) {
  #of_container #header .k2t-btn {
    background: transparent;
    border-color: transparent;
    color: #006799;
    padding: 0;
    text-deoration: underline;
  }
  #of_container #header .k2t-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#of_container #main {
  position: relative;
}
#of_container #main #of-nav {
  background: #f5f5f5;
  padding-top: 15px;
  float: left;
  width: 31.91489362%;
}
@media only screen and (max-width: 768px) {
  #of_container #main #of-nav {
    display: none;
    width: 298px;
  }
  #of_container #main #of-nav.is-active {
    display: block;
    position: absolute;
    right: 0;
    z-index: 9999;
  }
}
#of_container #main #of-nav ul {
  font-size: 16px;
  width: 100%;
}
#of_container #main #of-nav ul li {
  padding-left: 25px;
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #of_container #main #of-nav ul li {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }
}
#of_container #main #of-nav ul li:before {
  content: '';
  background: #006799;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#of_container #main #of-nav ul li.current {
  background: #fff;
}
#of_container #main #of-nav ul li.current:before {
  background: #006799;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#of_container #main #of-nav ul li:hover * {
  color: #006799;
}
#of_container #main #of-nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
}
#of_container #main #of-nav ul li i {
  color: #757575;
  font-size: 18px;
  margin-right: 17px;
}
@media only screen and (max-width: 768px) {
  #of_container #main #of-nav ul li i {
    font-size: 14px;
  }
}
#of_container #main #content {
  background: #fff;
  padding: 15px 20px 20px;
  float: left;
  width: 68.08510638%;
}
@media only screen and (max-width: 768px) {
  #of_container #main #content {
    width: 100%;
  }
}
#of_container #main #content > .group > h2 {
  display: none;
}
#of_container #main #content > .group .section-info h3 {
  color: #fff;
  background: #3d3d3d;
  border-radius: 2px;
  font-size: 11px;
  letter-spacing: 1px;
  height: 38px;
  line-height: 38px;
  margin-top: 17px;
  padding: 0 20px;
  text-transform: uppercase;
}
#of_container #main #content > .group .section-info .option {
  display: none;
}
#of_container #main #content .section {
  margin-bottom: 25px;
}
#of_container #main #content .section .heading {
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 11px;
  padding: 0;
  line-height: 1.2em;
}
#of_container #main #content .section .explain {
  font-size: 12px;
}
#of_container #main #content .section .controls {
  position: relative;
}
#of_container #main #content .section .controls > *:first-child {
  float: left;
}
#of_container #main #content .section .controls .switch-options + .tooltip {
  margin-top: 11px;
}
#of_container #main #content .section .controls .upload_button_div ~ .tooltip {
  position: absolute;
  top: 0;
  right: 0;
}
#of_container #main #content .section .controls .ui-slider ~ .tooltip {
  position: absolute;
  top: -30px;
  right: 0;
}
#of_container #main #content .section .tooltip {
  line-height: 30px;
  font-size: 15px;
  float: left;
  padding-left: 15px;
  position: relative;
}
#of_container #main #content .section .tooltip:hover,
#of_container #main #content .section .tooltip:focus,
#of_container #main #content .section .tooltip:active {
  cursor: help;
}
#of_container #main #content .section .tooltip:hover p,
#of_container #main #content .section .tooltip:focus p,
#of_container #main #content .section .tooltip:active p {
  display: block;
}
#of_container #main #content .section .tooltip i {
  color: #252525;
}
#of_container #main #content .section .tooltip p {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #fff;
  display: none;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 290px;
}
#of_container #main #content .section .google_font_preview {
  clear: both;
  width: 100%;
}
#of_container #main #content .section .switch-options {
  margin-bottom: 10px;
}
#of_container #main #content .section .switch-options input {
  display: none;
}
#of_container #main #content .section .switch-options label span {
  background: #eee;
  color: #757575;
  display: inline-block;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  width: 40px;
  text-align: center;
  text-transform: uppercase;
}
#of_container #main #content .section .switch-options label.selected span {
  background: #006799;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 24px;
  line-height: 24px;
  width: 40px;
  text-align: center;
  text-transform: uppercase;
}
#of_container #main #content .section .select_wrapper > span {
  display: none;
}
#of_container #main #content .section .select_wrapper select {
  margin-bottom: 15px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  min-width: 300px;
}
@media only screen and (max-width: 568px) {
  #of_container #main #content .section .select_wrapper select {
    min-width: 260px;
  }
}
#of_container #main #content .section.section-media .upload_button_div,
#of_container #main #content .section.section-upload .upload_button_div {
  padding-left: 20px;
  float: right;
  width: calc(100% - 300px);
}
@media only screen and (max-width: 768px) {
  #of_container #main #content .section.section-media .upload_button_div,
  #of_container #main #content .section.section-upload .upload_button_div {
    margin-top: 30px;
    padding-left: 0;
    width: 100%;
  }
}
#of_container #main #content .section.section-media .upload_button_div span,
#of_container #main #content .section.section-upload .upload_button_div span {
  height: 30px;
  line-height: 30px;
}
#of_container #main #content .section.section-media .upload_button_div span:first-child,
#of_container #main #content .section.section-upload .upload_button_div span:first-child {
  margin-right: 12px;
}
#of_container #main #content .section.section-media .upload_button_div .explain,
#of_container #main #content .section.section-upload .upload_button_div .explain {
  display: block;
  margin-top: 11px;
}
#of_container #main #content .section.section-media .screenshot,
#of_container #main #content .section.section-upload .screenshot {
  margin: 16px 0 0;
  max-width: 300px;
  float: left;
}
#of_container #main #content .section.section-media .screenshot img,
#of_container #main #content .section.section-upload .screenshot img {
  max-width: 100%;
}
#of_container #main #content .section.section-media .explain,
#of_container #main #content .section.section-upload .explain {
  display: none;
}
#of_container #main #content .section.section-sliderui input {
  padding: 0 15px;
  text-align: center;
  width: 90px;
  min-width: 90px;
}
#of_container #main #content .section.section-sliderui .explain {
  text-align: right;
}
#of_container #main #content .section.section-sliderui .smof_sliderui {
  background: #eeeeee;
  border: none;
  margin-top: 9px;
  margin-left: 20px !important;
  margin-right: 0 !important;
  height: 4px;
  width: calc( 100% - 111px );
}
#of_container #main #content .section.section-sliderui .smof_sliderui .ui-slider-range {
  background: #006799;
  border: none;
  height: 4px;
}
#of_container #main #content .section.section-sliderui .smof_sliderui .ui-slider-handle {
  background-color: #006799 !important;
  background-image: none !important;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -7px;
  height: 16px;
  width: 16px;
}
#of_container #main #content .section.section-sliderui .smof_sliderui .ui-slider-handle:before {
  content: '';
  border-radius: 50%;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#of_container #main #content .section.section-text .explain {
  margin-top: 11px;
}
#of_container #main #content .section.section-textarea textarea {
  width: 100%;
}
#of_container #main #content .section.section-textarea .ace_editor {
  margin-top: 0px;
  height: 200px;
  width: 100%;
}
#of_container #main #content .section.section-textarea .ace_editor .ace_layer {
  margin-top: 0 !important;
}
#of_container #main #content .section.section-color .wp-picker-container {
  width: 345px;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-color-result {
  border: none;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
  height: 30px;
  line-height: 30px;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-color-result:after {
  border: none;
  color: #006799;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  height: 30px;
  line-height: 30px;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-picker-input-wrap {
  display: inline-block;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-picker-input-wrap .of-color {
  margin-right: 10px;
  min-width: 90px;
  width: 90px;
  text-align: center;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {
  color: #006799;
  min-width: 90px;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-picker-holder .ui-slider-handle {
  left: 1px;
  right: -9px;
}
#of_container #main #content .section.section-color .wp-picker-container .wp-picker-holder .iris-square {
  margin-right: 8%;
  min-width: 183px;
}
#of_container #main #content .section.section-advance_importer .k2t-importer-box {
  margin-bottom: 12px;
}
#of_container #main #content .section .k2t_waiting_spin {
  position: fixed !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50% !important;
  left: 50% !important;
}
#of_container #main #content .section.section-k2t_header_option {
  overflow: auto;
}
#of_container #main #content .section .k2t_header_options_wrapper {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  margin: 20px auto;
  min-height: 100px;
  position: relative;
  width: 590px;
  overflow: auto;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting {
  background: #f8f8f8;
  border-left-width: 1px;
  border-left-color: #e1e1e1;
  border-left-style: solid;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 26px;
  /* Recycle */
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_icon {
  background: url('../images/setting.png') no-repeat;
  width: 12px;
  height: 12px;
  margin: 10px auto 10px;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_icon:hover {
  background: url('../images/setting_hover.png') no-repeat;
  cursor: pointer;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_add_columns {
  background: url('../images/disable.png') no-repeat;
  margin: 0px auto 10px;
  width: 12px;
  height: 12px;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_add_columns:hover {
  background: url('../images/disable_hover.png') no-repeat;
  margin: 0px auto 10px;
  cursor: pointer;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_columns .dashicons {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_columns .dashicons:hover {
  color: #3d3d3d;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_recycle {
  background: url('../images/disable.png') no-repeat;
  margin: 0 auto;
  margin: 0px auto 10px;
  position: absolute;
  bottom: 7px;
  width: 12px;
  height: 12px;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_setting .k2t_header_options_recycle:hover {
  background: url('../images/disable_hover.png') no-repeat;
  cursor: pointer;
  margin: 0 auto;
  margin-left: 8px;
  position: absolute;
  bottom: 7px;
  width: 12px;
  height: 12px;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_row {
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  position: relative;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_1_3 {
  width: 30%;
}
#of_container #main #content .section .k2t_header_options_wrapper .k2t_header_options_columns {
  padding: 2px;
  min-height: 75px;
  float: left;
  width: 100%;
}
#of_container #main #content .section.section-desc_img {
  margin-top: -10px;
  margin-bottom: 40px;
  overflow: hidden;
}
#of_container #main #content .section.section-desc_img .heading {
  display: none;
}
#of_container #main #content .section .syn-desc > div {
  display: none;
}
#of_container #main #content .section .syn-desc > div.is-active {
  display: block;
}
#of_container #main #content .section .syn-desc > div img {
  max-width: 100%;
}
#of_container #main .advance_backup_option_popup_control_upload_file {
  display: none;
}
#of_container #main .header_options_popup_content {
  max-width: calc(100% - 30px);
  max-height: calc(100% - 80px);
}
#of_container #main .header_options_popup_content .header_option_popup_control .k2t_header_option_popup_control_save {
  height: 35px;
  line-height: 30px;
  padding: 0 20px;
}
#of_container #main .header_options_popup_content .header_option_popup_control .k2t_header_option_popup_control_cancel {
  height: 35px;
  line-height: 35px;
  margin-top: 11px;
  margin-left: 15px;
  padding: 0 20px;
}
#of_container #main .header_options_popup_content .explain {
  margin-bottom: 13px;
}
#of_container #main .header_options_popup_content select {
  margin-bottom: 16px;
}
#of_container #main .header_options_popup_content input {
  margin-bottom: 13px;
}
#of_container #main .header_options_popup_content .upload_button_div {
  padding-left: 0 !important;
}
#of_container #main .header_options_popup_content .header_options_list_feature {
  overflow: scroll;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 120px);
}
@media only screen and (max-width: 568px) {
  #of_container #main .header_options_popup_content .header_options_list_feature li {
    width: 100%;
  }
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner {
  padding-top: 15px;
  position: absolute;
  width: 100%;
  height: calc(100% - 120px);
  z-index: 99;
}
@media only screen and (max-width: 568px) {
  #of_container #main .header_options_popup_content .header_options_popup_content-inner {
    padding: 0 10px 20px;
  }
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner .k2t_wp_editor {
  max-width: 100%;
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner > div:before,
#of_container #main .header_options_popup_content .header_options_popup_content-inner > div:after {
  content: " ";
  display: table;
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner > div:after {
  clear: both;
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner > div > .explain {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  #of_container #main .header_options_popup_content .header_options_popup_content-inner > div > .explain {
    width: 100%;
  }
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner > div > .explain + * {
  float: left;
  width: 49%;
  min-width: 0;
}
@media only screen and (max-width: 767px) {
  #of_container #main .header_options_popup_content .header_options_popup_content-inner > div > .explain + * {
    width: 100%;
  }
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner .wp-picker-holder .iris-slider {
  position: absolute;
  right: 0 !important;
  height: 100% !important;
}
#of_container #main .header_options_popup_content .header_options_popup_content-inner .wp-picker-holder .ui-slider-vertical {
  margin-right: 0 !important;
}
#of_container .save_bar {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}
@media (max-width: 350px) {
  #of_container .save_bar {
    padding: 30px 12px;
  }
  #of_container .save_bar button {
    padding: 0 15px !important;
  }
}
#of_container .save_bar #of_save {
  margin-right: 10px;
}
@media (max-width: 350px) {
  #of_container .save_bar #of_save {
    margin-right: 8px;
  }
}
#of_container .save_bar #of_reset {
  background: #006799;
  color: #fff;
}
@media (max-width: 350px) {
  #of_container .save_bar #of_reset {
    float: right;
  }
}
/*--------------------------------- 
FOR HEADING OPTIONS
*---------------------------------*/
.k2t_header_options_wrapper {
  width: 590px;
  min-height: 100px;
  overflow: auto;
  background: #fff;
  margin: 20px auto;
}
.k2t_header_options_wrapper {
  min-height: 100px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #e1e1e1;
  position: relative;
  overflow: hidden;
}
.k2t_header_options_setting {
  width: 26px;
  height: 100%;
  right: 0px;
  position: absolute;
  border-left-width: 1px;
  border-left-color: #e1e1e1;
  border-left-style: solid;
  background: #f8f8f8;
}
.k2t_header_options_setting .k2t_header_options_icon {
  width: 12px;
  height: 12px;
  background: url('../images/setting.png') no-repeat;
  margin: 10px auto 10px;
}
.k2t_header_options_setting .k2t_header_options_icon:hover {
  background: url('../images/setting_hover.png') no-repeat;
  cursor: pointer;
}
.k2t_header_options_setting .k2t_header_options_add_columns {
  width: 12px;
  height: 12px;
  background: url('../images/disable.png') no-repeat;
  margin: 0px auto 10px;
}
.k2t_header_options_setting .k2t_header_options_add_columns:hover {
  width: 12px;
  height: 12px;
  background: url('../images/disable_hover.png') no-repeat;
  margin: 0px auto 10px;
  cursor: pointer;
}
.k2t_header_options_columns .dashicons {
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: Absolute;
  right: 5px;
  top: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transtion: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_header_options_item:hover > .dashicons,
.k2t_header_options_columns:hover > .dashicons {
  opacity: 1;
}
.k2t_header_options_columns .dashicons:hover {
  color: #3d3d3d;
}
/* Recycle */
.k2t_header_options_setting .k2t_header_options_recycle:hover {
  width: 12px;
  height: 12px;
  background: url('../images/disable_hover.png') no-repeat;
  margin: 0px auto 10px;
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  margin: 0 auto;
  margin-left: 8px;
}
.k2t_header_options_setting .k2t_header_options_recycle {
  width: 12px;
  height: 12px;
  background: url('../images/disable.png') no-repeat;
  margin: 0px auto 10px;
  position: absolute;
  bottom: 7px;
  margin: 0 auto;
  margin-left: 8px;
}
.k2t_header_options_wrapper_row {
  padding: 13px;
  width: 100%;
  float: left;
}
.k2t_header_options_wrapper_row .k2t_header_options_columns_content:last-child {
  margin-right: 0;
}
.k2t_header_options_row {
  border: 1px solid #e9e9e9;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.k2t_header_options_1_3 {
  width: 30%;
}
.k2t_header_options_columns {
  padding: 2px;
  min-height: 75px;
  float: left;
  width: 100%;
}
/* Add Element Css */
.k2t_header_options_add_element_columns {
  width: 96%;
  height: 25px;
  bottom: 0px;
  display: inline-table;
  background: #fff;
  padding: 2px;
}
.k2t_header_options_top_gray {
  height: 24px;
  background: #eee;
  cursor: pointer;
}
.k2t_header_options_add_elelement {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 12px;
  margin: 0 0 0 -7px;
  left: 50%;
  text-align: center;
}
.k2t_header_options_add_elelement i {
  color: #e1e1e1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transtion: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_header_options_add_elelement:hover i {
  color: #81b800;
  cursor: pointer;
}
.header_options_placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  /*height: 100%;*/
  width: 100%;
}
.ui-state-highlight {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}
.k2t_header_options_columns_content {
  min-height: 73px;
  margin-bottom: 10px;
  margin-right: 18px;
  position: relative;
}
/* For Popup */
.header_option_popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  margin: 0 auto;
  z-index: 999;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}
.header_options_popup_content {
  width: 800px;
  height: 600px;
  background: #fff;
  margin: auto;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header_options_popup_content-inner {
  padding: 0 20px 20px;
}
.header_options_popup_content-inner .of-option-image {
  max-height: 100px;
}
.k2t_header_options_feature_setting_params .header_options_popup_content-inner {
  max-height: 450px;
  overflow-x: hidden;
  padding: 20px;
}
.k2t_header_options_feature_setting_params .header_option_popup_control {
  margin: 0;
  bottom: -48px;
  background: #fff;
}
.k2t_header_options_feature_setting_params .header_options_popup_content_heading {
  margin-bottom: 0;
}
/* List Feature */
ul.header_options_list_feature {
  list-style-type: none;
  padding: 0 20px;
}
ul.header_options_list_feature li {
  border: 1px solid #dfdfdf;
  color: #999;
  width: 49%;
  float: left;
  margin-right: 2%;
  padding: 10px 20px 10px 35px;
  margin-bottom: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  z-index: 1;
}
ul.header_options_list_feature li:nth-child(2n+0) {
  margin-right: 0;
}
ul.header_options_list_feature li:after {
  content: '\f039';
  position: absolute;
  font-family: FontAwesome;
  font-size: 100%;
  width: 20px;
  height: 20px;
  color: #999;
  top: 10px;
  left: 10px;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul.header_options_list_feature li:hover:after {
  color: #222;
}
ul.header_options_list_feature li.k2t_header_options_feature_wp_editor:after {
  content: '\f044';
}
ul.header_options_list_feature li.k2t_header_options_feature_search_box:after {
  content: '\f002';
}
ul.header_options_list_feature li.k2t_header_options_feature_custom_menu:after {
  content: '\f0c9';
}
ul.header_options_list_feature li.k2t_header_options_feature_cart:after {
  content: '\f07a';
}
ul.header_options_list_feature li.k2t_header_options_feature_widget:after {
  content: '\f0e4';
}
ul.header_options_list_feature li.k2t_header_options_feature_logo:after {
  content: '\f192';
}
ul.header_options_list_feature li.k2t_header_options_feature_canvas_sidebar:after {
  content: '\f1de';
}
ul.header_options_list_feature li.k2t_header_options_feature_social:after {
  content: '\f1e0';
}
ul.header_options_list_feature li:hover {
  background: #f2f2f2;
}
ul.header_options_list_feature li:nth-child(2n) {
  margin-right: 0;
}
.header_options_popup_content_heading {
  text-align: left;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  padding: 20px;
}
/* Items Add */
.k2t_header_options_item {
  position: relative;
  width: 100%;
  min-height: 25px;
  border: 1px solid #f2f2f2;
  margin-top: 2px;
  padding: 0 10px;
  font-size: 90%;
  cursor: pointer;
  color: #999;
  background: #fff;
}
.k2t_header_options_item:hover {
  border-color: #ccc;
}
.k2t_header_options_elements {
  min-height: 20px;
}
.header_options_social_list_popup {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#of_container .header_options_social_list_popup input.checkbox {
  margin-bottom: 0px !important;
  margin-top: 0 !important;
}
#of_container .header_options_social_list_popup {
  width: 30%;
}
/* HEADER POPUP STYLE*/
.header_option_popup_control {
  height: 60px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  text-align: right;
}
.k2t_header_option_popup_control_cancel,
.k2t_header_option_popup_control_save {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#of_container .k2t_header_option_popup_control_save,
#of_container .k2t_header_option_popup_control_cancel {
  margin-top: 12px;
}
#of_container .k2t_header_option_popup_control_cancel {
  margin-right: 11px;
}
.k2t_header_option_popup_control_close {
  position: absolute;
  right: 20px;
  top: 19px;
  cursor: pointer;
}
.k2t_header_option_popup_control_close i {
  display: inline-block;
  color: #999;
}
.k2t_header_option_popup_control_close:hover i {
  color: #222;
}
.header_option_popup input.of-input,
.header_option_popup select.of-input {
  width: 100% !important;
}
.header_option_popup input.checkbox.of-input {
  width: 30px !important;
}
.k2t_header_options_recycle .k2t_header_options_item,
.k2t_header_options_recycle .k2t_header_options_columns {
  display: none !important;
}
/*--------------------------------------------- 
END HEADING OPTIONS
-----------------------------------------------*/
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
  position: absolute;
  right: -16px;
}
.k2t_wp_editor {
  width: 439px;
  height: 90px;
}
.k2t-importer-box a.button {
  margin-right: 20px;
}
/*--------------------------------- 
FOR HEADING OPTIONS
*---------------------------------*/
.k2t_advance_backup_options_wrapper {
  width: 590px;
  min-height: 100px;
  overflow: auto;
  background: #fff;
  margin: 20px auto;
}
.k2t_advance_backup_options_wrapper {
  min-height: 100px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #e1e1e1;
  position: relative;
  overflow: hidden;
}
.k2t_advance_backup_options_setting {
  width: 26px;
  height: 100%;
  right: 0px;
  position: absolute;
  border-left-width: 1px;
  border-left-color: #e1e1e1;
  border-left-style: solid;
  background: #f8f8f8;
}
.k2t_advance_backup_options_setting .k2t_advance_backup_options_icon {
  width: 12px;
  height: 12px;
  background: url('../images/setting.png') no-repeat;
  margin: 10px auto 10px;
}
.k2t_advance_backup_options_setting .k2t_advance_backup_options_icon:hover {
  background: url('../images/setting_hover.png') no-repeat;
  cursor: pointer;
}
.k2t_advance_backup_options_setting .k2t_advance_backup_options_add_columns {
  width: 12px;
  height: 12px;
  background: url('../images/disable.png') no-repeat;
  margin: 0px auto 10px;
}
.k2t_advance_backup_options_setting .k2t_advance_backup_options_add_columns:hover {
  width: 12px;
  height: 12px;
  background: url('../images/disable_hover.png') no-repeat;
  margin: 0px auto 10px;
  cursor: pointer;
}
.k2t_advance_backup_options_columns .dashicons {
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: Absolute;
  right: 5px;
  top: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transtion: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_advance_backup_options_item:hover > .dashicons,
.k2t_advance_backup_options_columns:hover > .dashicons {
  opacity: 1;
}
.k2t_advance_backup_options_columns .dashicons:hover {
  color: #3d3d3d;
}
/* Recycle */
.k2t_advance_backup_options_setting .k2t_advance_backup_options_recycle:hover {
  width: 12px;
  height: 12px;
  background: url('../images/disable_hover.png') no-repeat;
  margin: 0px auto 10px;
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  margin: 0 auto;
  margin-left: 8px;
}
.k2t_advance_backup_options_setting .k2t_advance_backup_options_recycle {
  width: 12px;
  height: 12px;
  background: url('../images/disable.png') no-repeat;
  margin: 0px auto 10px;
  position: absolute;
  bottom: 7px;
  margin: 0 auto;
  margin-left: 8px;
}
.k2t_advance_backup_options_wrapper_row {
  padding: 10px;
  width: 543px;
  float: left;
}
.k2t_advance_backup_options_wrapper_row .k2t_advance_backup_options_columns_content:last-child {
  margin-right: 0;
}
.k2t_advance_backup_options_row {
  border: 1px solid #e9e9e9;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.k2t_advance_backup_options_1_3 {
  width: 30%;
}
.k2t_advance_backup_options_columns {
  padding: 2px;
  min-height: 75px;
  float: left;
  width: 100%;
}
/* Add Element Css */
.k2t_advance_backup_options_add_element_columns {
  width: 96%;
  height: 25px;
  bottom: 0px;
  display: inline-table;
  background: #fff;
  padding: 2px;
}
.k2t_advance_backup_options_top_gray {
  height: 24px;
  background: #eee;
  cursor: pointer;
}
.k2t_advance_backup_options_add_elelement {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 12px;
  margin: 0 0 0 -7px;
  left: 50%;
  text-align: center;
}
.k2t_advance_backup_options_add_elelement i {
  color: #e1e1e1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transtion: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_advance_backup_options_add_elelement:hover i {
  color: #81b800;
  cursor: pointer;
}
.advance_backup_options_placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  /*height: 100%;*/
  width: 100%;
}
.ui-state-highlight {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}
.k2t_advance_backup_options_columns_content {
  min-height: 73px;
  margin-bottom: 10px;
  margin-right: 18px;
  position: relative;
}
/* For Popup */
.advance_backup_option_popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  margin: 0 auto;
  z-index: 9999999;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}
.advance_backup_options_popup_content {
  background: #fff;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 440px;
  max-height: calc( 100% - 80ppx );
  width: calc( 100% - 30px );
  max-width: 440px;
}
.advance_backup_options_popup_content .advance_backup_options_popup_content_heading {
  margin-top: 0;
}
.advance_backup_options_popup_content .advance_backup_options_list_feature {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
  height: calc( 100% - 116px );
  overflow: scroll;
}
.advance_backup_options_popup_content .advance_backup_options_list_feature:before,
.advance_backup_options_popup_content .advance_backup_options_list_feature:after {
  content: " ";
  display: table;
}
.advance_backup_options_popup_content .advance_backup_options_list_feature:after {
  clear: both;
}
@media only screen and (max-width: 480px) {
  .advance_backup_options_popup_content .advance_backup_options_list_feature li {
    width: 100%;
  }
}
.k2t_advance_backup_options_feature_setting_params {
  height: 400px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 104%;
}
/* List Feature */
ul.advance_backup_options_list_feature {
  list-style-type: none;
  padding: 0 20px;
}
ul.advance_backup_options_list_feature li {
  border: 1px solid #dfdfdf;
  color: #999;
  width: 48%;
  float: left;
  margin-right: 2%;
  padding: 10px 20px 10px 35px;
  margin-bottom: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  z-index: 1;
}
ul.advance_backup_options_list_feature li:nth-child(2n+0) {
  margin-right: 0;
}
ul.advance_backup_options_list_feature li #download_backup {
  position: relative;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
}
/* list icon button */
ul.advance_backup_options_list_feature li #download_backup:after {
  content: '\f019 ';
  position: absolute;
  font-family: FontAwesome;
  font-size: 100%;
  width: 20px;
  height: 20px;
  color: #999;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul.advance_backup_options_list_feature li:hover #download_backup {
  color: #222;
}
/* list icon button */
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_wp_editor:after {
  content: '\f044';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_search_box:after {
  content: '\f002';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_custom_menu:after {
  content: '\f0c9';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_cart:after {
  content: '\f07a';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_widget:after {
  content: '\f0e4';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_logo:after {
  content: '\f192';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_canvas_sidebar:after {
  content: '\f1de';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_social:after {
  content: '\f1e0';
}
ul.advance_backup_options_list_feature li:hover,
ul.advance_backup_options_list_feature li.active {
  background: #D5D5D5;
  color: #816E6E;
}
ul.advance_backup_options_list_feature li:nth-child(2n) {
  margin-right: 0;
}
.advance_backup_options_popup_content_heading {
  text-align: left;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  padding: 20px;
}
/* Items Add */
.k2t_advance_backup_options_item {
  position: relative;
  width: 100%px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-top: 2px;
  padding: 5px 10px;
  font-size: 90%;
  cursor: pointer;
  color: #999;
  background: #fff;
}
.k2t_advance_backup_options_item:hover {
  border-color: #ccc;
}
.k2t_advance_backup_options_elements {
  min-height: 20px;
}
.advance_backup_options_social_list_popup {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#of_container .advance_backup_options_social_list_popup input.checkbox {
  margin-bottom: 0px !important;
  margin-top: 0 !important;
}
#of_container .advance_backup_options_social_list_popup {
  width: 30%;
}
/* advance_backup POPUP STYLE*/
.advance_backup_option_popup_control {
  height: 52px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  margin-left: 0px;
}
.k2t_advance_backup_option_popup_control_cancel,
.k2t_advance_backup_option_popup_control_save {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_advance_backup_option_popup_control_cancel {
  padding: 6px 10px;
  background: #ee676c;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 55px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  font-family: "Roboto Black", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.k2t_advance_backup_option_popup_control_cancel:hover {
  background: #c23b40;
}
.k2t_advance_backup_option_popup_control_save {
  padding: 6px 10px;
  background: #8dc63f;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 55px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.k2t_advance_backup_option_popup_control_save:hover {
  background: #639c15;
}
.k2t_advance_backup_option_popup_control_close {
  position: absolute;
  right: 20px;
  top: 19px;
  cursor: pointer;
}
.k2t_advance_backup_option_popup_control_close i {
  display: inline-block;
  color: #999;
}
.k2t_advance_backup_option_popup_control_close:hover i {
  color: #222;
}
.advance_backup_option_popup input.of-input,
.advance_backup_option_popup select.of-input {
  width: 100% !important;
}
.advance_backup_option_popup input.checkbox.of-input {
  width: 30px !important;
}
.k2t_advance_backup_options_recycle .k2t_advance_backup_options_item,
.k2t_advance_backup_options_recycle .k2t_advance_backup_options_columns {
  display: none !important;
}
.k2t_advance_backup_options_feature .dashicons_item {
  position: absolute;
  right: 0px;
  top: 8px;
  opacity: 0;
}
.k2t_advance_backup_options_feature li:hover .dashicons_item {
  opacity: 1;
  transition: opacity 0.3s linear 0.3s;
  -moz-transition: opacity 0.3s linear 0.3s;
}
.abop_control_file_upload {
  display: none;
}
.advance_backup_options_list_feature li object {
  display: block;
  float: left;
  margin-left: -25px;
  margin-right: 5px;
  padding-top: 3px;
  margin-bottom: -3px;
  cursor: pointer;
}
.notice_popup {
  width: 348px;
  height: 142px;
  background: #fff;
  margin: 0px auto;
  position: relative;
  top: 100px;
  z-index: 9999999999;
  display: none;
  padding: 10px 10px 10px 10px;
}
.notice_popup button {
  margin-left: 0px;
}
.notice_popup select.notice_popup_choise {
  width: 264px;
}
#of_container #content .section.section-k2t_advance_backup .controls {
  width: 100%;
}
/* theme versions in admin theme options */
.type-backup {
  width: 100%;
}
.type-backup .sort_data_ver {
  margin: 0 -15px;
}
.k2t-theme-versions .theme-ver {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .k2t-theme-versions .theme-ver {
    width: 100%;
  }
}
.k2t-theme-versions .theme-ver .wrap-inner {
  padding: 0 15px;
}
.k2t-theme-versions .theme-ver .ver-info {
  position: absolute;
  top: 0;
  font-size: 100%;
  line-height: 1.5;
  display: block;
}
.k2t-theme-versions .theme-ver img {
  max-width: 100%;
  margin-bottom: 10px;
}
#option-tree-settings-api .k2t-theme-versions .theme-ver h4 {
  color: #be9030;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.0;
  font-size: 80%;
  font-weight: normal;
}
#option-tree-settings-api .k2t-theme-versions .theme-ver h2 {
  margin: 0;
  font-size: 115%;
  font-weight: normal;
  text-transform: uppercase;
}
.k2t-theme-versions .theme-ver button {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.k2t-theme-versions .theme-ver:hover button {
  opacity: 1;
  visibility: visible;
}
.k2t-theme-versions .theme-ver #floatingCirclesG {
  left: 44%;
  top: 14%;
  margin-top: -85px;
  margin-bottom: 45px;
  z-index: 10;
}
.wrap.settings-wrap .ver-install-result div.updated {
  margin-bottom: 20px!important;
  padding: 10px 10px;
}
#option-tree-settings-api .ver-install-result .rev-slider-result pre {
  background: none;
  font-size: 90%;
  margin: 0 0 10px 0;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  padding: 0;
  border: 0;
  color: #000;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.k2t-theme-versions.with-transition {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.theme-ver.with-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.versions-filters {
  text-align: right;
  margin: 0 0 20px 0;
  padding: 5px 0px 20px 0px;
}
.versions-filters li {
  list-style: none;
  display: inline-block;
  margin: 0 2px 0 2px;
}
.versions-filters li .btn {
  margin: 0;
  display: block;
  font-size: 85%;
  line-height: 34px;
  height: 34px;
  border: 1px solid #CBCBCB;
  color: #000;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.versions-filters li .btn:hover,
.versions-filters li .btn.active {
  line-height: 34px;
  height: 34px;
  color: #FFF;
  background-color: #cda85c;
  border-color: transparent !important;
}
.ace_editor {
  border: 1px solid #DDD;
  height: 250px;
  width: 530px;
}
.section-textarea .ace_editor {
  width: 345px;
  margin-top: 0px;
  height: 150px;
}
/* Advance Backup Data */
/* advance_backup POPUP STYLE*/
/* advance_backup POPUP STYLE*/
.advance_backup_data_popup_control {
  height: 60px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  margin-left: 0px;
}
.k2t_advance_backup_data_popup_control_cancel,
.k2t_advance_backup_data_popup_control_save {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.k2t_advance_backup_data_popup_control_cancel {
  padding: 6px 10px;
  background: #ee676c;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 55px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  font-family: "Roboto Black", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.k2t_advance_backup_data_popup_control_cancel:hover {
  background: #c23b40;
}
.k2t_advance_backup_data_popup_control_save {
  padding: 6px 10px;
  background: #8dc63f;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 55px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.k2t_advance_backup_data_popup_control_save:hover {
  background: #639c15;
}
.k2t_advance_backup_data_popup_control_close {
  position: absolute;
  right: 20px;
  top: 19px;
  cursor: pointer;
}
.k2t_advance_backup_data_popup_control_close i {
  display: inline-block;
  color: #999;
}
.k2t_advance_backup_data_popup_control_close:hover i {
  color: #222;
}
.advance_backup_data_popup input.of-input,
.advance_backup_data_popup select.of-input {
  width: 100% !important;
}
.advance_backup_data_popup input.checkbox.of-input {
  width: 30px !important;
}
.k2t_advance_backup_data_recycle .k2t_advance_backup_data_item,
.k2t_advance_backup_data_recycle .k2t_advance_backup_data_columns {
  display: none !important;
}
.k2t_advance_backup_data_feature .dashicons_item {
  position: absolute;
  right: 0px;
  top: 8px;
  opacity: 0;
}
.k2t_advance_backup_data_feature li:hover .dashicons_item {
  opacity: 1;
  transition: opacity 0.3s linear 0.3s;
  -moz-transition: opacity 0.3s linear 0.3s;
}
.abop_control_file_upload {
  display: none;
}
.advance_backup_data_list_feature li object {
  display: block;
  float: left;
  margin-left: -25px;
  margin-right: 5px;
  padding-top: 3px;
  margin-bottom: -3px;
  cursor: pointer;
}
.notice_popup {
  width: 348px;
  height: 142px;
  background: #fff;
  margin: 0px auto;
  position: relative;
  top: 100px;
  z-index: 9999999999;
  display: none;
  padding: 10px 10px 10px 10px;
}
.notice_popup button {
  margin-left: 0px;
}
.notice_popup select.notice_popup_choise {
  width: 264px;
}
#of_container #content .section.section-k2t_advance_backup .controls {
  width: 100%;
}
/* theme versions in admin theme options */
.advance_backup_data_popup_content {
  width: 440px;
  height: 480px;
  background: #fff;
  margin: 100px auto;
  padding: 0;
  position: relative;
}
.advance_backup_data_popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  margin: 0 auto;
  z-index: 9999999;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}
.advance_backup_data_popup_content_heading {
  text-align: left;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  padding: 20px;
  margin-bottom: 0px;
}
.advance_backup_data_popup_step_1,
.advance_backup_data_popup_step_2 {
  padding: 0 20px;
  height: 370px;
}
.advance_backup_data_wrong {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #F4E9C0;
  background: #fdf8e4;
  padding: 15px 10px 10px 10px;
  margin-bottom: 15px;
  margin-bottom: 10px;
  margin-top: 25px;
}
.advance_backup_data_hilight_red,
.advance_backup_data_hilight_green {
  background: #ED3A23;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  margin-top: 5px !important;
}
.advance_backup_data_hilight_green {
  background: #056b16;
}
.advance_backup_data_wrong ul {
  margin-top: 20px !important;
}
.advance_backup_data_wrong input[type=checkbox] {
  margin-bottom: 0px !important;
}
.advance_backup_data_wrong label {
  vertical-align: inherit;
}
.advance_backup_data_popup_step_2 .advance_backup_data_wrong {
  margin-bottom: 15px;
  margin-top: 15px;
}
.process_percent_container {
  width: 339px;
  background: #f3f3f3;
  height: 27px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 2px 2px 2px 2px;
}
.process_percent {
  width: 40%;
  height: 100%;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  animation: 10s linear 0s normal none infinite running progress_striped;
  -moz-animation: 10s linear 0s normal none infinite running progress_striped;
  -webkit-animation: 10s linear 0s normal none infinite running progress_striped;
  background-color: #F14D20;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
}
.process_percent span {
  line-height: 26px;
  padding-left: 10px;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes progress_striped {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@-moz-keyframes progress_striped {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@-webkit-keyframes progress_striped {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
.ace_editor {
  display: inline-block !important;
}
.login h1 a {
  background: url("http://demo.lunartheme.com/aslan/wp-content/themes/aslan/framework/assets/images/logo@2x.png") no-repeat;
  width: 200px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.advance_backup_data_popup_content #agree_backup_args {
  float: left;
  min-width: 0;
  margin-right: 10px;
}
.advance_backup_data_popup_content #agree_backup_args + label {
  padding-top: 10px;
}
.advance_backup_data_popup_content .advance_backup_data_popup_control_start {
  margin: 6px 10px 0px 0px !important;
}
.advance_backup_data_popup_control .process_percent_container {
  max-width: 300px;
}
.advance_backup_data_popup_control .advance_backup_data_popup_control_cancel {
  height: 30px !important;
  line-height: 30px !important;
}
.hamburger {
  padding: 6px 15px 0;
  display: none;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  float: right;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 568px) {
  .hamburger {
    padding-right: 0;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #3D3D3D;
  border-radius: 0;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 8px;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider .hamburger-inner::after {
  top: 17px;
}
.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  top: 20px;
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
