<%= form_for(@mcard) do |f| %>
  <% if @mcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mcard.errors.count, "error") %> prohibited this mcard from being saved:</h2>

      <ul>
      <% @mcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :digits %><br />
    <%= f.text_field :digits %>
  </div>
  <div class="field">
    <%= f.label :ccv %><br />
    <%= f.text_field :ccv %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br />
    <%= f.text_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
