<h1>Listing mcards</h1>

<table>
  <tr>
    <th>Digits</th>
    <th>Ccv</th>
    <th>Expiration</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcards.each do |mcard| %>
  <tr>
    <td><%= mcard.digits %></td>
    <td><%= mcard.ccv %></td>
    <td><%= mcard.expiration %></td>
    <td><%= mcard.usuario_id %></td>
    <td><%= link_to 'Show', mcard %></td>
    <td><%= link_to 'Edit', edit_mcard_path(mcard) %></td>
    <td><%= link_to 'Destroy', mcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcard', new_mcard_path %>
