<p id="notice"><%= notice %></p>

<p>
  <b>Digits:</b>
  <%= @mcard.digits %>
</p>

<p>
  <b>Ccv:</b>
  <%= @mcard.ccv %>
</p>

<p>
  <b>Expiration:</b>
  <%= @mcard.expiration %>
</p>

<p>
  <b>Usuario:</b>
  <%= @mcard.usuario_id %>
</p>


<%= link_to 'Edit', edit_mcard_path(@mcard) %> |
<%= link_to 'Back', mcards_path %>
