<%= form_for(@wod_item) do |f| %>
  <% if @wod_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wod_item.errors.count, "error") %> prohibited this wod_item from being saved:</h2>

      <ul>
      <% @wod_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_id %><br />
    <%= f.number_field :workout_id %>
  </div>
  <div class="field">
    <%= f.label :reps %><br />
    <%= f.number_field :reps %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
