<h1>Listing wod_items</h1>

<table>
  <tr>
    <th>Workout</th>
    <th>Reps</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wod_items.each do |wod_item| %>
  <tr>
    <td><%= wod_item.workout_id %></td>
    <td><%= wod_item.reps %></td>
    <td><%= wod_item.time %></td>
    <td><%= link_to 'Show', wod_item %></td>
    <td><%= link_to 'Edit', edit_wod_item_path(wod_item) %></td>
    <td><%= link_to 'Destroy', wod_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wod item', new_wod_item_path %>
