<p id="notice"><%= notice %></p>

<p>
  <b>Workout:</b>
  <%= @wod_item.workout_id %>
</p>

<p>
  <b>Reps:</b>
  <%= @wod_item.reps %>
</p>

<p>
  <b>Time:</b>
  <%= @wod_item.time %>
</p>


<%= link_to 'Edit', edit_wod_item_path(@wod_item) %> |
<%= link_to 'Back', wod_items_path %>
