<%= simple_form_for @notificacione, :html => {:multipart => true,class:'form'} do |f|%>
  <% if @notificacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notificacione.errors.count, "error") %> prohibited this notificacione from being saved:</h2>

      <ul>
      <% @notificacione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :diastopay, required:true,label:"Días anteriores a la vigencia notificación del pago",input_html: { class:'col-md-12 form-control' } %>

  Enviar mail al administrador(es) al recibir pago
    <%= f.input_field :mailtoadmin,:as=>:boolean,label:"",input_html:{ class:'form-control '} %>
  
</br>
  <button type="submit" class="btn green">Guardar</button>
<% end %>

<br>
<br>
<br>
<br>