<div class="card shadow">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Configuración de notificaciones</h3>
        </div>
        <div class="col text-right">
          <div class="actions">
            
          </div>
        </div>
      </div>
    </div>
   
    <div class="card-body">
         <%= render "/notificaciones/form" %>
         <%= render "/correos/form" %>
    </div>
    <br>
    <br>
    <br>
</div>

<br>
<br>
<br>
<br>
<br>