<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @notificacione.id %>
</p>

<p>
  <b>Diastopay:</b>
  <%= @notificacione.diastopay %>
</p>

<p>
  <b>Mailtoadmin:</b>
  <%= @notificacione.mailtoadmin %>
</p>


<%= link_to 'Edit', edit_notificacione_path(@notificacione) %> |
<%= link_to 'Back', notificaciones_path %>
