<% if request.original_url.index('usuarios/login')==nil  %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>SPORTFIT</title>
  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <% if request.original_url.index('establecimientos')!=nil  %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZaFXyd4_8iMAH-VMxpLDMcCm0GC8n0Lo&libraries=places"></script>
    <% end %>
  <% if request.original_url.index('entradas')!=nil  %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"/></script>
  
  <link rel="stylesheet" href="/css/screen-keypad/style.css" type="text/css"/>
  <% end %>
  <% if session[:cuser]!= nil and (session[:cuser].tipo == isAdmin() or session[:cuser].tipo == isReceptionist() or session[:cuser].tipo == isManager())   %>
  <script src="/js/usb/serial.js"/></script>
  <% end %>
  <!-- Argon CSS -->
  <link type="text/css" href="/assets/css/argon.css?v=1.0.0" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="/theme/assets/global/plugins/bootstrap-summernote/summernote.css">
<% if request.original_url.index('ejercicios')!=nil  %>
<link rel="stylesheet" type="text/css" href="/js/videocontrols/jquery.videocontrols.css">

<% end -%>

<% if request.original_url.index('wod_roots')!=nil  %>
<% end -%>
<% if request.original_url.index('establecimientos/new')!=nil or request.original_url.index('establecimientos/')!=nil %>
	<link rel="stylesheet" type="text/css" href="/css/working-hours.css">
<% end %>

  <script type="text/javascript" 
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
  <script type='text/javascript' 
  src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css", media: "all" %>
<%= javascript_include_tag "application", defer: true %>
<script type="text/javascript">
	<% if session[:cuser] != nil and session[:cuser].tipo==1 %>
function welcomeUser(sosn){
	$.post( "/usuarios/welcomeUser", { usuario:sosn,authenticity_token:'<%= form_authenticity_token.to_s %>' })
  			.done(function( data ) {
    		
  		});
  		}
  			<% end %>
</script>


<link href="/theme/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">

<link href="/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
<link href="/theme/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
<link href="/theme/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
<link href="/theme/assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
<link href="/theme/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" -->
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico">
<meta content="authenticity_token" name="csrf-param" />
<meta content="<%= form_authenticity_token.to_s %>" name="csrf-token" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="d-flex flex-column min-vh-100">
	<% if @isshow==nil %>
		<%= render "shared/navigationBar" %>
	<% end %>
	<div class="main-content flex-grow-1">
        <%= render "shared/topNavigationBar" %>
        <% if @isshow==nil %>
            <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(/images/bg01-770x435.jpg); background-size: cover; background-position: center top;">
                <!-- Mask -->
                
                <span class="mask bg-gradient-default opacity-8"></span>
                
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="header-body">
                    <!-- Card stats -->
                    
                    </div>
                </div>
            </div>
            <% end %>
		
		<!-- Page content -->
		<div class="container-fluid mt--7">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE BREADCRUMB -->
			
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->
			
			<div class="row">
				<div class="col-md-12">
				<%= render "shared/railsNotice" %>
				<%= yield %>
				</div>
			</div>

			
		</div>
	</div>
    <!-- END PAGE CONTENT INNER -->
    <br>
    <br>
    <br>
    <%= render "shared/footer" %>
    <!-- END FOOTER -->





<% if session[:cuser].tipo== isAdmin() or session[:cuser].tipo== isManager() or session[:cuser].tipo== isReceptionist() %>
    <div class="modal fade" id="modal-notification-fail" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-danger">
                
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Problemas con la membresía</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <a href="#!" class="avatar avatar-xl">
                                <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg" id="modal-fail-img">
                            </a>
                        </div>
                        <div class="col">
                            <div class="py-3">
                                <h4 class="heading mt-4" id="modal-fail-name">Juan del monte</h4>
                                <p>Hay un problema con la identificación.</p>
                                <p id="modal-fail-msg"></p>
                            </div>
                        </div>                
                    </div>
                </div>
                
                <div class="modal-footer">
                    <!-- button type="button" class="btn btn-white">Ok, Got it</button>
                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button --> 
                </div>
                
            </div>
        </div>
    </div>
    <% if request.url.index("entradas")!=nil %>
        <div class="modal fade" id="modal-notification-success" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-success modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-success">
                    
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Acceso concedido</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <a href="#!" class="avatar avatar-xl">
                                    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg" id="modal-success-img">
                                </a>
                            </div>
                            <div class="col">
                                <div class="py-3">
                                    <h4 class="heading mt-4" id="modal-success-name">Juan del monte</h4>
                                    <p>Bienvenido, no tienes adeudos este mes.</p>
                                    <p id="modal-success-msg">Hace 4 días que no asistías, tienes 1 recompensa pendiente de intercambiar.</p>
                                </div>
                            </div>                
                        </div>
                    
                        
                        
                    </div>
                    
                    <div class="modal-footer">
                        
                        <!-- button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button --> 
                    </div>
                    
                </div>
            </div>
        </div>
    <% end %>
<% end %>




<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<!-- Argon JS -->
<script src="/assets/js/argon.js?v=1.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.2/js/fileinput.min.js"></script>

<% if request.url.index("dashboard")!=nil %>
<script src="/theme/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="/theme/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="/theme/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<% end %>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<% if request.url.index("dashboard")!=nil %>
<script src="/theme/assets/admin/pages/scripts/index3.js" type="text/javascript"></script>
<% end %>
<script type="text/javascript" src="/theme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="/theme/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>

<% if request.url.index("usuarios")!=nil %>
<script src="/camera.js" type="text/javascript"></script>
<% end %>

<!-- END PAGE LEVEL SCRIPTS -->
<script>
<% if request.url.index("notificaciones") %>
  function valor(){
  	$('#htmltt').val($('#summernote_1').code());
  }
  <% end %>
jQuery(document).ready(function() {    
    <% if request.url.index("establecimientos")!=nil %>

    <%end%>
   <% if request.url.index("notificaciones") %>

    var handleWysihtml5 = function () {
        if (!jQuery().wysihtml5) {
            return;
        }

        if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["/theme/assets/global/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }
    }

    var handleSummernote = function () {
        $('#summernote_1').summernote({height: 300});
    }

    handleWysihtml5();
    handleSummernote();





   <% end %>
   <% if request.url.index("pagos")!=nil %>
   <% paymentDetails=getPaymentDetails(session[:cuser]) %>
            OpenPay.setId('<%= paymentDetails.openpayid %>');
            OpenPay.setApiKey('<%= paymentDetails.openpaypub %>');
            <% if paymentDetails.openpayprueba == 1 %>
            OpenPay.setSandboxMode(true);
            <% end %>
    
   $('#pay-button').on('click', function(event) {
       event.preventDefault();
       $("#pay-button").prop( "disabled", true);
       OpenPay.token.extractFormAndCreate('payment-form', success_callbak, error_callbak);                
});
var success_callbak = function(response) {
              var token_id = response.data.id;
              $('#token_id').val(token_id);
              $('#payment-form').submit();
};
var error_callbak = function(response) {
     var desc = response.data.description != undefined ? 
        response.data.description : response.message;
     alert("ERROR [" + response.status + "] " + desc);
     $("#pay-button").prop("disabled", false);
};
<% end %>
<% if request.url.index("pagos")!=nil or request.url.index("/usuarios")!=nil %>
   var initTable1 = function () {

        var table = $('#sample_1');

        // begin first table
        table.dataTable({

            "columns": [
            <% if request.url.index("/usuarios")!=nil %>
            {"orderable": false},
            <% end %>
            {"orderable": false},
            
            {"orderable": false},
            {"orderable": false},
            {"orderable": false},
            {"orderable": true},
            {"orderable": false},
            {"orderable": false},
            {"orderable": true}],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 5,            
            "pagingType": "bootstrap_full_number",
            "language": {
            	"emptyTable":     "No hay datos de pagos aún",
                "lengthMenu": "  _MENU_ Registros",
                "search": "Buscar",
                "sInfoFiltered":   "(filtrado de _MAX_ registros)",
                "sInfoEmpty":      "No se encontraron registros",
                "sZeroRecords":    "No se encontraron registros",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "paginate": {
                    "previous":"Anterior",
                    "next": "Siguiente",
                    "last": "Último",
                    "first": "Primero"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [0]
            }, {
                "searchable": true,
                "targets": [0]
            }],
            "order": [
                [1, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#sample_1_wrapper');

        table.find('.group-checkable').change(function () {
            var set = jQuery(this).attr("data-set");
            var checked = jQuery(this).is(":checked");
            jQuery(set).each(function () {
                if (checked) {
                    $(this).attr("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).attr("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });
            jQuery.uniform.update(set);
        });

        table.on('change', 'tbody tr .checkboxes', function () {
            $(this).parents('tr').toggleClass("active");
        });

        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    }
    initTable1();

    <% end %>
    <% if request.url.index("dashboard")!=nil %>
    //Index.init();
    <% end %>

    



    
});

<% if session[:cuser].tipo==isAdmin() or session[:cuser].tipo==isManager() or session[:cuser].tipo==isReceptionist()%>

function searchPerson(){

		$.post( "/usuarios/buscar", { usuario:$("#sosnum").val(),authenticity_token:'<%= form_authenticity_token.to_s %>' })
  			.done(function( data ) {
  				var textoUp=data.nombre+" / "+data.deuda;
    		
            $('#spaquet').val(data.plan);
            $('#spaquet').trigger('change');
            $('#spaquet')[0].dispatchEvent(new Event('change', { bubbles: true }));
    		if (data.inscripcion=="OK_PAID") {
    			$('#sinscripcion').val(0);
    			$('#sinscripcion').prop( "disabled", true);
    			textoUp+=" / Inscripción pagada";
    		} else {
    			$('#sinscripcion').prop( "disabled", false);
    			textoUp+=" / Inscripción SIN PAGAR";
    		}
    		$('#nasocio').val(textoUp);
    		OpenPay.setId(data.opid);
            OpenPay.setApiKey(data.oppub);
  		});

    }
    function searchPerson2() {
        $.post("/usuarios/buscar", { usuario: $("#sosnum2").val(), authenticity_token: '<%= form_authenticity_token.to_s %>' })
          .done(function(data) {
            var textoUp = data.nombre + " / " + data.planDesc + " / " + data.deuda;
      
            // Set the value and ensure the correct option is visually selected
            $('#spaquet2').val(data.plan); // Set the value
            $('#spaquet2 option[value="' + data.plan + '"]').prop('selected', true); // Explicitly select the option
            $('#spaquet2').trigger('change'); // Trigger change event
            $('#spaquet2')[0].dispatchEvent(new Event('change', { bubbles: true }));
            // Handle inscription field
            if (data.inscripcion === "OK_PAID") {
              $('#sinscripcion2').val(0);
              $('#sinscripcion2').prop("disabled", true);
              textoUp += " / Inscripción pagada";
            } else {
              $('#sinscripcion2').prop("disabled", false);
              textoUp += " / Inscripción SIN PAGAR";
            }
      
            $('#nasocio2').val(textoUp);
          });
      }
function pauseUser(mid){
	// alert("La suscripción se ha puesto en pausa");
	$.post( "/pagos/pauseUser.json", { userid:mid,authenticity_token:'<%= form_authenticity_token.to_s %>' })
  			.done(function( data ) {
    		alert("Cambio realizado");
  		});
}
<% end %>

<% if request.url.index("corte_cajas")!=nil %>
    function makeCut(){
	$.post( "/pagos/corteCaja.json", { empleado:$('#employee').val(),finicio:$('#datepickeri').val(),ffin:$('#datepickerf').val(),authenticity_token:'<%= form_authenticity_token.to_s %>' })
        .done(function( data ) {
        $("#corteDeposito").html("");
        $("#corteDeposito").append("<p><strong>Pagos con tarjeta:</strong> $"+data.tarjeta+"</p>");
        $("#corteDeposito").append("<p><strong>Pagos con efectivo:</strong> $"+data.efectivo+"</p>");
        $("#corteDeposito").append("<p><strong>Pagos con terminal:</strong> $"+data.terminal+"</p>");
        $("#corteDeposito").append("<p><strong>Pagos por convenio:</strong> $"+data.convenio+"</p>");
        $("#corteDeposito").append("<p><strong>Total del corte:</strong> $"+data.total+"</p>");
        $("#cutDetails").html("");
        for(var rp=0;rp<data.pagos.length;rp++){
            $("#cutDetails").append("<tr class='odd gradeX' ><td>"+data.pagos[rp].nombre+"</td>"+"<td>"+data.pagos[rp].fecha+"</td>"+"<td>$"+data.pagos[rp].monto+"</td>"+"<td>"+data.pagos[rp].metodo+"</td></tr>");
        }
  	});
}
<% end %>
<% if session[:cuser]!=nil %>
<% if session[:cuser].tipo==isAdmin() or session[:cuser].tipo==isReceptionist() or session[:cuser].tipo==isManager()%>
function activateIot(uid){
	$.post( "/usuarios/openDoor.json", { uid:uid,authenticity_token:'<%= form_authenticity_token.to_s %>' })
  			.done(function( data ) {
    		
  		});
  	setTimeout(deactivateIot, 5000, uid);
}
function deactivateIot(uid){
	$.post( "/usuarios/closeDoor.json", {uid:uid, authenticity_token:'<%= form_authenticity_token.to_s %>' })
        .done(function( data ) {
        
    });
}
<% end %>
<% end %>
<% if request.url.index("/pagos")!=nil %>

 $(document).ready(function() {
  var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");
  });


<% end %>
</script>
<% if request.original_url.index('establecimientos/')!=nil %>
<script type="text/javascript" src="/js/working-hours.js"></script>
<% end %>
<% if request.original_url.index('ejercicios')!=nil  %>
<script type="text/javascript" src="/js/videocontrols/jquery.videocontrols.js"></script>
<script type="text/javascript"> 
    $('video').videocontrols(); 
</script>
<% end -%>
<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<% if request.original_url.index('wod_roots')!=nil  %>

<% end -%>

<% if session[:cuser].tipo == isAdmin() or session[:cuser].tipo == isReceptionist() or session[:cuser].tipo == isManager() %>
<script src="/js/notifications.js"/></script>
<script>

// Enable pusher logging - don't include this in production
Pusher.logToConsole = true;

var pusher = new Pusher('038727943ef67c486a35', {
  cluster: 'mt1',
  forceTLS: true
});
<% 
channelHash = "njksdfwe23"
if session[:cuser].gymorigin != nil 
   channelHash= Establecimiento.find_by_id(session[:cuser].gymorigin).uniq
else
    channelHash= session[:cuser].networkid
end
%>
var channel = pusher.subscribe('<%= channelHash %>');
channel.bind('issue-subscription', function(data) {
    if(data.status == 'OK'){
        setTimeout(function(){ 
            $('#modal-notification-success').modal('hide');
        }, 4000);
        $('#modal-success-msg').text(data.message);
        $('#modal-success-img').attr("src",data.avatar);
        $('#modal-success-name').text(data.name+" "+data.lastname);
        $('#modal-notification-success').modal('show');
        
    } else {
        setTimeout(function(){ 
            $('#modal-notification-fail').modal('hide');
        }, 3000);
        $('#modal-fail-msg').text(data.message);
        $('#modal-fail-img').attr("src",data.avatar);
        $('#modal-fail-name').text(data.name+" "+data.lastname);
        $('#modal-notification-fail').modal('show');
    }
});

</script>
<% end %>
</body>
</html>
<% else %>
<%= yield %>
<% end %>